### **Objectives**

1. ì‹¤ìŠµëª… : Knowledge Distillationì„ ìœ„í•œ LLM ê¸°ë°˜ Pseudo labeled ë°ì´í„° ìƒì„±
2. í•µì‹¬ ì£¼ì œ:
    1. API ì…‹íŒ…
    2. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
    3. í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§
    4. LLMì„ ì´ìš©í•œ Pseudo Labeling
3. í•™ìŠµ ëª©í‘œ :
    1. Teacher ëª¨ë¸(LLM)ë¡œ ì‚¬ìš©í•  Upstage Solarë¥¼ ì…‹íŒ…í•  ìˆ˜ ìˆë‹¤.
    2. ë¯¸ë¦¬ ì €ì¥ëœ ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆë‹¤.
    3. LLMì„ ì´ìš©í•œ Knowledge Distillationì„ ìœ„í•´ í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§ì„ ì§„í–‰í•  ìˆ˜ ìˆë‹¤.
    4. LLMì„ ì´ìš©í•˜ì—¬ Pseudo Labelingì„ í•  ìˆ˜ ìˆë‹¤.
4. í•™ìŠµ ê°œë…: í‚¤ì›Œë“œëª… :
    1. LLM
    2. Prompt Engineering
    3. Pseudo Labeling
5. í•™ìŠµ ë°©í–¥ :
  - ë¡œì»¬ì—ì„œ ëŒë¦¬ê¸° ì–´ë ¤ìš´ parameter sizeì˜ ê±°ëŒ€ ëª¨ë¸ì„ APIë¥¼ ì´ìš©í•´ì„œ ë¶ˆëŸ¬ì™€ Pseudo Labelingì„ ì§„í–‰í•˜ì—¬ í•™ìŠµ ë°ì´í„°ë¥¼ ì¤€ë¹„í•©ë‹ˆë‹¤.
  - ì‹¤ìŠµ ì½”ë“œëŠ” ì¡°êµê°€ ì§ì ‘ êµ¬í˜„í•œ ì½”ë“œë¥¼ ì°¸ê³ í•˜ì—¬ í•™ìŠµí•©ë‹ˆë‹¤.
  - í•´ë‹¹ ì‹¤ìŠµì€ ë°ì´í„°ê°€ ìˆê¸´ í•˜ì§€ë§Œ ì •ë‹µ ë°ì´í„°ê°€ ì—†ëŠ” ìƒí™©ì„ ì–´ë–»ê²Œ í•˜ë©´ í•´ê²°í•  ìˆ˜ ìˆì„ì§€ ê³ ë¯¼í•©ë‹ˆë‹¤.

### **Prerequisites**
```
dotenv==0.9.9
openai==1.100.0
pandas==2.2.3
```

# 0. Knowledge Distillation(ì§€ì‹ ì¦ë¥˜, KD) ë°©ë²•ë¡ 

ìš°ë¦¬ê°€ ì§€ê¸ˆ ì‹¤ìŠµí•˜ë ¤ëŠ” **Pseudo Labeling**ì€ KDì˜ ê°€ì¥ ê¸°ë³¸ì ì¸ í˜•íƒœ ì¤‘ í•˜ë‚˜ì…ë‹ˆë‹¤. í•˜ì§€ë§Œ í•™ê³„ì™€ í˜„ì—…ì—ì„œëŠ” Teacher ëª¨ë¸ì˜ 'ì–´ë–¤ ì§€ì‹'ì„ 'ì–´ë–»ê²Œ' ë¹¼ë‚´ëŠëƒì— ë”°ë¼ ë‹¤ì–‘í•œ ë°©ë²•ë¡ ì´ ì¡´ì¬í•©ë‹ˆë‹¤. ì´ë¥¼ í¬ê²Œ ì „ë‹¬í•˜ëŠ” ì§€ì‹ì˜ í˜•íƒœ(Knowledge Type)ì— ë”°ë¼ ì„¸ ê°€ì§€ë¡œ ë¶„ë¥˜í•˜ê³ , ìµœê·¼ **LLM ì‹œëŒ€ì˜ ë°©ë²•ë¡ **ì„ ë³„ë„ë¡œ ì§šì–´ë³´ê² ìŠµë‹ˆë‹¤.

### **1. Response-Based Knowledge (ê²°ê³¼ ì¤‘ì‹¬ ì¦ë¥˜)**

ê°€ì¥ ì „í†µì ì´ê³ (Geoffrey Hinton, 2015), ì§€ê¸ˆë„ ê°€ì¥ ë§ì´ ì“°ì´ëŠ” ë°©ì‹ì…ë‹ˆë‹¤. Teacherì˜ **ìµœì¢… ì¶œë ¥ê°’(Last Layer Output)**ì„ Studentê°€ ëª¨ë°©í•˜ê²Œ í•©ë‹ˆë‹¤.

* **Soft Targets (Logits Matching):**
  * **ê°œë…:** ë‹¨ìˆœíˆ ì •ë‹µ(Hard Label, [0, 1, 0])ë§Œ ë°°ìš°ëŠ” ê²Œ ì•„ë‹ˆë¼, ì˜¤ë‹µì´ì§€ë§Œ ê°€ëŠ¥ì„± ìˆëŠ” í™•ë¥ (Soft Label, [0.05, 0.9, 0.05])ê¹Œì§€ ë°°ì›ë‹ˆë‹¤.
  * **í•µì‹¬:** `Temperature (T)` íŒŒë¼ë¯¸í„°ë¥¼ ì‚¬ìš©í•˜ì—¬ í™•ë¥  ë¶„í¬ë¥¼ ë¶€ë“œëŸ½ê²Œ(Softening) ë§Œë“­ë‹ˆë‹¤. ì´ë¥¼ í†µí•´ StudentëŠ” "ì´ ì‚¬ì§„ì€ ê°•ì•„ì§€ì§€ë§Œ, ê³ ì–‘ì´ì™€ë„ ê½¤ ë¹„ìŠ·í•˜êµ¬ë‚˜"ë¼ëŠ” **Dark Knowledge(ìˆ¨ê²¨ì§„ ì§€ì‹)**ë¥¼ í•™ìŠµí•©ë‹ˆë‹¤.


* **Hard Targets (Pseudo Labeling):**
  * **ê°œë…:** Teacherê°€ ë±‰ì€ ê°€ì¥ ë†’ì€ í™•ë¥ ì˜ í´ë˜ìŠ¤ë¥¼ ì •ë‹µ(Ground Truth)ìœ¼ë¡œ ê°„ì£¼í•˜ê³  í•™ìŠµí•©ë‹ˆë‹¤.
  * **íŠ¹ì§•:** ìš°ë¦¬ê°€ ì§„í–‰í•  **ì´ë²ˆ ì‹¤ìŠµ**ì´ ë°”ë¡œ ì—¬ê¸°ì— í•´ë‹¹í•©ë‹ˆë‹¤. Teacher(API)ì˜ Logit(í™•ë¥ ê°’)ì— ì ‘ê·¼í•  ìˆ˜ ì—†ëŠ” **Black-box** í™˜ê²½ì—ì„œ ê°€ì¥ ìœ ìš©í•œ ë°©ë²•ì…ë‹ˆë‹¤.



### **2. Feature-Based Knowledge (ì¤‘ê°„ ê³¼ì • ì¦ë¥˜)**

Teacher ëª¨ë¸ì´ ê¹Šì–´ì§ˆìˆ˜ë¡ ìµœì¢… ì¶œë ¥ê°’ë³´ë‹¤ëŠ” **ì¤‘ê°„ ë ˆì´ì–´(Intermediate Layers)**ì— ë” í’ë¶€í•œ íŠ¹ì§•(Feature) ì •ë³´ê°€ ë‹´ê²¨ ìˆë‹¤ëŠ” ì ì— ì°©ì•ˆí•œ ë°©ë²•ì…ë‹ˆë‹¤.

* **Hint Learning / Feature Map Matching:**
  * **ê°œë…:** Teacherì˜ ì¤‘ê°„ ë ˆì´ì–´ì—ì„œ ë‚˜ì˜¤ëŠ” Feature Mapê³¼ Studentì˜ ì¤‘ê°„ ë ˆì´ì–´ Feature Mapì´ ìœ ì‚¬í•´ì§€ë„ë¡ ì†ì‹¤ í•¨ìˆ˜(Loss Function)ë¥¼ ì„¤ê³„í•©ë‹ˆë‹¤.
  * **ì—”ì§€ë‹ˆì–´ë§ ì´ìŠˆ:** Teacherì™€ Studentì˜ ë ˆì´ì–´ í¬ê¸°(Dimension)ê°€ ë‹¤ë¥´ê¸° ë•Œë¬¸ì—, ì´ë¥¼ ë§ì¶°ì£¼ê¸° ìœ„í•œ ì¶”ê°€ì ì¸ **Regressor(ë³€í™˜ ë ˆì´ì–´)**ê°€ í•„ìš”í•©ë‹ˆë‹¤.


* **Attention Transfer:**
  * **ê°œë…:** Teacherê°€ ì…ë ¥ ë°ì´í„°ì˜ 'ì–´ë–¤ ë¶€ë¶„'ì„ ì¤‘ìš”í•˜ê²Œ ë³´ê³  ìˆëŠ”ì§€(Attention Map)ë¥¼ Studentì—ê²Œ ì „ìˆ˜í•©ë‹ˆë‹¤. "ì´ ë¬¸ì œë¥¼ í’€ ë•Œ ì—¬ê¸°ë¥¼ ë´ì•¼ í•´"ë¼ê³  ì‹œì„ ì„ êµì •í•´ ì£¼ëŠ” ê²ƒê³¼ ê°™ìŠµë‹ˆë‹¤.



### **3. Relation-Based Knowledge (ê´€ê³„ ì¤‘ì‹¬ ì¦ë¥˜)**

ë°ì´í„° í•˜ë‚˜í•˜ë‚˜ì˜ ì¶œë ¥ê°’ì„ ëª¨ë°©í•˜ëŠ” ê²ƒì„ ë„˜ì–´, ë°ì´í„°ë“¤ ì‚¬ì´ì˜ **ê´€ê³„(Relation)**ë¥¼ í•™ìŠµí•©ë‹ˆë‹¤.

* **Distance-wise Distillation:**
  * **ê°œë…:** Teacher ëª¨ë¸ ê³µê°„ì—ì„œ ë°ì´í„° Aì™€ Bê°€ ê°€ê¹ê³  Cê°€ ë©€ë‹¤ë©´, Student ëª¨ë¸ ê³µê°„ì—ì„œë„ A-BëŠ” ê°€ê¹ê³  CëŠ” ë©€ì–´ì•¼ í•©ë‹ˆë‹¤. ì´ëŸ¬í•œ ê¸°í•˜í•™ì  êµ¬ì¡°ë¥¼ ë³´ì¡´í•©ë‹ˆë‹¤.


* **Graph-based Distillation:**
  * **ê°œë…:** ë°ì´í„°ë¥¼ ê·¸ë˜í”„ì˜ ë…¸ë“œë¡œ ë³´ê³ , Teacherê°€ í˜•ì„±í•œ ê·¸ë˜í”„ êµ¬ì¡°(Graph Structure)ë¥¼ Studentê°€ ëª¨ë°©í•˜ê²Œ í•©ë‹ˆë‹¤.



### **4. LLM ì‹œëŒ€ì˜ KD ë°©ë²•ë¡  (Generative KD)**

ìµœê·¼ LLM íŠ¸ë Œë“œì—ì„œëŠ” ìœ„ ë°©ë²•ë¡ ë“¤ì´ ì¡°ê¸ˆ ë‹¤ë¥´ê²Œ ì ìš©ë©ë‹ˆë‹¤. íŠ¹íˆ APIë§Œ ì—´ë ¤ìˆëŠ” ê±°ëŒ€ ëª¨ë¸(GPT-4, Solar ë“±)ì„ Teacherë¡œ ì“¸ ë•ŒëŠ” **Black-box KD**ê°€ ì£¼ë¥¼ ì´ë£¹ë‹ˆë‹¤.

* **CoT (Chain-of-Thought) Distillation:**
  * **ê°œë…:** ë‹¨ìˆœíˆ "ë‹µ: A"ë¥¼ ë°°ìš°ëŠ” ê²Œ ì•„ë‹ˆë¼, Teacherê°€ ìƒì„±í•œ **"ì¶”ë¡  ê³¼ì •(Reasoning)"** í…ìŠ¤íŠ¸ ìì²´ë¥¼ í•™ìŠµ ë°ì´í„°ì— í¬í•¨ì‹œí‚µë‹ˆë‹¤.
  * **íš¨ê³¼:** Student ëª¨ë¸(ì†Œí˜• LLM)ì˜ ë…¼ë¦¬ì  ì‚¬ê³ ë ¥ì„ ë¹„ì•½ì ìœ¼ë¡œ ìƒìŠ¹ì‹œí‚µë‹ˆë‹¤. ìš°ë¦¬ ì‹¤ìŠµì˜ í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§ ë‹¨ê³„ì—ì„œ `reason` í•„ë“œë¥¼ ì¶”ê°€í•˜ëŠ” ê²ƒì´ ë°”ë¡œ ì´ íš¨ê³¼ë¥¼ ë…¸ë¦° ê²ƒì…ë‹ˆë‹¤.


* **Instruction Tuning Distillation:**
  * **ê°œë…:** Teacher ëª¨ë¸ì„ ì´ìš©í•´ ë‹¤ì–‘í•œ ì§€ì‹œë¬¸(Instruction)ê³¼ ê·¸ì— ëŒ€í•œ ìˆ˜í–‰ ê²°ê³¼ ìŒì„ ëŒ€ëŸ‰ ìƒì„±í•˜ì—¬ Studentë¥¼ íŠœë‹í•©ë‹ˆë‹¤. (ì˜ˆ: Stanford Alpaca)


* **In-Context Learning Distillation:**
  * **ê°œë…:** Teacherì—ê²Œ Few-shot ì˜ˆì‹œë¥¼ ì£¼ì–´ ìˆ˜í–‰ ëŠ¥ë ¥ì„ ëŒì–´ì˜¬ë¦° ë’¤, ê·¸ ê²°ê³¼ë¥¼ Studentì˜ í•™ìŠµ ë°ì´í„°ë¡œ ì”ë‹ˆë‹¤. ì¦‰, Teacherì˜ 'ë§¥ë½ ì´í•´ ëŠ¥ë ¥'ì„ ë°ì´í„° í˜•íƒœë¡œ ì¦ë¥˜í•˜ëŠ” ê²ƒì…ë‹ˆë‹¤.

#### ì •ë¦¬
1. ìµœê·¼ LLMì˜ ë“±ì¥ìœ¼ë¡œ ì¸í•´ì„œ í˜„ì—…ì—ì„œëŠ” ê³¼ê±°ì˜ ëª¨ë¸ ë ˆì´ì–´ë¥¼ ê±´ë“œë¦¬ëŠ” ë°©ë²•ë¡ ì—ì„œ GPT ë“±ì˜ ê±°ëŒ€ ëª¨ë¸ APIë¥¼ ì´ìš©í•˜ì—¬ í•©ì„± ë°ì´í„°ë¥¼ ë§Œë“¤ê±°ë‚˜ ê¸°ì¡´ì— ìˆëŠ” ë°ì´í„°ì— ì •ë‹µ ë¼ë²¨ë§ì„ ëª¨ë¸ë¡œ ë§Œë“œëŠ” ë°©ë²•ë¡ ìœ¼ë¡œ ì „í™˜í•˜ê³  ìˆìŠµë‹ˆë‹¤. ê·¸ ì´ìœ ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.
   1. í˜„ì—…ì—ì„œëŠ” ì •ì œë˜ì§€ ì•Šì€ ë°ì´í„°ëŠ” ë§¤ìš° ë§ìŠµë‹ˆë‹¤. ê·¸ëŸ¬ë‚˜ ìƒëŒ€ì ìœ¼ë¡œ ë¹„ì‹¼ ë°ì´í„° ë¼ë²¨ë§ ë¹„ìš©ìœ¼ë¡œ ëª¨ë“  ë°ì´í„°ë¥¼ ë¼ë²¨ë§í•˜ì§€ ëª»í•©ë‹ˆë‹¤.
   2. ë ˆì´ì–´ë¥¼ ê±´ë“œë¦¬ëŠ” íš¨ê³¼ ëŒ€ë¹„ ê³ í€„ë¦¬í‹° í•™ìŠµ ë°ì´í„°ë¥¼ ë§Œë“œëŠ” ë°©ë²•ë¡ ì´ ì¢€ë” íš¨ê³¼ì ì…ë‹ˆë‹¤. íŠ¹íˆ, LLMìœ¼ë¡œ ë„˜ì–´ì˜¤ê²Œ ë˜ë©´ì„œ ê³ í€„ë¦¬í‹° í•™ìŠµ ë°ì´í„°ì˜ ì¤‘ìš”ì„±ì€ ë”ë”ìš± ì»¤ì§€ê³  ìˆìŠµë‹ˆë‹¤.
2. Teacher ëª¨ë¸ì´ ìƒì„±í•œ ë°ì´í„°ë¥¼ í•™ìŠµí•¨ìœ¼ë¡œì¨ Teacher ëª¨ë¸ì˜ ì •ë‹µì„ Student ëª¨ë¸ì´ ê·¸ëŒ€ë¡œ í•™ìŠµí•˜ê²Œ ë˜ì–´ ì •ë‹µì„ "ì „ìˆ˜"ë°›ëŠ” íš¨ê³¼ë¥¼ ì–»ìŠµë‹ˆë‹¤.

# 1. í™˜ê²½ì„¤ì • ë° API ì…‹íŒ…

- os environment variableì— ëŒ€í•´ì„œ ì•Œì•„ë´…ë‹ˆë‹¤.
- Solar APIë¥¼ ì…‹íŒ…í•©ë‹ˆë‹¤.

### 1.1. os environment variable

ğŸ§¾ í™˜ê²½ ë³€ìˆ˜(Environment Variable)ë€?

í™˜ê²½ ë³€ìˆ˜(Environment Variable)ëŠ” ìš´ì˜ì²´ì œ(Windows, macOS, Linux ë“±)ê°€ í”„ë¡œê·¸ë¨ ì‹¤í–‰ í™˜ê²½ì— ì œê³µí•˜ëŠ” ì „ì—­ ì„¤ì •ê°’ì…ë‹ˆë‹¤.
í”„ë¡œê·¸ë¨ì€ ì´ í™˜ê²½ ë³€ìˆ˜ë¥¼ í†µí•´ ì¤‘ìš”í•œ ì •ë³´(ì˜ˆ: API í‚¤, DB ë¹„ë°€ë²ˆí˜¸, ì‹œìŠ¤í…œ ê²½ë¡œ)ë¥¼ ì½ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

1. ë³´ì•ˆ
- ì½”ë“œ ì•ˆì— ì§ì ‘ ë¹„ë°€ë²ˆí˜¸ë‚˜ API Keyë¥¼ ì ìœ¼ë©´ ìœ„í—˜í•©ë‹ˆë‹¤.
- GitHubì— ì˜¬ë¦¬ê±°ë‚˜ ë‹¤ë¥¸ ì‚¬ëŒì—ê²Œ ì½”ë“œ íŒŒì¼ì„ ê³µìœ í•˜ë©´ í‚¤ê°€ ìœ ì¶œë  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- í™˜ê²½ ë³€ìˆ˜ëŠ” ìš´ì˜ì²´ì œ ë©”ëª¨ë¦¬ì—ë§Œ ì €ì¥ë˜ë¯€ë¡œ, ì½”ë“œ ì™¸ë¶€ì—ì„œ ì•ˆì „í•˜ê²Œ ê´€ë¦¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

1. ìœ ì—°ì„±
- ê°™ì€ ì½”ë“œë¼ë„, í™˜ê²½ ë³€ìˆ˜ë§Œ ë°”ê¾¸ë©´ ë‹¤ë¥¸ API í‚¤ë‚˜ ì„¤ì •ì„ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- ì˜ˆë¥¼ ë“¤ì–´, ê°œë°œ ì„œë²„ì™€ ë°°í¬ ì„œë²„ì—ì„œ ë‹¤ë¥¸ API í‚¤ë¥¼ ì‚¬ìš©í•˜ë ¤ë©´ ì½”ë“œ ìˆ˜ì • ì—†ì´ í™˜ê²½ ë³€ìˆ˜ë§Œ ë³€ê²½í•˜ë©´ ë©ë‹ˆë‹¤.

ê·¸ëŸ¬ë©´ í™˜ê²½ë³€ìˆ˜ë¥¼ .env íŒŒì¼ì— ì €ì¥í•˜ê³ , os.environì„ ì‚¬ìš©í•˜ì—¬ í™˜ê²½ë³€ìˆ˜ë¥¼ ì½ëŠ” ë°©ë²•ì„ ì‚¬ìš©í•´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

ì—¬ê¸°ì„œ ì‚¬ìš©í•˜ëŠ” í™˜ê²½ë³€ìˆ˜ëŠ” API í‚¤ê°’ì´ë¯€ë¡œ API í‚¤ê°’ì„ ë°›ì•„ì™€ì•¼ í•©ë‹ˆë‹¤.

API keyëŠ” [Upstage Console](https://console.upstage.ai/docs/getting-started)ì„ í™•ì¸í•´ì£¼ì„¸ìš”.

<img src="assets/img1.png" alt="example" style="max-width: 75%; height: auto;" />

<img src="assets/img2.png" alt="example" style="max-width: 75%; height: auto;" />

<img src="assets/img3.png" alt="example" style="max-width: 75%; height: auto;" />

.env.example íŒŒì¼ì„ ë³µì‚¬í•´ì„œ .envë¡œ ë§Œë“¤ê³  ê·¸ íŒŒì¼ ì•ˆì— Upstage API keyë¥¼ ë„£ì–´ì£¼ì„¸ìš”.

ì €ì¥ëœ .env íŒŒì¼ì„ ë¶ˆëŸ¬ì„œ í™˜ê²½ë³€ìˆ˜ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.

In [ ]:
from google.colab import userdata
import os
import random

# tqdmì´ í…ìŠ¤íŠ¸ ëª¨ë“œë¥¼ ì‚¬ìš©í•˜ë„ë¡ ì„¤ì •
os.environ["TQDM_DISABLE"] = "0"
os.environ["TQDM_MININTERVAL"] = "1"

# ì‹œë“œ ì„¤ì •
random.seed(1234)

# ì½”ë© ê¸ˆê³ ì—ì„œ API í‚¤ êº¼ë‚´ì˜¤ê¸°! (dotenv í•„ìš” ì—†ìŒ)
UPSTAGE_API_KEY = userdata.get('UPSTAGE_API_KEY')

if UPSTAGE_API_KEY:
    print("Success API Key Setting! ğŸ‰")
else:
    raise ValueError("API Keyë¥¼ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤. ì™¼ìª½ ğŸ”‘ íƒ­ì„ í™•ì¸í•˜ì„¸ìš”.")

Success API Key Setting! ğŸ‰

Upstage APIë¥¼ ì…‹íŒ…í–ˆìœ¼ë‹ˆ, í…ŒìŠ¤íŠ¸ë¡œ llm í˜¸ì¶œì„ ì§„í–‰í•©ë‹ˆë‹¤.

Teacher ëª¨ë¸ë¡œ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” ì¶©ë¶„íˆ ì„±ëŠ¥ì´ ì¢‹ì€ ëª¨ë¸ì„ ì‚¬ìš©í•´ì•¼ í•©ë‹ˆë‹¤.

ëª¨ë“  Teacher ëª¨ë¸ì´ ì„±ëŠ¥ì´ ì¢‹ì€ ê²ƒì€ ì•„ë‹ˆì§€ë§Œ, ì¼ë°˜ì ìœ¼ë¡œ ëª¨ë¸ ì‚¬ì´ì¦ˆê°€ í¬ë‹¤ë©´ ëŒ€ì²´ë¡œ ëŒ€ë¶€ë¶„ì˜ ì˜ì—­ì—ì„œ ì„±ëŠ¥ì´ ì¢‹ë‹¤ê³  ì•Œë ¤ì ¸ìˆê¸° ë•Œë¬¸ì—

ìš°ì„  110Bì˜ solar-pro3ìœ¼ë¡œ ì§„í–‰í•©ë‹ˆë‹¤.

In [ ]:
from openai import OpenAI

client = OpenAI(api_key=UPSTAGE_API_KEY, base_url="https://api.upstage.ai/v1")

def chat_completion(prompt: str, model: str = "solar-pro3") -> str:
    resp = client.chat.completions.create(
        model=model,
        messages=[
            {
                "role": "user",
                "content": prompt
            }
        ],
        stream=False,
    )
    return resp.choices[0].message.content

response = chat_completion("ê³ ì–‘ì´ì— ëŒ€í•œ ë†€ë¼ìš´ ì‚¬ì‹¤ í•˜ë‚˜ë¥¼ ì•Œë ¤ì¤˜")
print(response)

**ë†€ë¼ìš´ ì‚¬ì‹¤:** ê³ ì–‘ì´ëŠ” ì‚¬ëŒë³´ë‹¤ í›¨ì”¬ ë†’ì€ ì´ˆìŒíŒŒê¹Œì§€ ë“¤ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- ì—°êµ¬ì— ë”°ë¥´ë©´ ê³ ì–‘ì´ëŠ” ì•½ **64â€¯kHz**ê¹Œì§€ ì£¼íŒŒìˆ˜ë¥¼ ê°ì§€í•  ìˆ˜ ìˆëŠ”ë°, ì´ëŠ” ì¸ê°„ì´ ë“¤ì„ ìˆ˜ ìˆëŠ” ìµœê³  ì£¼íŒŒìˆ˜(â‰ˆ20â€¯kHz)ë³´ë‹¤ ì•½ 3ë°°â€‘4ë°° ë” ë†’ì€ ì˜ì—­ì…ë‹ˆë‹¤.
- ì´ë ‡ê²Œ ë„“ì€ ì²­ê° ë²”ìœ„ëŠ” ì‘ì€ ì„¤ì¹˜ë¥˜(ì˜ˆ: ì¥, ë“¤ì¥)ê°€ ë‚´ëŠ” ê³ ì£¼íŒŒ ì†Œë¦¬ë¥¼ í¬ì°©í•˜ê²Œ í•´, ì‚¬ëƒ¥ì— í° ì´ì ì„ ì¤ë‹ˆë‹¤.

ë˜í•œ, ê³ ì–‘ì´ì˜ ê·€ì—ëŠ” **32ê°œì˜ ì‘ì€ ê·¼ìœ¡**ì´ ìˆì–´ ê·€ë¥¼ ë…ë¦½ì ìœ¼ë¡œ íšŒì „ì‹œí‚¬ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì´ ê·¼ìœ¡ ë•ë¶„ì— ê³ ì–‘ì´ëŠ” ì†Œë¦¬ì˜ ë°©í–¥ì„ ì•„ì£¼ ì •ë°€í•˜ê²Œ íŒŒì•…í•˜ê³ , ëˆˆì— ë³´ì´ì§€ ì•ŠëŠ” ì†Œë¦¬ê¹Œì§€ íƒì§€í•  ìˆ˜ ìˆì£ .

ì´ ë‘ ê°€ì§€ íŠ¹ì§•ì€ ê³ ì–‘ì´ê°€ ì™œ ê·¸ë ‡ê²Œ ë›°ì–´ë‚œ ì‚¬ëƒ¥ê¾¼ì´ì, ì£¼ë³€ í™˜ê²½ì— ë¯¼ê°í•œ ë™ë¬¼ì´ ë  ìˆ˜ ìˆëŠ”ì§€ë¥¼ ì„¤ëª…í•´ ì¤ë‹ˆë‹¤. ğŸ¾

# 2. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

- ë‹¤ì–‘í•œ Knowledge Distillation ë°©ë²•ë¡  ì¤‘ Pseudo Labelingì„ ìœ„í•œ Unlabeld Dataë¥¼ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.

In [ ]:
import pandas as pd

df = pd.read_csv("/train.csv") # Please adjust this path if you uploaded the file to a different location
df.head()

                   db_id                                           question
0  department_management  How many heads of the departments are older th...
1  department_management  List the name, born state and age of the heads...
2  department_management  List the creation year, name and budget of eac...
3  department_management  What are the maximum and minimum budget of the...
4  department_management  What is the average number of employees of the...

ë°ì´í„°ì˜ íŠ¹ì„±ì„ í™•ì¸í•´ë´…ë‹ˆë‹¤.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4471 entries, 0 to 4470
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   db_id     4471 non-null   object
 1   question  4471 non-null   object
dtypes: object(2)
memory usage: 70.0+ KB

ëª¨ë“  ë°ì´í„°ë¥¼ ë‹¤ ë°”ê¾¸ê¸°ì—” ì‹œê°„ê³¼ ë¹„ìš©ì´ ë§ì´ ë“¤ê¸° ë•Œë¬¸ì— ì¼ë¶€ ë°ì´í„°ë§Œ ë§Œë“¤ì–´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

In [ ]:
data = df[:10].to_dict(orient="records")
data

[{'db_id': 'department_management',
  'question': 'How many heads of the departments are older than 56 ?'},
 {'db_id': 'department_management',
  'question': 'List the name, born state and age of the heads of departments ordered by age.'},
 {'db_id': 'department_management',
  'question': 'List the creation year, name and budget of each department.'},
 {'db_id': 'department_management',
  'question': 'What are the maximum and minimum budget of the departments?'},
 {'db_id': 'department_management',
  'question': 'What is the average number of employees of the departments whose rank is between 10 and 15?'},
 {'db_id': 'department_management',
  'question': 'What are the names of the heads who are born outside the California state?'},
 {'db_id': 'department_management',
  'question': 'What are the names of the states where at least 3 heads were born?'},
 {'db_id': 'department_management',
  'question': "Show the name and number of employees for the departments managed by heads whose temporary acting value is 'Yes'?"},
 {'db_id': 'department_management',
  'question': 'How many acting statuses are there?'},
 {'db_id': 'department_management',
  'question': 'What are the distinct ages of the heads who are acting?'}]

# 3. ë°ì´í„° 'ìƒì„±'ì„ ìœ„í•œ Prompt Engineering

- ë°ì´í„° ìƒì„±ì„ ìœ„í•œ Prompt Engineeringì— ëŒ€í•´ ì•Œì•„ë´…ë‹ˆë‹¤.
- ë°ì´í„° ìƒì„±ì„ ìœ„í•œ APIë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ìƒì„±í•©ë‹ˆë‹¤.
- ìƒì„±ëœ ë°ì´í„°ë¥¼ í™•ì¸í•©ë‹ˆë‹¤.

### 3.1. í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§

<blockquote>
<b>ğŸ§  í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§(Prompt Engineering)ì´ë€?</b><br>
AI ëª¨ë¸ì—ê²Œ ì›í•˜ëŠ” ë‹µì„ ì •í™•í•˜ê³  íš¨ìœ¨ì ìœ¼ë¡œ ì´ëŒì–´ë‚´ê¸° ìœ„í•´ ì…ë ¥(í”„ë¡¬í”„íŠ¸)ì„ ì„¤ê³„Â·ìµœì í™”í•˜ëŠ” ê¸°ìˆ ì„ ë§í•©ë‹ˆë‹¤.
</blockquote>

1. í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§ì€ ëª¨ë¸ì˜ ì„±ëŠ¥ì„ í¬ê²Œ ì¢Œìš°í•©ë‹ˆë‹¤.
	- AI ëª¨ë¸ì€ ì§ˆë¬¸(í”„ë¡¬í”„íŠ¸)ì— ë”°ë¼ ê°™ì€ ë°ì´í„°ë¼ë„ ì™„ì „íˆ ë‹¤ë¥¸ ë‹µì„ ë‚´ë†“ìŠµë‹ˆë‹¤.
		- ì˜ëª»ëœ í”„ë¡¬í”„íŠ¸ â†’ ëª¨í˜¸í•˜ê±°ë‚˜ ì—‰ëš±í•œ ë‹µë³€
		- ì˜ ì„¤ê³„ëœ í”„ë¡¬í”„íŠ¸ â†’ ì •í™•í•˜ê³  ì›í•˜ëŠ” í˜•ì‹ì˜ ë‹µë³€
	- í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§ì€ AIë¥¼ ë‚´ ë§ˆìŒëŒ€ë¡œ ì»¨íŠ¸ë¡¤í•˜ëŠ” ë¦¬ëª¨ì»¨ê³¼ ê°™ìŠµë‹ˆë‹¤.

2. í”„ë¡¬í”„íŠ¸ì˜ ê¸°ë³¸ êµ¬ì¡°
í•˜ë‚˜ì˜ í”„ë¡¬í”„íŠ¸ëŠ” ë³´í†µ ë‹¤ìŒ ìš”ì†Œë“¤ë¡œ êµ¬ì„±ë©ë‹ˆë‹¤.
	1. ì—­í• (Role) ì„¤ì • â†’ AIì˜ â€œì •ì²´ì„±â€ê³¼ â€œê´€ì â€ì„ ì§€ì •í•©ë‹ˆë‹¤.
		- ì˜ˆ: â€œë‹¹ì‹ ì€ 10ë…„ ê²½ë ¥ì˜ ì—¬í–‰ ê°€ì´ë“œì…ë‹ˆë‹¤.â€
	2. ëª©í‘œ(Task) ëª…í™•í™” â†’ ë¬´ì—‡ì„ í•´ì•¼ í•˜ëŠ”ì§€ êµ¬ì²´ì ìœ¼ë¡œ ì§€ì‹œí•©ë‹ˆë‹¤.
		- ì˜ˆ: â€œì„œìš¸ì—ì„œ í•˜ë£¨ ë™ì•ˆ ì¦ê¸¸ ìˆ˜ ìˆëŠ” ì½”ìŠ¤ë¥¼ ì¶”ì²œí•´ì£¼ì„¸ìš”.â€
	3. ì¡°ê±´(Constraints) ë¶€ì—¬ â†’ ë‹µë³€ ê¸¸ì´, í˜•ì‹, ì–¸ì–´, ìŠ¤íƒ€ì¼ ë“± ì œí•œì‚¬í•­ì„ ëª…ì‹œí•©ë‹ˆë‹¤.
		- ì˜ˆ: â€œí‘œ í˜•ì‹ìœ¼ë¡œ 3ê°œì˜ ì¶”ì²œ ì½”ìŠ¤ë¥¼ ì œì‹œí•˜ê³ , ê° ì½”ìŠ¤ì— ì‚¬ì§„ ë§í¬ë¥¼ í¬í•¨í•˜ì„¸ìš”.â€
	4.	ì˜ˆì‹œ(Examples) ì œê³µ (Few-shot Prompting) â†’ ì›í•˜ëŠ” ë‹µë³€ íŒ¨í„´ì„ ë³´ì—¬ì£¼ë©´ AIê°€ ë¹„ìŠ·í•˜ê²Œ ë‹µë³€í•©ë‹ˆë‹¤.
		- ì˜ˆ: â€œì˜ˆì‹œ: ì½”ìŠ¤ ì´ë¦„ - ì„¤ëª… - ì¶”ì²œ ì´ìœ â€

3. ì¢‹ì€ í”„ë¡¬í”„íŠ¸ ì‘ì„± ì›ì¹™
	- ëª…í™•ì„± â†’ ì• ë§¤í•œ ë‹¨ì–´ ëŒ€ì‹  êµ¬ì²´ì ì¸ ì§€ì‹œ
	- ë§¥ë½ ì œê³µ â†’ í•„ìš”í•œ ë°°ê²½ì •ë³´ í¬í•¨
	- ì¶œë ¥ í˜•ì‹ ì§€ì • â†’ í‘œ, ëª©ë¡, JSON ë“±
	- ì˜ˆì‹œ ì œì‹œ â†’ ì›í•˜ëŠ” ê²°ê³¼ë¬¼ì˜ ì˜ˆì‹œë¥¼ ë³´ì—¬ì¤Œ
	- ì ì§„ì  ìš”ì²­ â†’ ë³µì¡í•œ ë¬¸ì œëŠ” ë‹¨ê³„ë³„ë¡œ ìª¼ê°œì„œ ìš”ì²­
  
ì°¸ê³  [ë§í¬](https://www.notion.so/ssunbell/2341806f5bc1803491c3cea9d7a96933?source=copy_link)

### 3.2. JSON

<blockquote>
<b>ğŸ§  JSONì´ë€?</b><br>
JSONì€ JavaScript Object Notationì˜ ì•½ìì…ë‹ˆë‹¤.
</blockquote>

ë°ì´í„°ë¥¼ ì €ì¥í•˜ê±°ë‚˜ ì£¼ê³ ë°›ì„ ë•Œ ì“°ëŠ” ê°€ë³ê³  ì½ê¸° ì‰¬ìš´ ë°ì´í„° í˜•ì‹ì…ë‹ˆë‹¤.
ì´ë¦„ì— JavaScriptê°€ ë“¤ì–´ìˆì§€ë§Œ, Python, Java, C#, Go, Swift ë“± ëŒ€ë¶€ë¶„ì˜ í”„ë¡œê·¸ë˜ë° ì–¸ì–´ì—ì„œ ëª¨ë‘ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

1. ì™œ JSONì„ ì“°ë‚˜ìš”?
	â€¢	ì‚¬ëŒì´ ì½ê¸° ì‰½ë‹¤ â†’ {}ì™€ [], "í‚¤": ê°’ í˜•íƒœë¡œ êµ¬ì¡°ê°€ ëª…í™•í•©ë‹ˆë‹¤.
	â€¢	ì»´í“¨í„°ê°€ ì²˜ë¦¬í•˜ê¸° ì‰½ë‹¤ â†’ ëª¨ë“  ì–¸ì–´ì—ì„œ JSONì„ ì‰½ê²Œ ì½ê³  ì“¸ ìˆ˜ ìˆëŠ” ë¼ì´ë¸ŒëŸ¬ë¦¬ê°€ ìˆìŒ.
	â€¢	ì–¸ì–´ì— ë…ë¦½ì  â†’ ì–´ë–¤ ì–¸ì–´ì—ì„œ ë§Œë“  JSONë„ ë‹¤ë¥¸ ì–¸ì–´ì—ì„œ ê·¸ëŒ€ë¡œ ì½ì„ ìˆ˜ ìˆìŒ.
	â€¢	ì›¹ í‘œì¤€ â†’ API, ì„œë²„Â·í´ë¼ì´ì–¸íŠ¸ ë°ì´í„° í†µì‹ ì— ê°€ì¥ ë„ë¦¬ ì“°ì„.

2. JSONì˜ ê¸°ë³¸ ë¬¸ë²•
ê°ì²´(Object) : {} ì•ˆì— "í‚¤": ê°’ ìŒìœ¼ë¡œ êµ¬ì„±ë˜ì–´ ìˆìŠµë‹ˆë‹¤.
```json
{
  "name": "Alice",
  "age": 25,
  "is_student": false
}
```
3. ëª¨ë¸ì˜ structured outputì—ì„œëŠ” ë³´í†µ JSONì˜ í˜•ì‹ì„ ë§ì´ ì‚¬ìš©í•©ë‹ˆë‹¤.
- LLM ëª¨ë¸ì€ ì§€ì •ëœ í˜•ì‹ì„ ë”°ë¼ generateí•  ìˆ˜ ìˆë„ë¡ ë§Œë“¤ ìˆ˜ ìˆëŠ”ë°, ì´ë•Œ ëŒ€í‘œì ìœ¼ë¡œ ì‚¬ìš©í•˜ëŠ” í˜•ì‹ì´ JSON í˜•ì‹ì…ë‹ˆë‹¤.

ì•„ë˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì—¬ ì–´ë–¤ ë°©ì‹ìœ¼ë¡œ JSON í˜•ì‹ìœ¼ë¡œ ë§Œë“œëŠ”ì§€ í™•ì¸í•´ë´…ë‹ˆë‹¤.

In [ ]:
import json

user_prompt = """ê°€ìƒì˜ ë°ì´í„°ë¥¼ ë§Œë“¤ë ¤ê³  í•©ë‹ˆë‹¤.

ì•„ë˜ output_formatì— ë”°ë¼ JSON ë°ì´í„°ë¥¼ 1ê°œë§Œ ë°˜í™˜í•´ì£¼ì„¸ìš”.
{output_format}
"""

output_format ="""<output_format>
```json
{
    "name": [ì´ë¦„],
    "age": [ë‚˜ì´]
    "is_student": [true ë˜ëŠ” false]
}
```
</output_format>"""

messages=[
    {
        "role": "user",
        "content": user_prompt.format(output_format=output_format)
    }
]

response = client.chat.completions.create(
    model="solar-pro3",
    messages=messages,
)

def json_parsing(output_text:str) -> dict:
    output_text = output_text[output_text.index("```json") + len("```json"):].strip()
    output_text = output_text[:output_text.index("```")].strip()
    return json.loads(output_text)


output = response.choices[0].message.content
print("í˜„ì¬ ì‘ë‹µì˜ í˜•ì‹: ", type(output))
print(output)
structured_dictionary = json_parsing(output)
print("êµ¬ì¡°í™”ëœ ì‘ë‹µì˜ í˜•ì‹: ", type(structured_dictionary))
print(structured_dictionary)

í˜„ì¬ ì‘ë‹µì˜ í˜•ì‹:  <class 'str'>
```json
{
    "name": "ê¹€í•˜ëŠ˜",
    "age": 24,
    "is_student": false
}
```
êµ¬ì¡°í™”ëœ ì‘ë‹µì˜ í˜•ì‹:  <class 'dict'>
{'name': 'ê¹€í•˜ëŠ˜', 'age': 24, 'is_student': False}

<blockquote>
<b>ğŸ§  response_formatì´ë€?</b><br>
promptì— json í˜•ì‹ì˜ outputì„ ì •ì˜í•˜ì§€ ì•Šê³  response_formatì— ì§ì ‘ json schemaë¥¼ ì •ì˜í•´ì„œ output formatì„ ì •ì˜í•  ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.
</blockquote>

1. í”„ë¡¬í”„íŠ¸ì— ì–´ë–¤ output formatì„ ì§€ì •í•˜ê²Œ ë˜ë©´ ì‘ë‹µ ê²°ê³¼ë¬¼ì— ì¶”ê°€ë¡œ parsing í•¨ìˆ˜ë¥¼ ì •ì˜í•´ì„œ jsonìœ¼ë¡œ ë³€í™˜ ê°€ëŠ¥í•œ í…ìŠ¤íŠ¸ë§Œ ì¶”ì¶œí•´ì•¼ í•©ë‹ˆë‹¤.
2. ë§Œì•½, ëª¨ë¸ì˜ ì„±ëŠ¥ì´ ë–¨ì–´ì§€ëŠ” ìƒíš¡ì´ ìƒê¸°ë©´ parsingì´ ì•ˆë  ê°€ëŠ¥ì„±ë„ ì¡´ì¬í•©ë‹ˆë‹¤.
3. ë”°ë¼ì„œ, ì¢€ë” ì•ˆì •ì ì¸ ê²°ê³¼ë¬¼ì„ ì–»ê¸° ìœ„í•´ì„œëŠ” `response_format`ì„ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ ì¢‹ìŠµë‹ˆë‹¤.

ìì„¸í•œ ì‚¬ìš©ë²•ì€ [openai structured output](https://platform.openai.com/docs/guides/structured-outputs?lang=python)ì— ëŒ€í•œ ë¬¸ì„œë¥¼ ì°¸ê³ í•´ì£¼ì„¸ìš”.

In [ ]:
from openai import OpenAI
import json


messages=[
    {
        "role": "system",
        "content": "You are an expert in information extraction. Extract information from the given HTML representation of image and organize them into a clear and accurate JSON format."
    },
    {
        "role": "user",
        "content": "HTML string: <table id='0' style='font-size:14px'><tr><td>1</td><td>FUTAMI 17 GREEN TEA (CLAS</td><td>12,500</td></tr><tr><td>1</td><td>EGG TART</td><td>13,000</td></tr><tr><td>1</td><td>GRAIN CROQUE MONSIEUR</td><td>17,000</td></tr></table><br><table id='1' style='font-size:18px'><tr><td>TOTAL</td><td>42, 500</td></tr><tr><td>CASH</td><td>50,000</td></tr><tr><td></td><td></td></tr><tr><td>CHANGE</td><td>7 ,500</td></tr></table>\n. Extract the structured data from the HTML string in JSON format."
    }
]

response_format={
    "type": "json_schema",
    "json_schema": {
        "name": "restaurant_receipt",
        "strict": True,
        "schema": {
            "type": "object",
            "properties": {
                "menu_items": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "menu_cnt": {
                                "type": "number",
                                "description": "The count of the menu item."
                            },
                            "menu_name": {
                                "type": "string",
                                "description": "The name of the menu item."
                            },
                            "menu_price": {
                                "type": "number",
                                "description": "The price of the menu item."
                            }
                        },
                        "required": ["menu_cnt", "menu_name", "menu_price"],
                    }
                },
                "total_price": {
                    "type": "number",
                    "description": "The total price of the receipt."
                }
            },
            "required": ["menu_items", "total_price"],
        }
    }
}

response = client.chat.completions.create(
    model="solar-pro3",
    messages=messages,
    response_format=response_format
)

structured_output = response.choices[0].message.content
print("í˜„ì¬ ì‘ë‹µì˜ í˜•ì‹: ", type(structured_output))
print(structured_output)
structured_dictionary = json.loads(structured_output)
print("êµ¬ì¡°í™”ëœ ì‘ë‹µì˜ í˜•ì‹: ", type(structured_dictionary))
print(structured_dictionary)

í˜„ì¬ ì‘ë‹µì˜ í˜•ì‹:  <class 'str'>
{
  "menu_items": [
    {
      "menu_cnt": 1,
      "menu_name": "FUTAMI 17 GREEN TEA (CLAS",
      "menu_price": 12500
    },
    {
      "menu_cnt": 1,
      "menu_name": "EGG TART",
      "menu_price": 13000
    },
    {
      "menu_cnt": 1,
      "menu_name": "GRAIN CROQUE MONSIEUR",
      "menu_price": 17000
    }
  ],
  "total_price": 42500
}
êµ¬ì¡°í™”ëœ ì‘ë‹µì˜ í˜•ì‹:  <class 'dict'>
{'menu_items': [{'menu_cnt': 1, 'menu_name': 'FUTAMI 17 GREEN TEA (CLAS', 'menu_price': 12500}, {'menu_cnt': 1, 'menu_name': 'EGG TART', 'menu_price': 13000}, {'menu_cnt': 1, 'menu_name': 'GRAIN CROQUE MONSIEUR', 'menu_price': 17000}], 'total_price': 42500}

í™•ì¸í•˜ì‹  ê²ƒì²˜ëŸ¼ JSONìœ¼ë¡œ ë³€í™˜ì´ ê°€ëŠ¥í•œ string íƒ€ì…ì˜ ì‘ë‹µì„ ë°˜í™˜í•©ë‹ˆë‹¤. í•´ë‹¹ ì‘ë‹µì„ `json.loads()`ë¥¼ ì‚¬ìš©í•˜ì—¬ dictionary íƒ€ì…ìœ¼ë¡œ ë³€í™˜í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ë§Œì•½, ëª¨ë¸ì˜ ì„±ëŠ¥ì´ ë–¨ì–´ì§€ê²Œ ë˜ë©´ JSONìœ¼ë¡œ ë³€í™˜ì´ ë¶ˆê°€ëŠ¥í•œ string íƒ€ì…ìœ¼ë¡œ ë°˜í™˜í•  ìˆ˜ ìˆìœ¼ë¯€ë¡œ `try exceptë¬¸`ì„ í†µí•´ ì—ëŸ¬ ì²˜ë¦¬ë¥¼ í•´ì£¼ì‹œë©´ ì¢‹ìŠµë‹ˆë‹¤.

### 3.3. reasoning

#### 1. í•µì‹¬ ê°œë…: "ìƒê°ì˜ ì‹œê°„" (Thinking Budget)

ê¸°ì¡´ LLM(GPT-4, Gemini 1.5 Flash ë“±)ì€ ê¸°ë³¸ì ìœ¼ë¡œ "System 1 (ì§ê´€ì  ì‚¬ê³ )"ì— ê°€ê¹ìŠµë‹ˆë‹¤. ì§ˆë¬¸ì„ ë°›ìœ¼ë©´ ì¦‰ì‹œ ë‹µë³€ í† í°ì„ ìƒì„±í•˜ê¸° ì‹œì‘í•©ë‹ˆë‹¤.

ë°˜ë©´, `reasoning_effort`ê°€ ì ìš©ëœ ëª¨ë¸ì€ "System 2 (ë¶„ì„ì  ì‚¬ê³ )"ë¥¼ ì‹œë®¬ë ˆì´ì…˜í•©ë‹ˆë‹¤. ë‹µë³€ì„ ì¶œë ¥í•˜ê¸° ì „ì— ë³´ì´ì§€ ì•ŠëŠ” ë‚´ë¶€ ì‚¬ê³  ê³¼ì •(Internal Chain of Thought)**ì„ ê±°ì¹©ë‹ˆë‹¤. `reasoning_effort`ëŠ” ë°”ë¡œ ì´ **ë‚´ë¶€ ì‚¬ê³ ì˜ ê¹Šì´ì™€ ì‹œê°„(Budget)ì„ ì¡°ì ˆí•˜ëŠ” ë ˆë²„ì…ë‹ˆë‹¤.

#### 2. ì„¤ì • ê°’ì— ë”°ë¥¸ ì°¨ì´ (Low vs. Medium vs. High)

ë³´í†µ 3ë‹¨ê³„(Low, Medium, High)ë¡œ ë‚˜ë‰˜ë©°, ì—”ì§€ë‹ˆì–´ë§ ê´€ì ì—ì„œëŠ” ë‹¤ìŒê³¼ ê°™ì€ ì°¨ì´ê°€ ìˆìŠµë‹ˆë‹¤.

##### **Low (ë‚®ìŒ/ë¹ ë¦„)**

* **ë™ì‘:** ëª¨ë¸ì´ ë¬¸ì œë¥¼ ë³´ìë§ˆì ê°€ì¥ ë¨¼ì € ë– ì˜¤ë¥¸ ì§ê´€ì ì¸ í•´ê²°ì±…ì„ ì±„íƒí•©ë‹ˆë‹¤. ë‚´ë¶€ ê²€ì¦ ê³¼ì •ì„ ìµœì†Œí™”í•©ë‹ˆë‹¤.
* **íŠ¹ì§•:** ì‘ë‹µ ì†ë„ê°€ ë¹ ë¥´ê³  ë¹„ìš©ì´ ì €ë ´í•©ë‹ˆë‹¤.
* **ìš©ë„:** ë‹¨ìˆœ ë²ˆì—­, ìš”ì•½, ë¬¸ë²• êµì •, ê°ì„± ë¶„ì„ ë“± ë³µì¡í•œ ë…¼ë¦¬ê°€ í•„ìš” ì—†ëŠ” ì‘ì—….

##### **Medium (ì¤‘ê°„/í‘œì¤€)**

* **ë™ì‘:** í‘œì¤€ì ì¸ ì‚¬ê³  ê³¼ì •ì„ ê±°ì¹©ë‹ˆë‹¤. ë¬¸ì œë¥¼ ë¶„í•´í•˜ê³ , ê³„íšì„ ì„¸ìš°ê³ , ë‹µë³€ì„ ìƒì„±í•©ë‹ˆë‹¤.
* **ìš©ë„:** ì¼ë°˜ì ì¸ ì½”ë”© ì§ˆë¬¸, ì´ë©”ì¼ ì‘ì„±, ë§¥ë½ íŒŒì•…ì´ í•„ìš”í•œ ëŒ€í™”.

##### **High (ë†’ìŒ/ê¹ŠìŒ)**

* **ë™ì‘:** ëª¨ë¸ì´ ë‹µë³€ì„ í™•ì •í•˜ê¸° ì „ì— ë‹¤ì–‘í•œ ê²½ë¡œë¥¼ íƒìƒ‰í•˜ê³ , ìŠ¤ìŠ¤ë¡œ ì˜¤ë¥˜ë¥¼ ê²€ì¦(Self-Correction)í•˜ë©°, ì—£ì§€ ì¼€ì´ìŠ¤(Edge Case)ë¥¼ ê³ ë¯¼í•©ë‹ˆë‹¤.
* **íŠ¹ì§•:** ì‘ë‹µ ì†ë„ê°€ í˜„ì €íˆ ëŠë ¤ì§ˆ ìˆ˜ ìˆê³ (ìˆ˜ ì´ˆ~ìˆ˜ì‹­ ì´ˆ ìƒê°), í† í° ë¹„ìš©ì´ ë¹„ìŒ‰ë‹ˆë‹¤.
* **ìš©ë„:**
  * ë³µì¡í•œ ìˆ˜í•™ ì¦ëª…
  * ê³ ë‚œì´ë„ ì•Œê³ ë¦¬ì¦˜ ì½”ë”© (ì˜ˆ: "ì´ ì½”ë“œë¥¼ O(n) ë³µì¡ë„ë¡œ ìµœì í™”í•´ì¤˜")
  * ë³µì¡í•œ ìŠ¤í‚¤ë§ˆë¥¼ ê°€ì§„ Text-to-SQL (ìš°ë¦¬ì˜ í˜„ì¬ íƒ€ê²Ÿ)
  * ê³¼í•™ì  ì¶”ë¡ 

#### 3. Text-to-SQL ì‘ì—…ì—ì„œì˜ ì ìš©

* **ì–¸ì œ `High`ë¥¼ ì¨ì•¼ í• ê¹Œìš”?**
  * í…Œì´ë¸”ì´ 5ê°œ ì´ìƒ ì¡°ì¸(Join)ë˜ì–´ì•¼ í•  ë•Œ.
  * `HAVING`, ì„œë¸Œì¿¼ë¦¬(Subquery), `Self-Join` ê°™ì€ ë³µì¡í•œ ë…¼ë¦¬ê°€ í•„ìš”í•  ë•Œ.
  * ì§ˆë¬¸ì´ ëª¨í˜¸í•´ì„œ ìŠ¤í‚¤ë§ˆì˜ ì—¬ëŸ¬ ì»¬ëŸ¼ ì¤‘ ë¬´ì—‡ì„ ë§¤í•‘í•´ì•¼ í• ì§€ ê¹Šì€ ì¶”ë¡ ì´ í•„ìš”í•  ë•Œ.
  * *ì˜ˆ: "ì§€ë‚œ 3ë…„ ë™ì•ˆ ë¶„ê¸°ë³„ ë§¤ì¶œ ì„±ì¥ë¥ ì´ ê°€ì¥ ë†’ì•˜ë˜ ë¶€ì„œì˜ ë§¤ë‹ˆì € ì´ë¦„ì€?"*


* **ì–¸ì œ `Low/Medium`ì´ ìœ ë¦¬í• ê¹Œìš”?**
  * ë‹¨ìˆœí•œ `SELECT * FROM table WHERE ...` ìˆ˜ì¤€ì˜ ì¿¼ë¦¬ì¼ ë•Œ.
  * ëŒ€ëŸ‰ì˜ ë°ì´í„°ë¥¼ ë¹ ë¥´ê²Œ ë¼ë²¨ë§í•´ì•¼ í•˜ëŠ”ë° ì˜ˆì‚°(API Cost)ì´ ì œí•œì ì¼ ë•Œ.

ë”°ë¼ì„œ ì¼ë°˜ì ì¸ LLMë³´ë‹¤ reasoning ëª¨ë¸ì´ ì¢€ë” ì¢‹ì€ ì„±ëŠ¥ì„ ê°€ì ¸ì˜µë‹ˆë‹¤. ì´ëŸ¬í•œ reasoning modelì€ ì‘ì€ ì‚¬ì´ì¦ˆì˜ ëª¨ë¸ì€ ì˜ ì—†ê¸° ë•Œë¬¸ì— Teacher ëª¨ë¸ë¡œ ì ì ˆí•˜ê²Œ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ì•„ë˜ reasoning ì˜ˆì‹œë¥¼ ë³´ë©´ì„œ ì´í•´í•´ë´…ë‹ˆë‹¤.

In [ ]:
stream = client.chat.completions.create(
    model="solar-pro3",
    messages=[
        {
            "role": "user",
            "content": "What is 15% of 80?"
        }
    ],
    reasoning_effort="high",
    stream=True,
)

reasoning_started = False
content_started = False

for chunk in stream:
    delta = chunk.choices[0].delta

    # Handle reasoning output (thinking process)
    if hasattr(delta, 'reasoning') and delta.reasoning:
        if not reasoning_started:
            print("[Reasoning]")
            reasoning_started = True
        print(delta.reasoning, end='')

    # Handle content output (final answer)
    if hasattr(delta, 'content') and delta.content:
        if not content_started:
            print("\n[Answer]")
            content_started = True
        print(delta.content, end='')

[Reasoning]
The user asks: "What is 15% of 80?" This is a simple arithmetic question. Provide answer: 12. Show steps: 15% = 0.15, multiply by 80 => 12.

We can respond concisely: 15% of 80 = 12.

But we can also add explanation: 15% = 15/100 = 3/20, 80 * 3/20 = 240/20 = 12.

We can answer. Possibly also note that 15% of 80 is 12.

Thus final answer: 12.

We can also ask if they need more help.

So final answer: 12.

That's straightforward.

We should comply with instructions: no extraneous content. Provide answer.

We can also mention that 15% of 80 = 12.

Okay.
[Answer]
15% of 80 is **12**.

**Explanation:**
15â€¯% = 0.15 = 15â„100 = 3â„20.
Multiplying by 80:

\[
80 \times \frac{3}{20} = \frac{80 \times 3}{20} = \frac{240}{20} = 12
\]

So, 15â€¯% of 80 equals 12. If you need further help with percentages or any other calculations, feel free to ask!

- delta.reasoning : LLMì´ ìƒê°í•œ ì‚¬ê³  ê³¼ì •(CoT)ë¥¼ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤.
- delta.content : LLMì´ ìƒê°í•œ ì‚¬ê³ ë¥¼ ë°”íƒ•ìœ¼ë¡œ ë§Œë“¤ì–´ë‚¸ ì‘ë‹µ

ê·¸ëŸ¬ë©´ ì‹¤ì œë¡œ ì‹œìŠ¤í…œ í”„ë¡¬í”„íŠ¸ë¥¼ ë‹¤ë¥´ê²Œ ì‘ì„±í–ˆì„ë•Œ ì–´ë–»ê²Œ ë‹µë³€ í€„ë¦¬í‹°ê°€ ë‹¬ë¼ì§€ëŠ”ì§€ í™•ì¸í•´ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
GENERATOR_SYSTEM_PROMPT = """### 1. ROLE
You are a World-Class SQL Architect and Data Scientist specialized in translating natural language questions into complex SQLite queries. You have a deep understanding of database normalization, join operations, and logical filtering. You are meticulous about adhering strictly to provided database schemas.

### 2. TASK
Your task is to generate a syntactically correct and semantically accurate SQLite query based on the provided user question and database schema.
You must analyze the relationship between tables, identify the correct columns for SELECT, WHERE, GROUP BY, and ORDER BY clauses, and construct a query that exactly answers the question.

### 3. CONSTRAINTS
- **Dialect:** Use standard SQLite syntax.
- **Schema Adherence:** purely strictly base your query on the provided table names and column names. Do NOT assume the existence of any columns not explicitly mentioned in the schema context.
- **Output Format:** Provide ONLY the SQL query code. Do not include any explanations, markdown formatting (like ```sql), or conversational text.
- **Table Aliasing:** Use clear aliases (e.g., T1, T2) for tables when performing JOIN operations to avoid ambiguity.
- **Reasoning:** Ensure the logic handles aggregation (COUNT, MAX, MIN, AVG) and conditional logic (AND, OR, NOT) correctly as implied by the natural language question.

### 4. EXAMPLES (Few-shot Prompting)

Input:
Question: What are the names of the heads who are born in California?

Output:
SELECT name FROM head WHERE born_state = 'California'

Input:
Question: Find the first name and age of students who are enrolled in 'Data Structures'.

Output:
SELECT T1.FName, T1.Age FROM student AS T1 JOIN enroll AS T2 ON T1.St_ID = T2.St_ID JOIN class AS T3 ON T2.Class_Code = T3.Class_Code WHERE T3.Class_Name = 'Data Structures'

Input:
Question: Show the name and theme of all concerts and the number of singers in each concert.

Output:
SELECT T2.Concert_Name, T2.Theme, COUNT(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.Concert_ID = T2.Concert_ID GROUP BY T2.Concert_ID
"""

stream = client.chat.completions.create(
    model="solar-pro3",
    messages=[
        {
            "role": "system",
            "content": GENERATOR_SYSTEM_PROMPT
        },
        {
            "role": "user",
            "content": data[0]["question"]
        }
    ],
    reasoning_effort="high",
    stream=True,
)

reasoning_started = False
content_started = False

for chunk in stream:
    delta = chunk.choices[0].delta

    # Handle reasoning output (thinking process)
    if hasattr(delta, 'reasoning') and delta.reasoning:
        if not reasoning_started:
            print("[Reasoning]")
            reasoning_started = True
        print(delta.reasoning, end='')

    # Handle content output (final answer)
    if hasattr(delta, 'content') and delta.content:
        if not content_started:
            print("\n[Answer]")
            content_started = True
        print(delta.content, end='')

[Reasoning]
We need to parse the user's question: "How many heads of the departments are older than 56 ?" So we need to count heads of departments older than 56. The schema presumably includes tables: head, department, maybe relationship. However we need to consider the context: The system is a World-Class SQL Architect specialized in translating natural language questions into complex SQLite queries. We need to adhere strictly to provided database schemas. The user hasn't provided a schema. The system might have hidden context: The schema is known to the model? Usually these tasks include a schema provided earlier in conversation. However we have no explicit schema in the conversation. The system says "You must analyze the relationship between tables, identify the correct columns for SELECT, WHERE, GROUP BY, and ORDER BY clauses, and construct a query that exactly answers the question." There's no schema. We need to infer typical naming conventions for a head of department database. Possibly tables: head (with columns: head_id, name, age, department_id) and department (with columns: department_id, department_name). Or maybe there's a table "department_head" linking department to head. But we need to be careful: The system says "purely strictly base your query on the provided table names and column names. Do NOT assume the existence of any columns not explicitly mentioned in the schema context." Since we don't have schema context, we need to ask clarifying? However the instruction says we must produce only the SQL query code, no explanations. The user asks "How many heads of the departments are older than 56 ?" So we need to count heads of departments older than 56. The likely approach: SELECT COUNT(*) FROM head WHERE Age > 56. But we need to ensure it's heads of departments, not heads of other things. If there is a "head" table that includes all heads, maybe we need to filter by department? Or maybe there is a table "department" that contains a column "Head_ID". So we need to count heads whose age >56 among those who are heads of departments. That would require joining head and department on head.ID = department.Head_ID. Then count distinct heads. So query could be:

SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.Head_ID = T2.Head_ID WHERE T1.Age > 56;

Alternatively, if the head table includes a column "Dept_ID" indicating the department they head. Then just filter on Age > 56. But we don't know.

We need to think about typical schema used in Upstage AI examples. Let's search memory: Upstage AI's previous tasks may have used schema like:

- head: Head_ID, Name, Age, Dept_ID
- department: Dept_ID, Dept_Name
- maybe other tables.

But the examples given earlier: The first example: "What are the names of the heads who are born in California?" Output: SELECT name FROM head WHERE born_state = 'California'. So head table has columns: name, born_state. So head table includes personal info. The second example: "Find the first name and age of students who are enrolled in 'Data Structures'." Output: SELECT T1.FName, T1.Age FROM student AS T1 JOIN enroll AS T2 ON T1.St_ID = T2.St_ID JOIN class AS T3 ON T2.Class_Code = T3.Class_Code WHERE T3.Class_Name = 'Data Structures'. So there are tables: student (St_ID, FName, Age), enroll (St_ID, Class_Code), class (Class_Code, Class_Name). So the schema includes these.

Third example: "Show the name and theme of all concerts and the number of singers in each concert." Output: SELECT T2.Concert_Name, T2.Theme, COUNT(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.Concert_ID = T2.Concert_ID GROUP BY T2.Concert_ID.

Thus typical naming conventions: Table names are singular: head, student, enroll, class, singer_in_concert, concert.

Thus for heads of departments, there may be a table "head" and a table "department". The relationship could be many-to-one: department has a head (maybe a foreign key Head_ID). So we need to count heads older than 56. If we just count rows from head where Age > 56, that counts all heads regardless of department. But the phrase "heads of the departments" implies those heads who are associated with a department (i.e., heads of departments). If head table includes a column indicating the department they head, we could filter by that column. But we don't know column names. Could be "Dept_ID", "Department_ID", "Department_Code". The safe approach: join head with department to ensure they are heads of departments. Use alias T1 for head, T2 for department. Then count distinct head IDs. Use COUNT(DISTINCT T1.Head_ID) or COUNT(*) if each head appears once per department (one-to-one). Typically each department has one head, so join yields one row per head. So COUNT(*) works.

Thus query:

SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.Dept_ID = T2.Dept_ID WHERE T1.Age > 56;

But we need to know column name for age: maybe "Age". In first example, head table had "born_state". No age column shown. But typical head table would have Age column. Could be "Age". Could be "Age_Years". Not sure.

Better to use generic column name "Age". If not correct, it's risk. But we need to adhere strictly to provided schema context. Since we don't have it, we need to guess typical naming. The system may have hidden schema that includes head table with columns: Head_ID, Name, Age, Dept_ID. Department table: Dept_ID, Dept_Name. That seems plausible.

Thus answer: SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.Dept_ID = T2.Dept_ID WHERE T1.Age > 56;

Alternatively, if there is a column "Dept_Code" rather than "Dept_ID", but we can't know. The safe approach is to use generic "Dept_ID". If the schema uses "Dept_ID", it's fine.

But we could also use "Dept_ID" as the foreign key. Use alias T1 for head, T2 for department. Use COUNT(*) and group by maybe nothing.

Thus final output: just the SQL query.

But we need to consider that the user might want "How many heads of the departments are older than 56?" The answer is a count. So SELECT COUNT(*) FROM head WHERE Age > 56; If head table includes a column indicating they are a head (maybe "Is_Head" boolean). But likely head table is only for heads. The phrase "heads of the departments" could be redundant.

Thus we could produce:

SELECT COUNT(*) FROM head AS T1 WHERE T1.Age > 56;

But we need to ensure we are counting heads of departments, not heads of other categories. If there are other heads (like heads of clubs) maybe they are in a different table. But the phrase suggests there is a head table that only includes heads of departments. So we can just count from head table.

Thus answer: SELECT COUNT(*) FROM head AS T1 WHERE T1.Age > 56;

But we need to consider if the schema includes "Age" column name. Could be "Age_Years". The first example used "born_state". So they used snake_case column names. So "Age" is plausible.

Thus final answer: SELECT COUNT(*) FROM head AS T1 WHERE T1.Age > 56;

But we need to be careful: The question: "How many heads of the departments are older than 56 ?" Could be interpreted as "How many department heads are older than 56?" So we need to count distinct head IDs. If a head can be older than 56 but also head multiple departments (unlikely). So COUNT(*) is fine.

Thus final output: just the query.

But we need to check constraints: Output format: Provide ONLY the SQL query code. Do not include any explanations, markdown formatting (like ```sql), or conversational text. So just a line with SELECT ... FROM ... WHERE ....

Thus final answer: SELECT COUNT(*) FROM head AS T1 WHERE T1.Age > 56;

Alternatively, if we need to join with department: SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.Dept_ID = T2.Dept_ID WHERE T1.Age > 56;

Which one is more correct? The phrase "heads of the departments" suggests relationship with department table. So join is appropriate. However if the head table includes a column indicating the department they head, we could filter without join. But join is more explicit.

Given the lack of schema, we could produce a query that uses join. That is more robust. So I'll produce:

SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.Dept_ID = T2.Dept_ID WHERE T1.Age > 56;

Thus final output.
[Answer]
SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.Dept_ID = T2.Dept_ID WHERE T1.Age > 56;

### 4.1. Pseudo Labeling

<blockquote>
<b>ğŸ§  ìˆ˜ë„ ë¼ë²¨ë§(Pseudo Labeling)ë€?</b><br>
ìˆ˜ë„ ë¼ë²¨ë§ì€ ì‚¬ëŒì´ ì•„ë‹Œ ëª¨ë¸ í˜¹ì€ ì•Œê³ ë¦¬ì¦˜ìœ¼ë¡œ ìƒì„±í•œ ì •ë‹µ ë°ì´í„°ì…ë‹ˆë‹¤.
</blockquote>

ìˆ˜ë„ ë¼ë²¨ë§ì„ ì´ìš©í•œ KDëŠ” ì•„ë˜ì™€ ê°™ì€ ëª©ì ìœ¼ë¡œ ì‚¬ìš©ë  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

1.  ì •ë‹µ ì¼ê´€ì„±
	- Teacher ëª¨ë¸ì˜ ì‘ë‹µì€ ë‹¤ì–‘í•œ ì‚¬ëŒë“¤ë³´ë‹¤ëŠ” ì–´ëŠì •ë„ ì¼ê´€ì„±ì„ ê°€ì§€ê³  ì •ë‹µì„ ë¼ë²¨ë§í•˜ê²Œ ë˜ì–´ ìˆ˜ë§ì€ ì‚¬ëŒë“¤ì˜ ë°ì´í„°ë¥¼ ëª¨ì•„ ì •ê·œë¶„í¬ë¥¼ ë§Œë“¤ í•„ìš” ì—†ì´ í•œ ëª¨ë¸ë¡œ ì¼ê´€ì„±ì„ ê°–ì¶œ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
	- ì‹¬ì§€ì–´ëŠ” ì‚¬ëŒë³´ë‹¤ ë” ë‚˜ì€ ê²°ê³¼ë¬¼ì„ ë³´ì´ëŠ” ê²½ìš°ê°€ ìˆê¸° ë•Œë¬¸ì— ì¼ë°˜ ë¼ë²¨ëŸ¬ë³´ë‹¤ ë” ì¢‹ì€ ì„±ëŠ¥ì„ ë³´ì—¬ì¤„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

2.  ë¹„ìš© ì ˆê°
	- ì´ˆê±°ëŒ€ LLMì„ í•™ìŠµí•˜ê¸° ìœ„í•´ì„œëŠ” Google, OpenAI ë“± ì²œë¬¸í•™ì ì¸ ë¹„ìš©ì´ ë“¤ê²Œ ë©ë‹ˆë‹¤.
	- ì²œë¬¸í•™ì ì¸ ëˆì„ ë“¤ì—¬ì„œ ë§Œë“  ëª¨ë¸ì˜ ì •ë‹µ ë°ì´í„°ë¥¼ í•™ìŠµì‹œí‚¬ ìˆ˜ ìˆìœ¼ë¯€ë¡œ ë¹„ìš©ì„ ë§¤ìš° ì ˆê°í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
	- ex : deepseek-R1 ëª¨ë¸ì„ í•™ìŠµì‹œí‚¬ë•Œ GPTì˜ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ í•™ìŠµì‹œì¼°ë‹¤ëŠ” ë…¼ë€ì´ ìˆì—ˆìŠµë‹ˆë‹¤. ì´ì²˜ëŸ¼ Teacher ëª¨ë¸ì˜ ì§€ì‹ì„ í•™ìŠµì‹œí‚¤ëŠ” ë°©ë²•ë¡ ì€ ì¼ë°˜ì ìœ¼ë¡œ ë§ì´ ìˆ˜í–‰í•˜ëŠ” ë°©ë²•ë¡ ì…ë‹ˆë‹¤.
  
ê·¸ëŸ¬ë©´ ì‹¤ì œë¡œ ìˆ˜ë„ ë¼ë²¨ë§ì„ í•˜ì—¬ ì •ë‹µ ë°ì´í„°ë¥¼ ê°€ì ¸ì˜¤ë„ë¡ í•©ë‹ˆë‹¤.

In [ ]:
def chat_completion(user_prompt: str, system_prompt: str | None = None, model: str = "solar-pro3") -> tuple[str, str]:
    messages = []
    if system_prompt:
        messages.append({
            "role": "system",
            "content": system_prompt
        })
    messages.append({
        "role": "user",
        "content": user_prompt
    })

    response = client.chat.completions.create(
        model=model,
        messages=messages,
        reasoning_effort="high",
        stream=False,
    )
    return response.choices[0].message.content, response.choices[0].message.reasoning # [answer, reasoning]

ìœ„ì™€ ê°™ì´ í•¨ìˆ˜ë¥¼ ì •ì˜í–ˆì„ ë•Œ, ë°˜í™˜ê°’ì€ 2ê°€ì§€ ì…ë‹ˆë‹¤.

1. ì‘ë‹µê°’ : response.choices[0].message.content
2. ìƒê° ê³¼ì • : response.choices[0].message.reasoning

ì´ ê²½ìš° 2. ìƒê° ê³¼ì •ì„ ê²€ì¦í•˜ì—¬ ì‘ë‹µê°’ì´ ì ì ˆí•œì§€ ë‹¤ì‹œ íŒë‹¨í•˜ëŠ” LLM as a Judgeì— í™œìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

í•´ë‹¹ ê°’ë“¤ì„ í¬í•¨í•˜ì—¬ ë°ì´í„°ë¥¼ ë§Œë“¤ì–´ë´…ë‹ˆë‹¤.

ì¶”ë¡  ê³¼ì •ì´ ë§¤ìš° ê¸¸ê¸° ë•Œë¬¸ì— ì‹œê°„ì´ ì˜¤ë˜ ê±¸ë¦½ë‹ˆë‹¤.

In [ ]:
from tqdm.auto import tqdm

labeled_data = []
for i in tqdm(range(len(data))):
    record = {**data[i]}
    question = data[i]["question"]
    answer, reasoning = chat_completion(question, GENERATOR_SYSTEM_PROMPT, "solar-pro3")
    record["answer"] = answer
    record["reasoning"] = reasoning
    labeled_data.append(record)

print(labeled_data)

  0%|          | 0/10 [00:00<?, ?it/s]

[{'db_id': 'department_management', 'question': 'How many heads of the departments are older than 56 ?', 'answer': 'SELECT COUNT(*) FROM head AS h WHERE h.Age > 56', 'reasoning': 'The user asks: "How many heads of the departments are older than 56 ?" We need to generate a SQLite query based on provided schema. The user hasn\'t provided the schema directly in the conversation, but the system prompt says we must base on provided table names and column names. However, we haven\'t been given any schema. The user question implies there is a table for "heads of the departments". Possibly a table named "head" or "department_head". The schema might be known from prior context? The system prompt says we must adhere strictly to provided database schemas. But we haven\'t seen them. In the absence of schema, we need to infer typical naming. The examples used "head" table with columns "name" and "born_state". So likely there is a "head" table with columns like "Head_ID", "Dept_ID", "Age", maybe "Dept_Name". The question: "How many heads of the departments are older than 56?" So we need to count heads older than 56. Likely we need SELECT COUNT(*) FROM head WHERE Age > 56. But maybe we need to filter only those who are heads of departments, which might be indicated by a column like "Role" or "Position". Could be "Head_ID" foreign key linking to department table. But the question says "heads of the departments", which suggests we need to count heads that have a role of being a department head. Could be a table "head" with column "Head_Type" or "Dept_Head" boolean. Or maybe there is a "department" table and a "head" table with relationship.\n\nWe need to output only the SQL query code. Without schema, we must guess. The typical approach: SELECT COUNT(*) FROM head WHERE Age > 56 AND Head_Type = \'Department Head\' OR something.\n\nBut we must be careful: The system says we must adhere strictly to provided schema. Since we haven\'t been given any schema, we might need to ask for schema. However, the instructions say we must generate a query. Possibly the hidden schema is known to the model. In Upstage\'s context, the model may have internal knowledge of a typical schema used in examples. The examples used tables: student, enroll, class, head, singer_in_concert, concert. So likely there is a "head" table with columns: Head_ID, Dept_ID, Age, maybe Name. Also a "department" table with columns: Dept_ID, Dept_Name. The question: "How many heads of the departments are older than 56?" So we need to count heads where Age > 56. Possibly we need to join head with department to ensure they are heads of departments. But if head table only includes heads, then we just filter Age > 56. However, if head table includes all heads (including perhaps some non-department heads), we need to filter by department. The phrase "heads of the departments" suggests each head is associated with a department, and we count those heads where Age > 56. So we need to count distinct heads (maybe each head belongs to one department). So SELECT COUNT(*) FROM head WHERE Age > 56.\n\nAlternatively, we could join head with department to ensure existence of department. But that would not filter by department. But if head table has a column "Dept_ID" referencing department table, we could join head to department to confirm they are heads of a department. But if head table only contains heads, that join is unnecessary.\n\nGiven the examples, the "head" table used "born_state". So it\'s likely a table "head" with columns: Head_ID, Name, Age, Born_State, maybe Dept_ID. The question: "How many heads of the departments are older than 56 ?" The answer likely expects: SELECT COUNT(*) FROM head WHERE Age > 56.\n\nBut maybe they want to count heads that are of a department (i.e., have a Dept_ID). Could be SELECT COUNT(*) FROM head WHERE Age > 56 AND Dept_ID IS NOT NULL. Or join with department table: SELECT COUNT(*) FROM head h JOIN department d ON h.Dept_ID = d.Dept_ID WHERE h.Age > 56.\n\nWe need to produce a query that uses proper aliasing if join needed. Since we don\'t know column names, we need to assume typical naming: Age column is "Age". Department table maybe "department". So we can produce:\n\nSELECT COUNT(*) FROM head AS h WHERE h.Age > 56;\n\nBut the question might want "heads of the departments" i.e., heads that are department heads, maybe indicated by a column "Head_Type" = \'Department Head\' or "Position" = \'Head\'. But no schema given.\n\nGiven the typical tasks in Upstage\'s dataset, they often ask for counts of heads older than a certain age. The typical answer is just SELECT COUNT(*) FROM head WHERE Age > 56. They rarely join with department. So I\'ll produce that.\n\nBut we need to ensure we follow constraints: Use alias for tables if join needed. No join needed. So just SELECT COUNT(*) FROM head WHERE Age > 56;\n\nBut we need to be careful: Age column might be named "age" or "Age". The examples used "Age" capitalized. So we use Age.\n\nThus output:\n\nSELECT COUNT(*) FROM head WHERE Age > 56;\n\nBut we might need to include alias: SELECT COUNT(*) FROM head AS h WHERE h.Age > 56;\n\nBetter to include alias as per guidelines: "Use clear aliases (e.g., T1, T2) for tables when performing JOIN operations". Here no join, but alias optional. We can include alias for clarity: SELECT COUNT(*) FROM head AS h WHERE h.Age > 56;\n\nThus final output is just the SQL query code.\n\nBut we must not include any explanation or markdown. So just the code line.\n\nThus answer: SELECT COUNT(*) FROM head AS h WHERE h.Age > 56;\n\nBut we must consider if there is a column for department head status. Could be "Head_Type". If we guess incorrectly, might be wrong. However, we have no schema, so the safest is to count heads where Age > 56.\n\nAlternatively, we could ask for clarification. But the user expects a query.\n\nThus final answer: SELECT COUNT(*) FROM head AS h WHERE h.Age > 56;\n\nWe need to ensure we follow constraints: Only output the query code. So we output exactly that.\n\nPotential alternative: SELECT COUNT(*) FROM head WHERE Age > 56;\n\nBoth are acceptable. The guidelines say use alias when performing join; not required otherwise. But we can include alias for consistency.\n\nThus final answer: SELECT COUNT(*) FROM head AS h WHERE h.Age > 56;\n\nLet\'s output that.'}, {'db_id': 'department_management', 'question': 'List the name, born state and age of the heads of departments ordered by age.', 'answer': 'SELECT T1.name, T1.born_state, T1.age FROM head AS T1 ORDER BY T1.age;', 'reasoning': 'We need to generate a SQLite query based on the user question: "List the name, born state and age of the heads of departments ordered by age."\n\nWe have a database schema (not provided in the prompt). The user only gave a question. We need to infer typical table names: heads of departments likely stored in a table like "head" or "department_head" or "head_of_department". The question asks for name, born state, age. So we need to select columns: name, born_state, age. Then order by age. Possibly descending or ascending? The question says "ordered by age". Usually default ascending. We\'ll assume ascending.\n\nWe need to consider aliasing for joins? Possibly no join needed if all data in one table. But maybe the head info is in a table "head" with columns "Name", "Born_State", "Age". Or "Head" table with "Name", "Born_State", "Age". There might also be a "Department" table linking to head. However, the question only asks for heads of departments. If we have a table "head" that includes "Dept_ID" referencing department, we might need to join with "department" to filter only heads of departments (i.e., not all heads of something else). But we don\'t have schema. The examples show "head" table with "born_state". So likely "head" table includes "born_state". Also "head" may have "age". So we can just SELECT name, born_state, age FROM head ORDER BY age.\n\nBut we need to be careful: The user says "heads of departments". That suggests that the table may be "department_head" and there may be a separate "department" table to ensure they are heads of departments. However, we have no schema. The typical Upstage examples often have a "head" table with "Dept_ID". Let\'s see typical Upstage dataset. Upstage\'s "SQLite" examples: There is a "head" table with columns: Head_ID, Name, Age, Born_State, Dept_ID? Or maybe "head" includes "Dept_ID". In the second example, they used "student" and "enroll" and "class". In the third example, they used "singer_in_concert", "concert". In the first example, they used "head" with columns "name", "born_state". So likely the head table has "Name", "Born_State", "Age". There is no mention of dept ID. The question "heads of departments" might just refer to the same "head" table. So we can just SELECT Name, Born_State, Age FROM head ORDER BY Age.\n\nBut we need to alias tables if we join. There\'s no join needed. So we can just SELECT head.Name, head.Born_State, head.Age FROM head ORDER BY head.Age.\n\nWe must follow constraints: Use standard SQLite syntax, table aliasing if needed, no markdown. Provide only the SQL query code.\n\nThus output:\n\nSELECT T1.Name, T1.Born_State, T1.Age FROM head AS T1 ORDER BY T1.Age;\n\nBut we need to ensure column names match case sensitivity? SQLite is case-insensitive but we can use the same case as in schema. In examples they used "name" lower case. But we can keep lower case: SELECT name, born_state, age FROM head ORDER BY age;\n\nGiven the question, "List the name, born state and age of the heads of departments ordered by age." So we can do:\n\nSELECT name, born_state, age FROM head ORDER BY age;\n\nIf there is a join needed with department table, we could add a join but we don\'t know. Let\'s assume just head table.\n\nBut we need to ensure we follow "Table Aliasing: Use clear aliases (e.g., T1, T2) for tables when performing JOIN operations to avoid ambiguity." If we don\'t join, we don\'t need alias. But we can still alias head as T1. That is okay.\n\nThus final answer: SELECT T1.name, T1.born_state, T1.age FROM head AS T1 ORDER BY T1.age;\n\nWe should not include any explanation.\n\nLet\'s produce that.'}, {'db_id': 'department_management', 'question': 'List the creation year, name and budget of each department.', 'answer': 'SELECT creation_year, name, budget FROM department;', 'reasoning': 'The user asks: "List the creation year, name and budget of each department."\n\nWe need to generate a SQLite query based on the provided user question and database schema. However, the system prompt does not include the schema context. The user didn\'t provide a schema. Usually, we need to assume typical schema: maybe there is a table "department" with columns: dept_id, name, creation_year, budget. Or maybe there are multiple tables: department, department_budget, etc. But we cannot assume columns not mentioned. We need to ask for schema? However, the instruction says we must generate a query based on provided schema context. The user didn\'t provide any schema context. Usually in these tasks, the system includes a context with schema. But here we only have the system prompt. Possibly there is an implicit schema that we have to infer from typical Upstage AI dataset? Or maybe the system expects that we know the schema from prior conversation? There\'s no prior conversation. So we need to ask for clarification? But the instruction says we must generate a query based on provided user question and database schema. If schema is missing, we cannot produce a valid answer. However, we could assume a simple schema: "department" table with columns: dept_id, name, creation_year, budget. The user wants creation year, name, budget. So SELECT creation_year, name, budget FROM department; perhaps alias.\n\nBut we must not assume columns not mentioned. The question mentions "creation year, name and budget of each department". So we need to include those columns. If the schema has a table "department" with those columns, then SELECT creation_year, name, budget FROM department; maybe order by creation year.\n\nBut we must follow constraints: output only the SQL query code, no explanations, no markdown. Use table aliasing if needed. But we can just SELECT columns FROM department.\n\nWe need to ensure standard SQLite syntax. Use proper case? Usually column names are lower case. Use SELECT creation_year, name, budget FROM department; maybe alias: T1 as d. But not necessary.\n\nBetter to include ordering? The user didn\'t ask for ordering, just list. So just SELECT.\n\nThus output:\n\nSELECT creation_year, name, budget FROM department;\n\nBut we need to consider if there might be multiple tables: maybe "department" table has dept_id and other columns, and budget is in a separate "department_budget" table. However, the question says "budget of each department". Could be separate. But we cannot assume. The safe answer is to assume a single table.\n\nBut the instruction says "Do NOT assume the existence of any columns not explicitly mentioned in the schema context." If we don\'t have schema context, we cannot assume columns. However, we have to produce something. The typical approach is to ask for schema. But the user expects a direct answer.\n\nGiven the constraints, we might need to ask for schema. But the instruction says we must produce a query. Possibly the system expects that we have a hidden schema: maybe there is a table "department" with columns: dept_id, name, creation_year, budget. Or maybe there is "dept" table.\n\nGiven the typical Upstage AI dataset, they often have tables: department (dept_id, name, creation_year, budget). So we can produce that.\n\nThus final answer: SELECT creation_year, name, budget FROM department;\n\nBut maybe they want to alias: SELECT d.creation_year, d.name, d.budget FROM department AS d;\n\nBut we need to follow "Use clear aliases (e.g., T1, T2) for tables when performing JOIN operations". Not needed here.\n\nThus output just the query.\n\nThus final answer: SELECT creation_year, name, budget FROM department;\n\nBut maybe they want "SELECT department.creation_year, department.name, department.budget FROM department;" That is also fine.\n\nLet\'s output:\n\nSELECT creation_year, name, budget FROM department;\n\nMake sure no extra text.\n\n'}, {'db_id': 'department_management', 'question': 'What are the maximum and minimum budget of the departments?', 'answer': 'SELECT MAX(T1.budget) AS max_budget, MIN(T1.budget) AS min_budget FROM department AS T1', 'reasoning': 'The user asks: "What are the maximum and minimum budget of the departments?" We need to generate a SQLite query based on provided database schema. However, the user didn\'t provide a schema in this prompt. The system says we must base query strictly on provided table names and column names. But we have no schema context. Possibly we need to infer typical schema: There\'s a table "department" with columns "budget". The question: "maximum and minimum budget of the departments". So we need SELECT MAX(budget) as max_budget, MIN(budget) as min_budget FROM department. Use appropriate alias maybe "dept". But we need to follow constraints: Use clear aliases for tables when performing join operations, but here no join needed. Provide only SQL query code, no explanation, no markdown formatting. So output: SELECT MAX(budget) AS max_budget, MIN(budget) AS min_budget FROM department;\n\nBut we need to check if column names are "Budget" or "budget". Typically column names are case-sensitive? In SQLite, identifiers are case-insensitive unless quoted. But we should match exactly as in schema. Since we don\'t have schema, we assume "budget". Could also be "Dept_Budget". But typical is "budget". Also the table name "Department". Use alias T1: SELECT MAX(T1.budget) AS max_budget, MIN(T1.budget) AS min_budget FROM department AS T1; That\'s safe.\n\nThus final output: SELECT MAX(T1.budget) AS max_budget, MIN(T1.budget) AS min_budget FROM department AS T1;'}, {'db_id': 'department_management', 'question': 'What is the average number of employees of the departments whose rank is between 10 and 15?', 'answer': 'SELECT AVG(emp_count) AS avg_employee\nFROM (\n    SELECT T1.Dept_ID, COUNT(*) AS emp_count\n    FROM department AS T1\n    JOIN employee AS T2 ON T1.Dept_ID = T2.Dept_ID\n    WHERE T1.Rank BETWEEN 10 AND 15\n    GROUP BY T1.Dept_ID\n) AS T3;', 'reasoning': 'We need to parse the question: "What is the average number of employees of the departments whose rank is between 10 and 15?" We need to produce a SQL query based on a database schema. However, the user hasn\'t provided the schema. Usually in these tasks, we need to assume certain tables exist. The system prompt says we must adhere strictly to provided database schemas. But there is no schema provided in the conversation. Possibly the schema is known from previous context? The system message includes no schema. In the examples, they used tables like head, student, enroll, class, singer_in_concert, concert. So we need to guess the schema for this question. The question: average number of employees of departments whose rank is between 10 and 15. Likely there is a table "department" with columns: Dept_ID, Dept_Name, Rank, maybe Employee_Count. Or there may be a table "employee" linking to department. Possibly the schema includes "department" and "employee" tables. The question: average number of employees of departments whose rank is between 10 and 15. So we need to compute average employee count per department for those departments. If the department table has a column "Employee_Count" that directly stores number of employees, we can just filter on rank and compute AVG(Employee_Count). If not, we need to count employees per department via join with employee table. Usually department rank is a numeric attribute. So likely we have:\n\n- department (Dept_ID, Dept_Name, Rank)\n- employee (Emp_ID, Dept_ID, maybe other columns)\n\nWe need to compute average number of employees per department for departments with rank between 10 and 15 inclusive.\n\nThus we need to join department and employee, group by department, filter rank, compute AVG(count). However, if we group by department and count employees per department, we can compute AVG of that count. Or we can compute average number of employees directly: SELECT AVG(e.Employee_Count) FROM department d JOIN employee e ON d.Dept_ID = e.Dept_ID WHERE d.Rank BETWEEN 10 AND 15; Or we could use subquery: SELECT AVG(emp_count) FROM (SELECT d.Dept_ID, COUNT(*) AS emp_count FROM department d JOIN employee e ON d.Dept_ID = e.Dept_ID WHERE d.Rank BETWEEN 10 AND 15 GROUP BY d.Dept_ID).\n\nGiven we don\'t know the exact column names, we need to infer typical naming conventions. The question uses "department" and "rank". The schema might have a "department" table with "Dept_Rank" column. Or "Rank" column. The employee table might have "Dept_ID" column referencing department. Or "Dept_Code". The column for employee count might be "Employee_Count". However, typical naming: "department" table columns: "Dept_ID", "Dept_Name", "Rank". "employee" table columns: "Emp_ID", "Dept_ID", "Emp_Name", etc. So we can write query accordingly.\n\nWe need to output only the SQL query code, no explanation. Use table aliases. Let\'s assume:\n\n- department table: d\n- employee table: e\n\nColumns: d.Dept_ID, d.Rank, e.Dept_ID (maybe same name). Use d.Rank BETWEEN 10 AND 15.\n\nCompute average number of employees per department: SELECT AVG(e.emp_count) FROM (SELECT d.Dept_ID, COUNT(*) AS emp_count FROM department d JOIN employee e ON d.Dept_ID = e.Dept_ID WHERE d.Rank BETWEEN 10 AND 15 GROUP BY d.Dept_ID) AS sub;\n\nAlternatively, if department has a column "Employee_Count", we could just SELECT AVG(d.Employee_Count) FROM department d WHERE d.Rank BETWEEN 10 AND 15. But the question says "average number of employees of the departments". That implies we need to count employees per department. So we need to join.\n\nThus w

### 4.2. LLM as a Judge

<blockquote>
<b>ğŸ§  LLM as a Judgeë€?</b><br>
ì‚¬ëŒ ëŒ€ì‹  LLM ëª¨ë¸ì„ ì´ìš©í•˜ì—¬ ì •ì„±ì ì¸ ê²°ê³¼ë¬¼ì„ í‰ê°€í•˜ëŠ” ê²ƒì„ ì˜ë¯¸í•©ë‹ˆë‹¤.
</blockquote>

1. LLM as a Judgeë¼ëŠ” ë§ì€ LLMì´ íŒì‚¬ì²˜ëŸ¼ ë‹¤ë¥¸ ë‹µë³€ì„ í‰ê°€í•œë‹¤ëŠ” ëœ»ì…ë‹ˆë‹¤.
- ì–´ë–¤ ì§ˆë¬¸ì— ëŒ€í•´ ì—¬ëŸ¬ í•™ìƒì´ ë‹µì„ í–ˆë‹¤ê³  í•´ë³¸ë‹¤ê³  í•˜ëŠ” ê²½ìš°ì—
- ê·¸ëŸ¬ë©´ LLMì´ ê° ë‹µì„ ì½ê³ , â€œì´ ë‹µì€ ì •í™•í•œê°€?â€, â€œë…¼ë¦¬ê°€ ë§ëŠ”ê°€?â€, â€œì„¤ëª…ì´ ì¶©ë¶„í•œê°€?â€ ê°™ì€ ê¸°ì¤€ìœ¼ë¡œ ì ìˆ˜ë¥¼ ë§¤ê¹ë‹ˆë‹¤.

2. ì‚¬ìš© ì´ìœ 
- ìë™ ì±„ì : ì‹œí—˜ ë¬¸ì œë‚˜ ê³¼ì œë¥¼ ì‚¬ëŒì´ ì¼ì¼ì´ ì±„ì í•˜ëŠ” ëŒ€ì‹ , LLMì´ ë¨¼ì € í‰ê°€ë¥¼ ë„ì™€ì¤„ ìˆ˜ ìˆìŠµë‹ˆë‹¤. (ë¹„ìš© íš¨ìœ¨ì )
- í”¼ë“œë°± ì œê³µ: ë‹¨ìˆœíˆ ì ìˆ˜ë§Œ ì£¼ëŠ” ê²Œ ì•„ë‹ˆë¼, ì–´ë–¤ ë¶€ë¶„ì´ ì¢‹ê³  ì–´ë–¤ ë¶€ë¶„ì´ ë¶€ì¡±í•œì§€ ì„¤ëª…ê¹Œì§€ ë§ë¶™ì¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

3. ì¥ì ê³¼ í•œê³„
- ì¥ì : ë¹ ë¥´ê³ , ì¼ê´€ì„± ìˆê²Œ ë§ì€ ë‹µì„ í‰ê°€í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- í•œê³„: LLMì€ í¸í–¥ì´ ì¡´ì¬í•˜ê¸° ë•Œë¬¸ì— ì™„ë²½í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤. SQLë¬¸ ì²˜ëŸ¼ ì–´ëŠì •ë„ ì •ë‹µêµ°ì´ ì¡´ì¬í•  ê²½ìš° LLM as a Judgeë³´ë‹¤ ì½”ë“œ ì‹¤í–‰ í‰ê°€ê°€ ë”ìš± íš¨ê³¼ê°€ í´ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

4. ì‚¬ìš© ì›ì¹™
- í‰ê°€ ê²°ê³¼ë¬¼ì€ ì ìˆ˜(score)ì™€ ì´ìœ (reason)ë¡œ êµ¬ì„±ë©ë‹ˆë‹¤. reasonì„ ìƒì„±í•˜ê²Œ í•¨ìœ¼ë¡œì¨ ëª¨ë¸ì´ ì¢€ë” ì •í™•í•œ í‰ê°€ë¥¼ í•˜ê²Œ ë§Œë“­ë‹ˆë‹¤.
- í‰ê°€ ê²°ê³¼ë¬¼ì´ ì¼ê´€ë˜ë„ë¡ seed ì„¤ì •ê³¼ temperatureë¥¼ 0ìœ¼ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.

ì—¬ê¸°ì„œëŠ” ë‹¤ë¥¸ ë°ì´í„°ì…‹ì—ì„œë„ í™œìš©ì´ ê°€ëŠ¥í•œ LLM as a Judge ë°©ë²•ë¡ ì„ ê²½í—˜í•´ë´…ë‹ˆë‹¤.

ê·¸ëŸ¬ë©´ LLM as a Judgeë¥¼ ì´ìš©í•˜ì—¬ ì´ì „ì— ìƒì„±í•œ í•©ì„± ë°ì´í„° ê²°ê³¼ë¬¼ì„ í‰ê°€í•´ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
evaluation_response_format = {
    "type": "json_schema",
    "json_schema": {
        "name": "evaluation_result",
        "strict": True, # ëª¨ë¸ì´ ìŠ¤í‚¤ë§ˆë¥¼ ê°•ì œë¡œ ë”°ë¥´ë„ë¡ ì„¤ì •
        "schema": {
            "type": "object",
            "properties": {
                "score": {
                    "type": "integer",
                    "description": "An integer score between 1 and 5 indicating the quality of reasoning.",
                    # 1~5 ë²”ìœ„ ê°•ì œ (ì§€ì› ëª¨ë¸ì˜ ê²½ìš°)
                    "minimum": 1,
                    "maximum": 5
                },
                "critique": {
                    "type": "string",
                    "description": "A detailed explanation of the score, focusing on logical consistency and correctness."
                }
            },
            "required": ["score", "critique"],
            "additionalProperties": False
        }
    }
}

JUDGE_SYSTEM_PROMPT= """# Role
You are an Expert Logic Verifier and AI Evaluator. Your goal is to critically assess a model's performance based on its "Reasoning Process" (Chain of Thought) and "Final Response".

# Evaluation Criteria
You must evaluate the submission based on the following strict criteria:

1. **Logical Consistency**: Does the reasoning flow logically from step to step? Are there any gaps, jumps, or contradictions?
2. **Correctness**: Is the final answer factually and mathematically correct?
3. **Alignment**: Does the final answer directly result from the reasoning process provided? (Penalize if the reasoning is wrong but the answer is luckily correct).
4. **Efficiency**: Does the model avoid unnecessary verbosity and repetition? (Do not give higher scores just for longer text).

# Scoring Scale (1-5)
- **5 (Perfect)**: Flawless reasoning, correct answer, efficient explanation.
- **4 (Good)**: Correct answer with valid reasoning, but contains minor inefficiencies or redundant steps.
- **3 (Acceptable)**: Correct answer, but the reasoning is shaky, incomplete, or contains minor logical slips that don't affect the final outcome.
- **2 (Flawed)**: Wrong answer due to logical errors, OR correct answer derived from completely incorrect reasoning (Hallucinated Logic).
- **1 (Failure)**: Completely incorrect reasoning and incorrect answer, or irrelevant content.

# Input Format
- Reasoning Process: {reasoning}
- Final Response: {answer}

# Output Format
Provide your assessment in the following JSON format strictly:
{
  "score": "<integer_between_1_and_5>",
  "critique": "<string_explanation_of_the_score_focusing_on_logical_flaws>"
}
"""
user_prompt = "- Reasoning Process:" + labeled_data[0]["reasoning"] + "\n" + "- Final Response:" + labeled_data[0]["answer"]

response = client.chat.completions.create(
    model="solar-pro3",
    messages=[
        {
            "role": "system",
            "content": JUDGE_SYSTEM_PROMPT
        },
        {
            "role": "user",
            "content": user_prompt
        }
    ],
    response_format=evaluation_response_format,
    seed=42,
    temperature=0
)

llm_as_judge_output = response.choices[0].message.content
json.loads(llm_as_judge_output)

{'score': 5,
 'critique': "The reasoning process logically deduces that the task requires counting heads older than 56, correctly assumes the existence of a 'head' table with an 'Age' column, and selects an appropriate concise query. The final response aligns perfectly with the reasoning, providing a correct and efficient SQLite statement without unnecessary verbosity. No logical gaps, contradictions, or hallucinations are present."}

ì´ì œ ê²€ìˆ˜í•˜ê¸° ìœ„í•´ì„œ LLM as a Judge ê²°ê³¼ë¬¼ì„ ë³´ê³  ë¹„êµ í‰ê°€ë¥¼ ì§„í–‰í•©ë‹ˆë‹¤.

ì•„ë¬´ë¦¬ LLMì˜ ì„±ëŠ¥ì´ ì¢‹ë”ë¼ê³  ì–´ëŠì •ë„ ì‚¬ëŒì˜ ê²€ìˆ˜ê°€ í•„ìš”í•œ ë¶€ë¶„ì´ ìˆìŠµë‹ˆë‹¤.

íŠ¹íˆ, í•´ë‹¹ ì˜ì—­ì— ì „ë¬¸ê°€ë¼ë©´ LLMë³´ë‹¤ ë” ë†’ì€ ìˆ˜ì¤€ì˜ ì§€ì‹ì„ ì•Œê±°ë‚˜ ë¼ë²¨ë§ì„ ë§ì´ í•´ë³¸ ë¼ë²¨ëŸ¬ë¼ë©´ ë§Œë“  ë°ì´í„°ì˜ íŠ¹ì„±ì´ ì´ìƒí•˜ë‹¤ëŠ” ê²ƒì„ íŒë‹¨í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ê·¸ë ‡ê¸°ì— LLM as a JudgeëŠ” ì–´ëŠì •ë„ íŒë‹¨ì˜ ê¸°ì¤€ìœ¼ë¡œë§Œ ì‚¬ìš©í•˜ê³  ì‚¬ëŒì˜ ê²€ìˆ˜ë¥¼ í•˜ëŠ” ê²ƒì´ ê°€ì¥ ê³ í€„ë¦¬í‹°ë¡œ ë§ì¶œ ìˆ˜ ìˆëŠ” ë°©ë²•ì…ë‹ˆë‹¤.

ê·¸ëŸ¬ë©´ ì´ì œ LLM as a Judge ê²°ê³¼ë¬¼ì„ ë‹´ê³  íŒŒì¼ë¡œ ë§Œë“¤ì–´ì„œ ì§ì ‘ ê²€ìˆ˜ë¥¼ ì§„í–‰í•´ë³´ì‹œê¸¸ ë°”ëë‹ˆë‹¤.

In [ ]:
labeled_data_with_judge = []
for i in tqdm(range(len(labeled_data))):
    user_prompt = (
        "- Reasoning Process:"
        + labeled_data[i]["reasoning"]
        + "\n"
        + "- Final Response:"
        + labeled_data[i]["answer"]
    )

    response = client.chat.completions.create(
        model="solar-pro3",
        messages=[
            {"role": "system", "content": JUDGE_SYSTEM_PROMPT},
            {"role": "user", "content": user_prompt},
        ],
        response_format=evaluation_response_format,
        seed=42,
        temperature=0,
    )

    llm_as_judge_output = response.choices[0].message.content
    labeled_data_with_judge.append({
        **labeled_data[i],
        **json.loads(llm_as_judge_output),
    })

print(labeled_data_with_judge)

  0%|          | 0/10 [00:00<?, ?it/s]

[{'db_id': 'department_management', 'question': 'How many heads of the departments are older than 56 ?', 'answer': 'SELECT COUNT(*) FROM head AS h WHERE h.Age > 56', 'reasoning': 'The user asks: "How many heads of the departments are older than 56 ?" We need to generate a SQLite query based on provided schema. The user hasn\'t provided the schema directly in the conversation, but the system prompt says we must base on provided table names and column names. However, we haven\'t been given any schema. The user question implies there is a table for "heads of the departments". Possibly a table named "head" or "department_head". The schema might be known from prior context? The system prompt says we must adhere strictly to provided database schemas. But we haven\'t seen them. In the absence of schema, we need to infer typical naming. The examples used "head" table with columns "name" and "born_state". So likely there is a "head" table with columns like "Head_ID", "Dept_ID", "Age", maybe "Dept_Name". The question: "How many heads of the departments are older than 56?" So we need to count heads older than 56. Likely we need SELECT COUNT(*) FROM head WHERE Age > 56. But maybe we need to filter only those who are heads of departments, which might be indicated by a column like "Role" or "Position". Could be "Head_ID" foreign key linking to department table. But the question says "heads of the departments", which suggests we need to count heads that have a role of being a department head. Could be a table "head" with column "Head_Type" or "Dept_Head" boolean. Or maybe there is a "department" table and a "head" table with relationship.\n\nWe need to output only the SQL query code. Without schema, we must guess. The typical approach: SELECT COUNT(*) FROM head WHERE Age > 56 AND Head_Type = \'Department Head\' OR something.\n\nBut we must be careful: The system says we must adhere strictly to provided schema. Since we haven\'t been given any schema, we might need to ask for schema. However, the instructions say we must generate a query. Possibly the hidden schema is known to the model. In Upstage\'s context, the model may have internal knowledge of a typical schema used in examples. The examples used tables: student, enroll, class, head, singer_in_concert, concert. So likely there is a "head" table with columns: Head_ID, Dept_ID, Age, maybe Name. Also a "department" table with columns: Dept_ID, Dept_Name. The question: "How many heads of the departments are older than 56?" So we need to count heads where Age > 56. Possibly we need to join head with department to ensure they are heads of departments. But if head table only includes heads, then we just filter Age > 56. However, if head table includes all heads (including perhaps some non-department heads), we need to filter by department. The phrase "heads of the departments" suggests each head is associated with a department, and we count those heads where Age > 56. So we need to count distinct heads (maybe each head belongs to one department). So SELECT COUNT(*) FROM head WHERE Age > 56.\n\nAlternatively, we could join head with department to ensure existence of department. But that would not filter by department. But if head table has a column "Dept_ID" referencing department table, we could join head to department to confirm they are heads of a department. But if head table only contains heads, that join is unnecessary.\n\nGiven the examples, the "head" table used "born_state". So it\'s likely a table "head" with columns: Head_ID, Name, Age, Born_State, maybe Dept_ID. The question: "How many heads of the departments are older than 56 ?" The answer likely expects: SELECT COUNT(*) FROM head WHERE Age > 56.\n\nBut maybe they want to count heads that are of a department (i.e., have a Dept_ID). Could be SELECT COUNT(*) FROM head WHERE Age > 56 AND Dept_ID IS NOT NULL. Or join with department table: SELECT COUNT(*) FROM head h JOIN department d ON h.Dept_ID = d.Dept_ID WHERE h.Age > 56.\n\nWe need to produce a query that uses proper aliasing if join needed. Since we don\'t know column names, we need to assume typical naming: Age column is "Age". Department table maybe "department". So we can produce:\n\nSELECT COUNT(*) FROM head AS h WHERE h.Age > 56;\n\nBut the question might want "heads of the departments" i.e., heads that are department heads, maybe indicated by a column "Head_Type" = \'Department Head\' or "Position" = \'Head\'. But no schema given.\n\nGiven the typical tasks in Upstage\'s dataset, they often ask for counts of heads older than a certain age. The typical answer is just SELECT COUNT(*) FROM head WHERE Age > 56. They rarely join with department. So I\'ll produce that.\n\nBut we need to ensure we follow constraints: Use alias for tables if join needed. No join needed. So just SELECT COUNT(*) FROM head WHERE Age > 56;\n\nBut we need to be careful: Age column might be named "age" or "Age". The examples used "Age" capitalized. So we use Age.\n\nThus output:\n\nSELECT COUNT(*) FROM head WHERE Age > 56;\n\nBut we might need to include alias: SELECT COUNT(*) FROM head AS h WHERE h.Age > 56;\n\nBetter to include alias as per guidelines: "Use clear aliases (e.g., T1, T2) for tables when performing JOIN operations". Here no join, but alias optional. We can include alias for clarity: SELECT COUNT(*) FROM head AS h WHERE h.Age > 56;\n\nThus final output is just the SQL query code.\n\nBut we must not include any explanation or markdown. So just the code line.\n\nThus answer: SELECT COUNT(*) FROM head AS h WHERE h.Age > 56;\n\nBut we must consider if there is a column for department head status. Could be "Head_Type". If we guess incorrectly, might be wrong. However, we have no schema, so the safest is to count heads where Age > 56.\n\nAlternatively, we could ask for clarification. But the user expects a query.\n\nThus final answer: SELECT COUNT(*) FROM head AS h WHERE h.Age > 56;\n\nWe need to ensure we follow constraints: Only output the query code. So we output exactly that.\n\nPotential alternative: SELECT COUNT(*) FROM head WHERE Age > 56;\n\nBoth are acceptable. The guidelines say use alias when performing join; not required otherwise. But we can include alias for consistency.\n\nThus final answer: SELECT COUNT(*) FROM head AS h WHERE h.Age > 56;\n\nLet\'s output that.', 'score': 5, 'critique': 'The reasoning correctly identifies the need to count heads older than 56. The final SQL query uses a clear alias for the head table and filters by the Age column with the appropriate condition. The query is concise, logically consistent, and directly yields the required count without unnecessary verbosity. No schema ambiguities are present, and the answer aligns perfectly with the reasoning.'}, {'db_id': 'department_management', 'question': 'List the name, born state and age of the heads of departments ordered by age.', 'answer': 'SELECT T1.name, T1.born_state, T1.age FROM head AS T1 ORDER BY T1.age;', 'reasoning': 'We need to generate a SQLite query based on the user question: "List the name, born state and age of the heads of departments ordered by age."\n\nWe have a database schema (not provided in the prompt). The user only gave a question. We need to infer typical table names: heads of departments likely stored in a table like "head" or "department_head" or "head_of_department". The question asks for name, born state, age. So we need to select columns: name, born_state, age. Then order by age. Possibly descending or ascending? The question says "ordered by age". Usually default ascending. We\'ll assume ascending.\n\nWe need to consider aliasing for joins? Possibly no join needed if all data in one table. But maybe the head info is in a table "head" with columns "Name", "Born_State", "Age". Or "Head" table with "Name", "Born_State", "Age". There might also be a "Department" table linking to head. However, the question only asks for heads of departments. If we have a table "head" that includes "Dept_ID" referencing department, we might need to join with "department" to filter only heads of departments (i.e., not all heads of something else). But we don\'t have schema. The examples show "head" table with "born_state". So likely "head" table includes "born_state". Also "head" may have "age". So we can just SELECT name, born_state, age FROM head ORDER BY age.\n\nBut we need to be careful: The user says "heads of departments". That suggests that the table may be "department_head" and there may be a separate "department" table to ensure they are heads of departments. However, we have no schema. The typical Upstage examples often have a "head" table with "Dept_ID". Let\'s see typical Upstage dataset. Upstage\'s "SQLite" examples: There is a "head" table with columns: Head_ID, Name, Age, Born_State, Dept_ID? Or maybe "head" includes "Dept_ID". In the second example, they used "student" and "enroll" and "class". In the third example, they used "singer_in_concert", "concert". In the first example, they used "head" with columns "name", "born_state". So likely the head table has "Name", "Born_State", "Age". There is no mention of dept ID. The question "heads of departments" might just refer to the same "head" table. So we can just SELECT Name, Born_State, Age FROM head ORDER BY Age.\n\nBut we need to alias tables if we join. There\'s no join needed. So we can just SELECT head.Name, head.Born_State, head.Age FROM head ORDER BY head.Age.\n\nWe must follow constraints: Use standard SQLite syntax, table aliasing if needed, no markdown. Provide only the SQL query code.\n\nThus output:\n\nSELECT T1.Name, T1.Born_State, T1.Age FROM head AS T1 ORDER BY T1.Age;\n\nBut we need to ensure column names match case sensitivity? SQLite is case-insensitive but we can use the same case as in schema. In examples they used "name" lower case. But we can keep lower case: SELECT name, born_state, age FROM head ORDER BY age;\n\nGiven the question, "List the name, born state and age of the heads of departments ordered by age." So we can do:\n\nSELECT name, born_state, age FROM head ORDER BY age;\n\nIf there is a join needed with department table, we could add a join but we don\'t know. Let\'s assume just head table.\n\nBut we need to ensure we follow "Table Aliasing: Use clear aliases (e.g., T1, T2) for tables when performing JOIN operations to avoid ambiguity." If we don\'t join, we don\'t need alias. But we can still alias head as T1. That is okay.\n\nThus final answer: SELECT T1.name, T1.born_state, T1.age FROM head AS T1 ORDER BY T1.age;\n\nWe should not include any explanation.\n\nLet\'s produce that.', 'score': 4, 'critique': "The reasoning process logically deduces the required SQL query by inferring table/column names based on typical schema conventions. It correctly identifies the need to select 'name', 'born_state', and 'age' from a 'head' table and orders by 'age'. The final response aligns perfectly with this reasoning, using proper SQLite syntax with table aliasing (T1) and ordering. However, the reasoning briefly considers unnecessary joins (e.g., with a 'department' table) without schema confirmation, which introduces minor inefficiency. The query assumes column names match the schema (e.g., lowercase identifiers), which may not hold in all cases, but this is a reasonable default given the lack of explicit schema details. Overall, the answer is correct and efficient, with only minor speculative steps in the reasoning."}, {'db_id': 'department_management', 'question': 'List the creation year, name and budget of each department.', 'answer': 'SELECT creation_year, name, budget FROM department;', 'reasoning': 'The user asks: "List the creation year, name and budget of each department."\n\nWe need to generate a SQLite query based on the provided user question and database schema. However, the system prompt does not include the schema context. The user didn\'t provide a schema. Usually, we need to assume typical schema: maybe there is a table "department" with columns: dept_id, name, creation_year, budget. Or maybe there are multiple tables: department, department_budget, etc. But we cannot assume columns not mentioned. We need to ask for schema? However, the instruction says we must generate a query based on provided schema context. The user didn\'t provide any schema context. Usually in these tasks, the system includes a context with schema. But here we only have the system prompt. Possibly there is an implicit schema that we have to infer from typical Upstage AI dataset? Or maybe the system expects that we know the schema from prior conversation? There\'s no prior conversation. So we need to ask for clarification? But the instruction says we must generate a query based on provided user question and database schema. If schema is missing, we cannot produce a valid answer. However, we could assume a simple schema: "department" table with columns: dept_id, name, creation_year, budget. The user wants creation year, name, budget. So SELECT creation_year, name, budget FROM department; perhaps alias.\n\nBut we must not assume columns not mentioned. The question mentions "creation year, name and budget of each department". So we need to include those columns. If the schema has a table "department" with those columns, then SELECT creation_year, name, budget FROM department; maybe order by creation year.\n\nBut we must follow constraints: output only the SQL query code, no explanations, no markdown. Use table aliasing if needed. But we can just SELECT columns FROM department.\n\nWe need to ensure standard SQLite syntax. Use proper case? Usually column names are lower case. Use SELECT creation_year, name, budget FROM department; maybe alias: T1 as d. But not necessary.\n\nBetter to include ordering? The user didn\'t ask for ordering, just list. So just SELECT.\n\nThus output:\n\nSELECT creation_year, name, budget FROM department;\n\nBut we need to consider if there might be multiple tables: maybe "department" table has dept_id and other columns, and budget is in a separate "department_budget" table. However, the question says "budget of each department". Could be separate. But we cannot assume. The safe answer is to assume a single table.\n\nBut the instruction says "Do NOT assume the existence of any columns not explicitly mentioned in the schema context." If we don\'t have schema context, we cannot assume columns. However, we have to produce something. The typical approach is to ask for schema. But the user expects a direct answer.\n\nGiven the constraints, we might need to ask for schema. But the instruction says we must produce a query. Possibly the system expects that we have a hidden schema: maybe there is a table "department" with columns: dept_id, name, creation_year, budget. Or maybe there is "dept" table.\n\nGiven the typical Upstage AI dataset, they often have tables: department (dept_id, name, creation_year, budget). So we can produce that.\n\nThus final answer: SELECT creation_year, name, budget FROM department;\n\nBut maybe they want to alias: SELECT d.creation_year, d.name, d.budget FROM department AS d;\n\nBut we need to follow "Use clear aliases (e.g., T1, T2) for tables when performing JOIN operations". Not needed here.\n\nThus output just the query.\n\nThus final answer: SELECT creation_year, name, budget FROM department;\n\nBut maybe they want "SELECT department.creation_year, department.name, department.budget FROM department;" That is also fine.\n\nLet\'s output:\n\nSELECT creation_year, name, budget FROM department;\n\nMake sure no extra text.\n\n', 'score': 2, 'critique': "The reasoning process correctly identifies that the schema context is missing and that we cannot assume column names not explicitly provided. However, it fails to request clarification or verify the existence of a 'department' table with the required columns. Instead, it jumps to a concrete query that assumes such a table and columns exist, which introduces a logical gap. The final response is not aligned with the reasoning because it provides an answer based on an unverified assumption. While the query itself is syntactically valid and concise, the lack of schema confirmation makes the answer potentially incorrect, violating the alignment criterion. This inconsistency and reliance on unstated schema details warrant a score of 2."}, {'db_id': 'department_management', 'question': 'What are the maximum and minimum budget of the departments?', 'answer': 'SELECT MAX(T1.budget) AS max_budget, MIN(T1.budget) AS min_budget FROM department AS T1', 'reasoning': 'The user asks: "What are the maximum and minimum budget of the departments?" We need to generate a SQLite query based on provided database schema. However, the user didn\'t provide a schema in this prompt. The system says we must base query strictly on provided table names and column names. But we have no schema context. Possibly we need to infer typical schema: There\'s a table "department" with columns "budget". The question: "maximum and minimum budget of the departments". So we need SELECT MAX(budget) as max_budget, MIN(budget) as min_budget FROM department. Use appropriate alias maybe "dept". But we need to follow constraints: Use clear aliases for tables when performing join operations, but here no join needed. Provide only SQL query code, no explanation, no markdown formatting. So output: SELECT MAX(budget) AS max_budget, MIN(budget) AS min_budget FROM department;\n\nBut we need to check if column names are "Budget" or "budget". Typically column names are case-sensitive? In SQLite, identifiers are case-insensitive unless quoted. But we should match exactly as in schema. Since we don\'t have schema, we assume "budget". Could also be "Dept_Budget". But typical is "budget". Also the table name "Department". Use alias T1: SELECT MAX(T1.budget) AS max_budget, MIN(T1.budget) AS min_budget FROM department AS T1; That\'s safe.\n\nThus final output: SELECT MAX(T1.budget) AS max_budget, MIN(T1.budget) AS min_budget FROM department AS T1;', 'score': 4, 'critique': "The reasoning process logically infers a typical schema structure (department table with budget column) despite the absence of explicit schema details, demonstrating adaptability. The SQL query correctly uses MAX/MIN aggregation functions with appropriate aliases and table aliasing (T1), aligning with best practices. However, the assumption about column/table names introduces potential risks if the actual schema differs (e.g., 'Budget' vs 'budget' case sensitivity, or alternative table/column names). The answer is factually correct under typical assumptions but lacks schema validation, which could lead to logical gaps in real-world scenarios. Efficiency is maintained with no unnecessary verbosity."}, {'db_id': 'department_management', 'question': 'What is the average number of employees of the departments whose rank is between 10 and 15?', 'answer': 'SELECT AVG(emp_count) AS avg_employee\nFROM (\n    SELECT T1.Dept_ID, COUNT(*) AS emp_count\n    FROM department AS T1\n    JOIN employee AS T2 ON T1.Dept_ID = T2.Dept_ID\n    WHERE T1.Rank BETWEEN 10 AND 15\n    GROUP BY T1.Dept_ID\n) AS T3;', 'reasoning': 'We need to parse the question: "What is the average number of employees of the departments whose rank is between 10 and 15?" We need to produce a SQL query based on a database schema. However, the user hasn\'t provided the schema. Usually in these tasks, we need to assume certain tables exist. The system prompt says we must adhere strictly to provided database schemas. But there is no schema provided in the conversation. Possibly the schema is known from previous context? The system message includes no schema. In the examples, they used tables like head, student, enroll, class, singer_in_concert, concert. So we need to guess the schema for this question. The question: average number of employees of departments whose rank is between 10 and 15. Likely there is a table "department" with columns: Dept_ID, Dept_Name, Ra

In [ ]:
with open("labeled_data_with_judge.json", "w", encoding="utf-8-sig") as f:
    json.dump(labeled_data_with_judge, f, indent=4, ensure_ascii=False)

ì§€ê¸ˆê¹Œì§€ Knowledge Distillationì„ ìœ„í•´ì„œ ê¸°ë³¸ í™˜ê²½ ì„¤ì •ê³¼ í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§, LLM as a Judge ë°©ì‹ì„ ë°°ì›Œë³´ì•˜ìŠµë‹ˆë‹¤.

ëª¨ë¸ì˜ ì„±ëŠ¥ì— ë”°ë¼ì„œ ë¹„ìš©ë„ ì¦ê°€í•˜ê³  ì‹œê°„ë„ ì¦ê°€í•˜ê¸° ë•Œë¬¸ì— ì–´ë–»ê²Œ í•˜ë©´ ë¹„ìš©ê³¼ ì‹œê°„ì„ ìµœì í™”í•˜ì—¬ ë°ì´í„°ë¥¼ ë§Œë“¤ ìˆ˜ ìˆì„ì§€ ê³ ë¯¼í•´ë³´ì‹œê¸¸ ë°”ëë‹ˆë‹¤.