### **Objectives**

1. ì‹¤ìŠµëª… : Knowledge Distillationì„ ìœ„í•œ LLM ê¸°ë°˜ Pseudo labeled ë°ì´í„° ìƒì„±
2. í•µì‹¬ ì£¼ì œ:
    1. API ì…‹íŒ…
    2. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
    3. í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§
    4. LLMì„ ì´ìš©í•œ Pseudo Labeling
3. í•™ìŠµ ëª©í‘œ :
    1. Teacher ëª¨ë¸(LLM)ë¡œ ì‚¬ìš©í•  Upstage Solarë¥¼ ì…‹íŒ…í•  ìˆ˜ ìˆë‹¤.
    2. ë¯¸ë¦¬ ì €ì¥ëœ ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆë‹¤.
    3. LLMì„ ì´ìš©í•œ Knowledge Distillationì„ ìœ„í•´ í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§ì„ ì§„í–‰í•  ìˆ˜ ìˆë‹¤.
    4. LLMì„ ì´ìš©í•˜ì—¬ Pseudo Labelingì„ í•  ìˆ˜ ìˆë‹¤.
4. í•™ìŠµ ê°œë…: í‚¤ì›Œë“œëª… :
    1. LLM
    2. Prompt Engineering
    3. Pseudo Labeling
5. í•™ìŠµ ë°©í–¥ :
  - ë¡œì»¬ì—ì„œ ëŒë¦¬ê¸° ì–´ë ¤ìš´ parameter sizeì˜ ê±°ëŒ€ ëª¨ë¸ì„ APIë¥¼ ì´ìš©í•´ì„œ ë¶ˆëŸ¬ì™€ Pseudo Labelingì„ ì§„í–‰í•˜ì—¬ í•™ìŠµ ë°ì´í„°ë¥¼ ì¤€ë¹„í•©ë‹ˆë‹¤.
  - ì‹¤ìŠµ ì½”ë“œëŠ” ì¡°êµê°€ ì§ì ‘ êµ¬í˜„í•œ ì½”ë“œë¥¼ ì°¸ê³ í•˜ì—¬ í•™ìŠµí•©ë‹ˆë‹¤.
  - í•´ë‹¹ ì‹¤ìŠµì€ ë°ì´í„°ê°€ ìˆê¸´ í•˜ì§€ë§Œ ì •ë‹µ ë°ì´í„°ê°€ ì—†ëŠ” ìƒí™©ì„ ì–´ë–»ê²Œ í•˜ë©´ í•´ê²°í•  ìˆ˜ ìˆì„ì§€ ê³ ë¯¼í•©ë‹ˆë‹¤.

### **Prerequisites**
```
dotenv==0.9.9
openai==1.100.0
pandas==2.2.3
```

# 0. Knowledge Distillation(ì§€ì‹ ì¦ë¥˜, KD) ë°©ë²•ë¡ 

ìš°ë¦¬ê°€ ì§€ê¸ˆ ì‹¤ìŠµí•˜ë ¤ëŠ” **Pseudo Labeling**ì€ KDì˜ ê°€ì¥ ê¸°ë³¸ì ì¸ í˜•íƒœ ì¤‘ í•˜ë‚˜ì…ë‹ˆë‹¤. í•˜ì§€ë§Œ í•™ê³„ì™€ í˜„ì—…ì—ì„œëŠ” Teacher ëª¨ë¸ì˜ 'ì–´ë–¤ ì§€ì‹'ì„ 'ì–´ë–»ê²Œ' ë¹¼ë‚´ëŠëƒì— ë”°ë¼ ë‹¤ì–‘í•œ ë°©ë²•ë¡ ì´ ì¡´ì¬í•©ë‹ˆë‹¤. ì´ë¥¼ í¬ê²Œ ì „ë‹¬í•˜ëŠ” ì§€ì‹ì˜ í˜•íƒœ(Knowledge Type)ì— ë”°ë¼ ì„¸ ê°€ì§€ë¡œ ë¶„ë¥˜í•˜ê³ , ìµœê·¼ **LLM ì‹œëŒ€ì˜ ë°©ë²•ë¡ **ì„ ë³„ë„ë¡œ ì§šì–´ë³´ê² ìŠµë‹ˆë‹¤.

### **1. Response-Based Knowledge (ê²°ê³¼ ì¤‘ì‹¬ ì¦ë¥˜)**

ê°€ì¥ ì „í†µì ì´ê³ (Geoffrey Hinton, 2015), ì§€ê¸ˆë„ ê°€ì¥ ë§ì´ ì“°ì´ëŠ” ë°©ì‹ì…ë‹ˆë‹¤. Teacherì˜ **ìµœì¢… ì¶œë ¥ê°’(Last Layer Output)**ì„ Studentê°€ ëª¨ë°©í•˜ê²Œ í•©ë‹ˆë‹¤.

* **Soft Targets (Logits Matching):**
  * **ê°œë…:** ë‹¨ìˆœíˆ ì •ë‹µ(Hard Label, [0, 1, 0])ë§Œ ë°°ìš°ëŠ” ê²Œ ì•„ë‹ˆë¼, ì˜¤ë‹µì´ì§€ë§Œ ê°€ëŠ¥ì„± ìˆëŠ” í™•ë¥ (Soft Label, [0.05, 0.9, 0.05])ê¹Œì§€ ë°°ì›ë‹ˆë‹¤.
  * **í•µì‹¬:** `Temperature (T)` íŒŒë¼ë¯¸í„°ë¥¼ ì‚¬ìš©í•˜ì—¬ í™•ë¥  ë¶„í¬ë¥¼ ë¶€ë“œëŸ½ê²Œ(Softening) ë§Œë“­ë‹ˆë‹¤. ì´ë¥¼ í†µí•´ StudentëŠ” "ì´ ì‚¬ì§„ì€ ê°•ì•„ì§€ì§€ë§Œ, ê³ ì–‘ì´ì™€ë„ ê½¤ ë¹„ìŠ·í•˜êµ¬ë‚˜"ë¼ëŠ” **Dark Knowledge(ìˆ¨ê²¨ì§„ ì§€ì‹)**ë¥¼ í•™ìŠµí•©ë‹ˆë‹¤.


* **Hard Targets (Pseudo Labeling):**
  * **ê°œë…:** Teacherê°€ ë±‰ì€ ê°€ì¥ ë†’ì€ í™•ë¥ ì˜ í´ë˜ìŠ¤ë¥¼ ì •ë‹µ(Ground Truth)ìœ¼ë¡œ ê°„ì£¼í•˜ê³  í•™ìŠµí•©ë‹ˆë‹¤.
  * **íŠ¹ì§•:** ìš°ë¦¬ê°€ ì§„í–‰í•  **ì´ë²ˆ ì‹¤ìŠµ**ì´ ë°”ë¡œ ì—¬ê¸°ì— í•´ë‹¹í•©ë‹ˆë‹¤. Teacher(API)ì˜ Logit(í™•ë¥ ê°’)ì— ì ‘ê·¼í•  ìˆ˜ ì—†ëŠ” **Black-box** í™˜ê²½ì—ì„œ ê°€ì¥ ìœ ìš©í•œ ë°©ë²•ì…ë‹ˆë‹¤.



### **2. Feature-Based Knowledge (ì¤‘ê°„ ê³¼ì • ì¦ë¥˜)**

Teacher ëª¨ë¸ì´ ê¹Šì–´ì§ˆìˆ˜ë¡ ìµœì¢… ì¶œë ¥ê°’ë³´ë‹¤ëŠ” **ì¤‘ê°„ ë ˆì´ì–´(Intermediate Layers)**ì— ë” í’ë¶€í•œ íŠ¹ì§•(Feature) ì •ë³´ê°€ ë‹´ê²¨ ìˆë‹¤ëŠ” ì ì— ì°©ì•ˆí•œ ë°©ë²•ì…ë‹ˆë‹¤.

* **Hint Learning / Feature Map Matching:**
  * **ê°œë…:** Teacherì˜ ì¤‘ê°„ ë ˆì´ì–´ì—ì„œ ë‚˜ì˜¤ëŠ” Feature Mapê³¼ Studentì˜ ì¤‘ê°„ ë ˆì´ì–´ Feature Mapì´ ìœ ì‚¬í•´ì§€ë„ë¡ ì†ì‹¤ í•¨ìˆ˜(Loss Function)ë¥¼ ì„¤ê³„í•©ë‹ˆë‹¤.
  * **ì—”ì§€ë‹ˆì–´ë§ ì´ìŠˆ:** Teacherì™€ Studentì˜ ë ˆì´ì–´ í¬ê¸°(Dimension)ê°€ ë‹¤ë¥´ê¸° ë•Œë¬¸ì—, ì´ë¥¼ ë§ì¶°ì£¼ê¸° ìœ„í•œ ì¶”ê°€ì ì¸ **Regressor(ë³€í™˜ ë ˆì´ì–´)**ê°€ í•„ìš”í•©ë‹ˆë‹¤.


* **Attention Transfer:**
  * **ê°œë…:** Teacherê°€ ì…ë ¥ ë°ì´í„°ì˜ 'ì–´ë–¤ ë¶€ë¶„'ì„ ì¤‘ìš”í•˜ê²Œ ë³´ê³  ìˆëŠ”ì§€(Attention Map)ë¥¼ Studentì—ê²Œ ì „ìˆ˜í•©ë‹ˆë‹¤. "ì´ ë¬¸ì œë¥¼ í’€ ë•Œ ì—¬ê¸°ë¥¼ ë´ì•¼ í•´"ë¼ê³  ì‹œì„ ì„ êµì •í•´ ì£¼ëŠ” ê²ƒê³¼ ê°™ìŠµë‹ˆë‹¤.



### **3. Relation-Based Knowledge (ê´€ê³„ ì¤‘ì‹¬ ì¦ë¥˜)**

ë°ì´í„° í•˜ë‚˜í•˜ë‚˜ì˜ ì¶œë ¥ê°’ì„ ëª¨ë°©í•˜ëŠ” ê²ƒì„ ë„˜ì–´, ë°ì´í„°ë“¤ ì‚¬ì´ì˜ **ê´€ê³„(Relation)**ë¥¼ í•™ìŠµí•©ë‹ˆë‹¤.

* **Distance-wise Distillation:**
  * **ê°œë…:** Teacher ëª¨ë¸ ê³µê°„ì—ì„œ ë°ì´í„° Aì™€ Bê°€ ê°€ê¹ê³  Cê°€ ë©€ë‹¤ë©´, Student ëª¨ë¸ ê³µê°„ì—ì„œë„ A-BëŠ” ê°€ê¹ê³  CëŠ” ë©€ì–´ì•¼ í•©ë‹ˆë‹¤. ì´ëŸ¬í•œ ê¸°í•˜í•™ì  êµ¬ì¡°ë¥¼ ë³´ì¡´í•©ë‹ˆë‹¤.


* **Graph-based Distillation:**
  * **ê°œë…:** ë°ì´í„°ë¥¼ ê·¸ë˜í”„ì˜ ë…¸ë“œë¡œ ë³´ê³ , Teacherê°€ í˜•ì„±í•œ ê·¸ë˜í”„ êµ¬ì¡°(Graph Structure)ë¥¼ Studentê°€ ëª¨ë°©í•˜ê²Œ í•©ë‹ˆë‹¤.



### **4. LLM ì‹œëŒ€ì˜ KD ë°©ë²•ë¡  (Generative KD)**

ìµœê·¼ LLM íŠ¸ë Œë“œì—ì„œëŠ” ìœ„ ë°©ë²•ë¡ ë“¤ì´ ì¡°ê¸ˆ ë‹¤ë¥´ê²Œ ì ìš©ë©ë‹ˆë‹¤. íŠ¹íˆ APIë§Œ ì—´ë ¤ìˆëŠ” ê±°ëŒ€ ëª¨ë¸(GPT-4, Solar ë“±)ì„ Teacherë¡œ ì“¸ ë•ŒëŠ” **Black-box KD**ê°€ ì£¼ë¥¼ ì´ë£¹ë‹ˆë‹¤.

* **CoT (Chain-of-Thought) Distillation:**
  * **ê°œë…:** ë‹¨ìˆœíˆ "ë‹µ: A"ë¥¼ ë°°ìš°ëŠ” ê²Œ ì•„ë‹ˆë¼, Teacherê°€ ìƒì„±í•œ **"ì¶”ë¡  ê³¼ì •(Reasoning)"** í…ìŠ¤íŠ¸ ìì²´ë¥¼ í•™ìŠµ ë°ì´í„°ì— í¬í•¨ì‹œí‚µë‹ˆë‹¤.
  * **íš¨ê³¼:** Student ëª¨ë¸(ì†Œí˜• LLM)ì˜ ë…¼ë¦¬ì  ì‚¬ê³ ë ¥ì„ ë¹„ì•½ì ìœ¼ë¡œ ìƒìŠ¹ì‹œí‚µë‹ˆë‹¤. ìš°ë¦¬ ì‹¤ìŠµì˜ í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§ ë‹¨ê³„ì—ì„œ `reason` í•„ë“œë¥¼ ì¶”ê°€í•˜ëŠ” ê²ƒì´ ë°”ë¡œ ì´ íš¨ê³¼ë¥¼ ë…¸ë¦° ê²ƒì…ë‹ˆë‹¤.


* **Instruction Tuning Distillation:**
  * **ê°œë…:** Teacher ëª¨ë¸ì„ ì´ìš©í•´ ë‹¤ì–‘í•œ ì§€ì‹œë¬¸(Instruction)ê³¼ ê·¸ì— ëŒ€í•œ ìˆ˜í–‰ ê²°ê³¼ ìŒì„ ëŒ€ëŸ‰ ìƒì„±í•˜ì—¬ Studentë¥¼ íŠœë‹í•©ë‹ˆë‹¤. (ì˜ˆ: Stanford Alpaca)


* **In-Context Learning Distillation:**
  * **ê°œë…:** Teacherì—ê²Œ Few-shot ì˜ˆì‹œë¥¼ ì£¼ì–´ ìˆ˜í–‰ ëŠ¥ë ¥ì„ ëŒì–´ì˜¬ë¦° ë’¤, ê·¸ ê²°ê³¼ë¥¼ Studentì˜ í•™ìŠµ ë°ì´í„°ë¡œ ì”ë‹ˆë‹¤. ì¦‰, Teacherì˜ 'ë§¥ë½ ì´í•´ ëŠ¥ë ¥'ì„ ë°ì´í„° í˜•íƒœë¡œ ì¦ë¥˜í•˜ëŠ” ê²ƒì…ë‹ˆë‹¤.

#### ì •ë¦¬
1. ìµœê·¼ LLMì˜ ë“±ì¥ìœ¼ë¡œ ì¸í•´ì„œ í˜„ì—…ì—ì„œëŠ” ê³¼ê±°ì˜ ëª¨ë¸ ë ˆì´ì–´ë¥¼ ê±´ë“œë¦¬ëŠ” ë°©ë²•ë¡ ì—ì„œ GPT ë“±ì˜ ê±°ëŒ€ ëª¨ë¸ APIë¥¼ ì´ìš©í•˜ì—¬ í•©ì„± ë°ì´í„°ë¥¼ ë§Œë“¤ê±°ë‚˜ ê¸°ì¡´ì— ìˆëŠ” ë°ì´í„°ì— ì •ë‹µ ë¼ë²¨ë§ì„ ëª¨ë¸ë¡œ ë§Œë“œëŠ” ë°©ë²•ë¡ ìœ¼ë¡œ ì „í™˜í•˜ê³  ìˆìŠµë‹ˆë‹¤. ê·¸ ì´ìœ ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.
   1. í˜„ì—…ì—ì„œëŠ” ì •ì œë˜ì§€ ì•Šì€ ë°ì´í„°ëŠ” ë§¤ìš° ë§ìŠµë‹ˆë‹¤. ê·¸ëŸ¬ë‚˜ ìƒëŒ€ì ìœ¼ë¡œ ë¹„ì‹¼ ë°ì´í„° ë¼ë²¨ë§ ë¹„ìš©ìœ¼ë¡œ ëª¨ë“  ë°ì´í„°ë¥¼ ë¼ë²¨ë§í•˜ì§€ ëª»í•©ë‹ˆë‹¤.
   2. ë ˆì´ì–´ë¥¼ ê±´ë“œë¦¬ëŠ” íš¨ê³¼ ëŒ€ë¹„ ê³ í€„ë¦¬í‹° í•™ìŠµ ë°ì´í„°ë¥¼ ë§Œë“œëŠ” ë°©ë²•ë¡ ì´ ì¢€ë” íš¨ê³¼ì ì…ë‹ˆë‹¤. íŠ¹íˆ, LLMìœ¼ë¡œ ë„˜ì–´ì˜¤ê²Œ ë˜ë©´ì„œ ê³ í€„ë¦¬í‹° í•™ìŠµ ë°ì´í„°ì˜ ì¤‘ìš”ì„±ì€ ë”ë”ìš± ì»¤ì§€ê³  ìˆìŠµë‹ˆë‹¤.
2. Teacher ëª¨ë¸ì´ ìƒì„±í•œ ë°ì´í„°ë¥¼ í•™ìŠµí•¨ìœ¼ë¡œì¨ Teacher ëª¨ë¸ì˜ ì •ë‹µì„ Student ëª¨ë¸ì´ ê·¸ëŒ€ë¡œ í•™ìŠµí•˜ê²Œ ë˜ì–´ ì •ë‹µì„ "ì „ìˆ˜"ë°›ëŠ” íš¨ê³¼ë¥¼ ì–»ìŠµë‹ˆë‹¤.

# 1. í™˜ê²½ì„¤ì • ë° API ì…‹íŒ…

- os environment variableì— ëŒ€í•´ì„œ ì•Œì•„ë´…ë‹ˆë‹¤.
- Solar APIë¥¼ ì…‹íŒ…í•©ë‹ˆë‹¤.

### 1.1. os environment variable

ğŸ§¾ í™˜ê²½ ë³€ìˆ˜(Environment Variable)ë€?

í™˜ê²½ ë³€ìˆ˜(Environment Variable)ëŠ” ìš´ì˜ì²´ì œ(Windows, macOS, Linux ë“±)ê°€ í”„ë¡œê·¸ë¨ ì‹¤í–‰ í™˜ê²½ì— ì œê³µí•˜ëŠ” ì „ì—­ ì„¤ì •ê°’ì…ë‹ˆë‹¤.
í”„ë¡œê·¸ë¨ì€ ì´ í™˜ê²½ ë³€ìˆ˜ë¥¼ í†µí•´ ì¤‘ìš”í•œ ì •ë³´(ì˜ˆ: API í‚¤, DB ë¹„ë°€ë²ˆí˜¸, ì‹œìŠ¤í…œ ê²½ë¡œ)ë¥¼ ì½ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

1. ë³´ì•ˆ
- ì½”ë“œ ì•ˆì— ì§ì ‘ ë¹„ë°€ë²ˆí˜¸ë‚˜ API Keyë¥¼ ì ìœ¼ë©´ ìœ„í—˜í•©ë‹ˆë‹¤.
- GitHubì— ì˜¬ë¦¬ê±°ë‚˜ ë‹¤ë¥¸ ì‚¬ëŒì—ê²Œ ì½”ë“œ íŒŒì¼ì„ ê³µìœ í•˜ë©´ í‚¤ê°€ ìœ ì¶œë  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- í™˜ê²½ ë³€ìˆ˜ëŠ” ìš´ì˜ì²´ì œ ë©”ëª¨ë¦¬ì—ë§Œ ì €ì¥ë˜ë¯€ë¡œ, ì½”ë“œ ì™¸ë¶€ì—ì„œ ì•ˆì „í•˜ê²Œ ê´€ë¦¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

1. ìœ ì—°ì„±
- ê°™ì€ ì½”ë“œë¼ë„, í™˜ê²½ ë³€ìˆ˜ë§Œ ë°”ê¾¸ë©´ ë‹¤ë¥¸ API í‚¤ë‚˜ ì„¤ì •ì„ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- ì˜ˆë¥¼ ë“¤ì–´, ê°œë°œ ì„œë²„ì™€ ë°°í¬ ì„œë²„ì—ì„œ ë‹¤ë¥¸ API í‚¤ë¥¼ ì‚¬ìš©í•˜ë ¤ë©´ ì½”ë“œ ìˆ˜ì • ì—†ì´ í™˜ê²½ ë³€ìˆ˜ë§Œ ë³€ê²½í•˜ë©´ ë©ë‹ˆë‹¤.

ê·¸ëŸ¬ë©´ í™˜ê²½ë³€ìˆ˜ë¥¼ .env íŒŒì¼ì— ì €ì¥í•˜ê³ , os.environì„ ì‚¬ìš©í•˜ì—¬ í™˜ê²½ë³€ìˆ˜ë¥¼ ì½ëŠ” ë°©ë²•ì„ ì‚¬ìš©í•´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

ì—¬ê¸°ì„œ ì‚¬ìš©í•˜ëŠ” í™˜ê²½ë³€ìˆ˜ëŠ” API í‚¤ê°’ì´ë¯€ë¡œ API í‚¤ê°’ì„ ë°›ì•„ì™€ì•¼ í•©ë‹ˆë‹¤.

API keyëŠ” [Upstage Console](https://console.upstage.ai/docs/getting-started)ì„ í™•ì¸í•´ì£¼ì„¸ìš”.

<img src="assets/img1.png" alt="example" style="max-width: 75%; height: auto;" />

<img src="assets/img2.png" alt="example" style="max-width: 75%; height: auto;" />

<img src="assets/img3.png" alt="example" style="max-width: 75%; height: auto;" />

.env.example íŒŒì¼ì„ ë³µì‚¬í•´ì„œ .envë¡œ ë§Œë“¤ê³  ê·¸ íŒŒì¼ ì•ˆì— Upstage API keyë¥¼ ë„£ì–´ì£¼ì„¸ìš”.

ì €ì¥ëœ .env íŒŒì¼ì„ ë¶ˆëŸ¬ì„œ í™˜ê²½ë³€ìˆ˜ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.

In [ ]:
from dotenv import load_dotenv
import os
from os import getenv
from pathlib import Path
import random

# tqdmì´ í…ìŠ¤íŠ¸ ëª¨ë“œë¥¼ ì‚¬ìš©í•˜ë„ë¡ ì„¤ì • (ipywidgets ì—ëŸ¬ ë°©ì§€)
os.environ["TQDM_DISABLE"] = "0"
os.environ["TQDM_MININTERVAL"] = "1"

# ì‹œë“œ ì„¤ì •
random.seed(1234)

if Path(".env").exists():
    load_dotenv(".env")
else:
    raise FileNotFoundError("í™˜ê²½ë³€ìˆ˜ íŒŒì¼ì´ ì¡´ì¬í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.")

UPSTAGE_API_KEY = getenv("UPSTAGE_API_KEY")
if UPSTAGE_API_KEY:
    print("Success API Key Setting!")
else:
    raise ValueError("API Keyë¥¼ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤.")

ModuleNotFoundError: No module named 'dotenv'

Upstage APIë¥¼ ì…‹íŒ…í–ˆìœ¼ë‹ˆ, í…ŒìŠ¤íŠ¸ë¡œ llm í˜¸ì¶œì„ ì§„í–‰í•©ë‹ˆë‹¤.

Teacher ëª¨ë¸ë¡œ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” ì¶©ë¶„íˆ ì„±ëŠ¥ì´ ì¢‹ì€ ëª¨ë¸ì„ ì‚¬ìš©í•´ì•¼ í•©ë‹ˆë‹¤.

ëª¨ë“  Teacher ëª¨ë¸ì´ ì„±ëŠ¥ì´ ì¢‹ì€ ê²ƒì€ ì•„ë‹ˆì§€ë§Œ, ì¼ë°˜ì ìœ¼ë¡œ ëª¨ë¸ ì‚¬ì´ì¦ˆê°€ í¬ë‹¤ë©´ ëŒ€ì²´ë¡œ ëŒ€ë¶€ë¶„ì˜ ì˜ì—­ì—ì„œ ì„±ëŠ¥ì´ ì¢‹ë‹¤ê³  ì•Œë ¤ì ¸ìˆê¸° ë•Œë¬¸ì—

ìš°ì„  110Bì˜ solar-pro3ìœ¼ë¡œ ì§„í–‰í•©ë‹ˆë‹¤.

In [ ]:
from openai import OpenAI

client = OpenAI(api_key=UPSTAGE_API_KEY, base_url="https://api.upstage.ai/v1")

def chat_completion(prompt: str, model: str = "solar-pro3") -> str:
    resp = client.chat.completions.create(
        model=model,
        messages=[
            {
                "role": "user",
                "content": prompt
            }
        ],
        stream=False,
    )
    return resp.choices[0].message.content

response = chat_completion("ê³ ì–‘ì´ì— ëŒ€í•œ ë†€ë¼ìš´ ì‚¬ì‹¤ í•˜ë‚˜ë¥¼ ì•Œë ¤ì¤˜")
print(response)

**ë†€ë¼ìš´ ì‚¬ì‹¤**
ê³ ì–‘ì´ì˜ **â€˜í¼â€™ëŠ” ë‹¨ìˆœí•œ í–‰ë³µ ì‹ í˜¸ê°€ ì•„ë‹ˆë¼ ì¹˜ìœ  ì§„ë™**ì´ë¼ëŠ” ì ì´ì—ìš”.

- **ì§„ë™ ì£¼íŒŒìˆ˜**: ê³ ì–‘ì´ê°€ í¼ë¥¼ í•  ë•Œ ë°œìƒí•˜ëŠ” ì†Œë¦¬ëŠ” ë³´í†µ **25â€¯~â€¯150â€¯Hz** ì‚¬ì´ì—ì„œ ì§„ë™í•©ë‹ˆë‹¤.
- **ë¼ˆì™€ ì¡°ì§ ì¬ìƒ**: ì´ ì£¼íŒŒìˆ˜ëŒ€ëŠ” ì¸ì²´ì—ì„œ ê³¨ì ˆ ì¹˜ë£Œì— ì‚¬ìš©ë˜ëŠ” ì´ˆìŒíŒŒ ì¹˜ë£Œ ì£¼íŒŒìˆ˜ì™€ ê²¹ì¹˜ë©°, ì‹¤í—˜ì ìœ¼ë¡œ **ë¼ˆ ì¬ìƒ ì´‰ì§„**, **í†µì¦ ê°ì†Œ**, **ê·¼ìœ¡ íšŒë³µ**ì— ë„ì›€ì´ ë˜ëŠ” ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ ìˆìŠµë‹ˆë‹¤.
- **ìê¸° ì¹˜ìœ  ë©”ì»¤ë‹ˆì¦˜**: ê³ ì–‘ì´ëŠ” ëª¸ì„ ì•ˆì •ì‹œí‚¤ê±°ë‚˜ ìŠ¤íŠ¸ë ˆìŠ¤ë¥¼ ë°›ì„ ë•Œ ìŠ¤ìŠ¤ë¡œ í¼ë¥¼ ì¼œë©°, ì´ëŠ” ëª¸ì˜ íšŒë³µì„ ë•ëŠ” ì¼ì¢…ì˜ â€œìƒì²´ í”¼ë“œë°±â€ ì—­í• ì„ í•©ë‹ˆë‹¤.

ê·¸ë˜ì„œ ê³ ì–‘ì´ê°€ ì•„í”„ê±°ë‚˜ ìˆ˜ìˆ  í›„ íšŒë³µ ì¤‘ì¼ ë•Œ, í˜¹ì€ ëª¸ì„ í¸í•˜ê²Œ í•˜ê³  ì‹¶ì–´ í¼ë¥¼ í•˜ëŠ” ëª¨ìŠµì„ ë³´ë©´, ë‹¨ìˆœíˆ ê¸°ë¶„ì´ ì¢‹ì€ ê²Œ ì•„ë‹ˆë¼ **ì¹˜ìœ  ê³¼ì •**ì— ì°¸ì—¬í•˜ê³  ìˆë‹¤ëŠ” ëœ»ì´ì£ ! ğŸ¾

# 2. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

- ë‹¤ì–‘í•œ Knowledge Distillation ë°©ë²•ë¡  ì¤‘ Pseudo Labelingì„ ìœ„í•œ Unlabeld Dataë¥¼ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.

In [ ]:
import pandas as pd

df = pd.read_csv("data/train.csv")
df.head()

                   db_id                                           question
0  department_management  How many heads of the departments are older th...
1  department_management  List the name, born state and age of the heads...
2  department_management  List the creation year, name and budget of eac...
3  department_management  What are the maximum and minimum budget of the...
4  department_management  What is the average number of employees of the...

ë°ì´í„°ì˜ íŠ¹ì„±ì„ í™•ì¸í•´ë´…ë‹ˆë‹¤.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4471 entries, 0 to 4470
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   db_id     4471 non-null   object
 1   question  4471 non-null   object
dtypes: object(2)
memory usage: 70.0+ KB

ëª¨ë“  ë°ì´í„°ë¥¼ ë‹¤ ë°”ê¾¸ê¸°ì—” ì‹œê°„ê³¼ ë¹„ìš©ì´ ë§ì´ ë“¤ê¸° ë•Œë¬¸ì— ì¼ë¶€ ë°ì´í„°ë§Œ ë§Œë“¤ì–´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

In [ ]:
data = df[:10].to_dict(orient="records")
data

[{'db_id': 'department_management',
  'question': 'How many heads of the departments are older than 56 ?'},
 {'db_id': 'department_management',
  'question': 'List the name, born state and age of the heads of departments ordered by age.'},
 {'db_id': 'department_management',
  'question': 'List the creation year, name and budget of each department.'},
 {'db_id': 'department_management',
  'question': 'What are the maximum and minimum budget of the departments?'},
 {'db_id': 'department_management',
  'question': 'What is the average number of employees of the departments whose rank is between 10 and 15?'},
 {'db_id': 'department_management',
  'question': 'What are the names of the heads who are born outside the California state?'},
 {'db_id': 'department_management',
  'question': 'What are the names of the states where at least 3 heads were born?'},
 {'db_id': 'department_management',
  'question': "Show the name and number of employees for the departments managed by heads whose temporary acting value is 'Yes'?"},
 {'db_id': 'department_management',
  'question': 'How many acting statuses are there?'},
 {'db_id': 'department_management',
  'question': 'What are the distinct ages of the heads who are acting?'}]

# 3. ë°ì´í„° 'ìƒì„±'ì„ ìœ„í•œ Prompt Engineering

- ë°ì´í„° ìƒì„±ì„ ìœ„í•œ Prompt Engineeringì— ëŒ€í•´ ì•Œì•„ë´…ë‹ˆë‹¤.
- ë°ì´í„° ìƒì„±ì„ ìœ„í•œ APIë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ìƒì„±í•©ë‹ˆë‹¤.
- ìƒì„±ëœ ë°ì´í„°ë¥¼ í™•ì¸í•©ë‹ˆë‹¤.

### 3.1. í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§

<blockquote>
<b>ğŸ§  í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§(Prompt Engineering)ì´ë€?</b><br>
AI ëª¨ë¸ì—ê²Œ ì›í•˜ëŠ” ë‹µì„ ì •í™•í•˜ê³  íš¨ìœ¨ì ìœ¼ë¡œ ì´ëŒì–´ë‚´ê¸° ìœ„í•´ ì…ë ¥(í”„ë¡¬í”„íŠ¸)ì„ ì„¤ê³„Â·ìµœì í™”í•˜ëŠ” ê¸°ìˆ ì„ ë§í•©ë‹ˆë‹¤.
</blockquote>

1. í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§ì€ ëª¨ë¸ì˜ ì„±ëŠ¥ì„ í¬ê²Œ ì¢Œìš°í•©ë‹ˆë‹¤.
	- AI ëª¨ë¸ì€ ì§ˆë¬¸(í”„ë¡¬í”„íŠ¸)ì— ë”°ë¼ ê°™ì€ ë°ì´í„°ë¼ë„ ì™„ì „íˆ ë‹¤ë¥¸ ë‹µì„ ë‚´ë†“ìŠµë‹ˆë‹¤.
		- ì˜ëª»ëœ í”„ë¡¬í”„íŠ¸ â†’ ëª¨í˜¸í•˜ê±°ë‚˜ ì—‰ëš±í•œ ë‹µë³€
		- ì˜ ì„¤ê³„ëœ í”„ë¡¬í”„íŠ¸ â†’ ì •í™•í•˜ê³  ì›í•˜ëŠ” í˜•ì‹ì˜ ë‹µë³€
	- í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§ì€ AIë¥¼ ë‚´ ë§ˆìŒëŒ€ë¡œ ì»¨íŠ¸ë¡¤í•˜ëŠ” ë¦¬ëª¨ì»¨ê³¼ ê°™ìŠµë‹ˆë‹¤.

2. í”„ë¡¬í”„íŠ¸ì˜ ê¸°ë³¸ êµ¬ì¡°
í•˜ë‚˜ì˜ í”„ë¡¬í”„íŠ¸ëŠ” ë³´í†µ ë‹¤ìŒ ìš”ì†Œë“¤ë¡œ êµ¬ì„±ë©ë‹ˆë‹¤.
	1. ì—­í• (Role) ì„¤ì • â†’ AIì˜ â€œì •ì²´ì„±â€ê³¼ â€œê´€ì â€ì„ ì§€ì •í•©ë‹ˆë‹¤.
		- ì˜ˆ: â€œë‹¹ì‹ ì€ 10ë…„ ê²½ë ¥ì˜ ì—¬í–‰ ê°€ì´ë“œì…ë‹ˆë‹¤.â€
	2. ëª©í‘œ(Task) ëª…í™•í™” â†’ ë¬´ì—‡ì„ í•´ì•¼ í•˜ëŠ”ì§€ êµ¬ì²´ì ìœ¼ë¡œ ì§€ì‹œí•©ë‹ˆë‹¤.
		- ì˜ˆ: â€œì„œìš¸ì—ì„œ í•˜ë£¨ ë™ì•ˆ ì¦ê¸¸ ìˆ˜ ìˆëŠ” ì½”ìŠ¤ë¥¼ ì¶”ì²œí•´ì£¼ì„¸ìš”.â€
	3. ì¡°ê±´(Constraints) ë¶€ì—¬ â†’ ë‹µë³€ ê¸¸ì´, í˜•ì‹, ì–¸ì–´, ìŠ¤íƒ€ì¼ ë“± ì œí•œì‚¬í•­ì„ ëª…ì‹œí•©ë‹ˆë‹¤.
		- ì˜ˆ: â€œí‘œ í˜•ì‹ìœ¼ë¡œ 3ê°œì˜ ì¶”ì²œ ì½”ìŠ¤ë¥¼ ì œì‹œí•˜ê³ , ê° ì½”ìŠ¤ì— ì‚¬ì§„ ë§í¬ë¥¼ í¬í•¨í•˜ì„¸ìš”.â€
	4.	ì˜ˆì‹œ(Examples) ì œê³µ (Few-shot Prompting) â†’ ì›í•˜ëŠ” ë‹µë³€ íŒ¨í„´ì„ ë³´ì—¬ì£¼ë©´ AIê°€ ë¹„ìŠ·í•˜ê²Œ ë‹µë³€í•©ë‹ˆë‹¤.
		- ì˜ˆ: â€œì˜ˆì‹œ: ì½”ìŠ¤ ì´ë¦„ - ì„¤ëª… - ì¶”ì²œ ì´ìœ â€

3. ì¢‹ì€ í”„ë¡¬í”„íŠ¸ ì‘ì„± ì›ì¹™
	- ëª…í™•ì„± â†’ ì• ë§¤í•œ ë‹¨ì–´ ëŒ€ì‹  êµ¬ì²´ì ì¸ ì§€ì‹œ
	- ë§¥ë½ ì œê³µ â†’ í•„ìš”í•œ ë°°ê²½ì •ë³´ í¬í•¨
	- ì¶œë ¥ í˜•ì‹ ì§€ì • â†’ í‘œ, ëª©ë¡, JSON ë“±
	- ì˜ˆì‹œ ì œì‹œ â†’ ì›í•˜ëŠ” ê²°ê³¼ë¬¼ì˜ ì˜ˆì‹œë¥¼ ë³´ì—¬ì¤Œ
	- ì ì§„ì  ìš”ì²­ â†’ ë³µì¡í•œ ë¬¸ì œëŠ” ë‹¨ê³„ë³„ë¡œ ìª¼ê°œì„œ ìš”ì²­
  
ì°¸ê³  [ë§í¬](https://www.notion.so/ssunbell/2341806f5bc1803491c3cea9d7a96933?source=copy_link)

### 3.2. JSON

<blockquote>
<b>ğŸ§  JSONì´ë€?</b><br>
JSONì€ JavaScript Object Notationì˜ ì•½ìì…ë‹ˆë‹¤.
</blockquote>

ë°ì´í„°ë¥¼ ì €ì¥í•˜ê±°ë‚˜ ì£¼ê³ ë°›ì„ ë•Œ ì“°ëŠ” ê°€ë³ê³  ì½ê¸° ì‰¬ìš´ ë°ì´í„° í˜•ì‹ì…ë‹ˆë‹¤.
ì´ë¦„ì— JavaScriptê°€ ë“¤ì–´ìˆì§€ë§Œ, Python, Java, C#, Go, Swift ë“± ëŒ€ë¶€ë¶„ì˜ í”„ë¡œê·¸ë˜ë° ì–¸ì–´ì—ì„œ ëª¨ë‘ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

1. ì™œ JSONì„ ì“°ë‚˜ìš”?
	â€¢	ì‚¬ëŒì´ ì½ê¸° ì‰½ë‹¤ â†’ {}ì™€ [], "í‚¤": ê°’ í˜•íƒœë¡œ êµ¬ì¡°ê°€ ëª…í™•í•©ë‹ˆë‹¤.
	â€¢	ì»´í“¨í„°ê°€ ì²˜ë¦¬í•˜ê¸° ì‰½ë‹¤ â†’ ëª¨ë“  ì–¸ì–´ì—ì„œ JSONì„ ì‰½ê²Œ ì½ê³  ì“¸ ìˆ˜ ìˆëŠ” ë¼ì´ë¸ŒëŸ¬ë¦¬ê°€ ìˆìŒ.
	â€¢	ì–¸ì–´ì— ë…ë¦½ì  â†’ ì–´ë–¤ ì–¸ì–´ì—ì„œ ë§Œë“  JSONë„ ë‹¤ë¥¸ ì–¸ì–´ì—ì„œ ê·¸ëŒ€ë¡œ ì½ì„ ìˆ˜ ìˆìŒ.
	â€¢	ì›¹ í‘œì¤€ â†’ API, ì„œë²„Â·í´ë¼ì´ì–¸íŠ¸ ë°ì´í„° í†µì‹ ì— ê°€ì¥ ë„ë¦¬ ì“°ì„.

2. JSONì˜ ê¸°ë³¸ ë¬¸ë²•
ê°ì²´(Object) : {} ì•ˆì— "í‚¤": ê°’ ìŒìœ¼ë¡œ êµ¬ì„±ë˜ì–´ ìˆìŠµë‹ˆë‹¤.
```json
{
  "name": "Alice",
  "age": 25,
  "is_student": false
}
```
3. ëª¨ë¸ì˜ structured outputì—ì„œëŠ” ë³´í†µ JSONì˜ í˜•ì‹ì„ ë§ì´ ì‚¬ìš©í•©ë‹ˆë‹¤.
- LLM ëª¨ë¸ì€ ì§€ì •ëœ í˜•ì‹ì„ ë”°ë¼ generateí•  ìˆ˜ ìˆë„ë¡ ë§Œë“¤ ìˆ˜ ìˆëŠ”ë°, ì´ë•Œ ëŒ€í‘œì ìœ¼ë¡œ ì‚¬ìš©í•˜ëŠ” í˜•ì‹ì´ JSON í˜•ì‹ì…ë‹ˆë‹¤.

ì•„ë˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì—¬ ì–´ë–¤ ë°©ì‹ìœ¼ë¡œ JSON í˜•ì‹ìœ¼ë¡œ ë§Œë“œëŠ”ì§€ í™•ì¸í•´ë´…ë‹ˆë‹¤.

In [ ]:
import json

user_prompt = """ê°€ìƒì˜ ë°ì´í„°ë¥¼ ë§Œë“¤ë ¤ê³  í•©ë‹ˆë‹¤.

ì•„ë˜ output_formatì— ë”°ë¼ JSON ë°ì´í„°ë¥¼ 1ê°œë§Œ ë°˜í™˜í•´ì£¼ì„¸ìš”.
{output_format}
"""

output_format ="""<output_format>
```json
{
    "name": [ì´ë¦„],
    "age": [ë‚˜ì´]
    "is_student": [true ë˜ëŠ” false]
}
```
</output_format>"""

messages=[
    {
        "role": "user",
        "content": user_prompt.format(output_format=output_format)
    }
]

response = client.chat.completions.create(
    model="solar-pro3",
    messages=messages,
)

def json_parsing(output_text:str) -> dict:
    output_text = output_text[output_text.index("```json") + len("```json"):].strip()
    output_text = output_text[:output_text.index("```")].strip()
    return json.loads(output_text)


output = response.choices[0].message.content
print("í˜„ì¬ ì‘ë‹µì˜ í˜•ì‹: ", type(output))
print(output)
structured_dictionary = json_parsing(output)
print("êµ¬ì¡°í™”ëœ ì‘ë‹µì˜ í˜•ì‹: ", type(structured_dictionary))
print(structured_dictionary)

í˜„ì¬ ì‘ë‹µì˜ í˜•ì‹:  <class 'str'>
```json
{
    "name": "ê¹€ë¯¼ìˆ˜",
    "age": 27,
    "is_student": false
}
```
êµ¬ì¡°í™”ëœ ì‘ë‹µì˜ í˜•ì‹:  <class 'dict'>
{'name': 'ê¹€ë¯¼ìˆ˜', 'age': 27, 'is_student': False}

<blockquote>
<b>ğŸ§  response_formatì´ë€?</b><br>
promptì— json í˜•ì‹ì˜ outputì„ ì •ì˜í•˜ì§€ ì•Šê³  response_formatì— ì§ì ‘ json schemaë¥¼ ì •ì˜í•´ì„œ output formatì„ ì •ì˜í•  ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤.
</blockquote>

1. í”„ë¡¬í”„íŠ¸ì— ì–´ë–¤ output formatì„ ì§€ì •í•˜ê²Œ ë˜ë©´ ì‘ë‹µ ê²°ê³¼ë¬¼ì— ì¶”ê°€ë¡œ parsing í•¨ìˆ˜ë¥¼ ì •ì˜í•´ì„œ jsonìœ¼ë¡œ ë³€í™˜ ê°€ëŠ¥í•œ í…ìŠ¤íŠ¸ë§Œ ì¶”ì¶œí•´ì•¼ í•©ë‹ˆë‹¤.
2. ë§Œì•½, ëª¨ë¸ì˜ ì„±ëŠ¥ì´ ë–¨ì–´ì§€ëŠ” ìƒíš¡ì´ ìƒê¸°ë©´ parsingì´ ì•ˆë  ê°€ëŠ¥ì„±ë„ ì¡´ì¬í•©ë‹ˆë‹¤.
3. ë”°ë¼ì„œ, ì¢€ë” ì•ˆì •ì ì¸ ê²°ê³¼ë¬¼ì„ ì–»ê¸° ìœ„í•´ì„œëŠ” `response_format`ì„ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ ì¢‹ìŠµë‹ˆë‹¤.

ìì„¸í•œ ì‚¬ìš©ë²•ì€ [openai structured output](https://platform.openai.com/docs/guides/structured-outputs?lang=python)ì— ëŒ€í•œ ë¬¸ì„œë¥¼ ì°¸ê³ í•´ì£¼ì„¸ìš”.

In [ ]:
from openai import OpenAI
import json


messages=[
    {
        "role": "system",
        "content": "You are an expert in information extraction. Extract information from the given HTML representation of image and organize them into a clear and accurate JSON format."
    },
    {
        "role": "user",
        "content": "HTML string: <table id='0' style='font-size:14px'><tr><td>1</td><td>FUTAMI 17 GREEN TEA (CLAS</td><td>12,500</td></tr><tr><td>1</td><td>EGG TART</td><td>13,000</td></tr><tr><td>1</td><td>GRAIN CROQUE MONSIEUR</td><td>17,000</td></tr></table><br><table id='1' style='font-size:18px'><tr><td>TOTAL</td><td>42, 500</td></tr><tr><td>CASH</td><td>50,000</td></tr><tr><td></td><td></td></tr><tr><td>CHANGE</td><td>7 ,500</td></tr></table>\n. Extract the structured data from the HTML string in JSON format."
    }
]

response_format={
    "type": "json_schema",
    "json_schema": {
        "name": "restaurant_receipt",
        "strict": True,
        "schema": {
            "type": "object",
            "properties": {
                "menu_items": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "menu_cnt": {
                                "type": "number",
                                "description": "The count of the menu item."
                            },
                            "menu_name": {
                                "type": "string",
                                "description": "The name of the menu item."
                            },
                            "menu_price": {
                                "type": "number",
                                "description": "The price of the menu item."
                            }
                        },
                        "required": ["menu_cnt", "menu_name", "menu_price"],
                    }
                },
                "total_price": {
                    "type": "number",
                    "description": "The total price of the receipt."
                }
            },
            "required": ["menu_items", "total_price"],
        }
    }
}

response = client.chat.completions.create(
    model="solar-pro3",
    messages=messages,
    response_format=response_format
)

structured_output = response.choices[0].message.content
print("í˜„ì¬ ì‘ë‹µì˜ í˜•ì‹: ", type(structured_output))
print(structured_output)
structured_dictionary = json.loads(structured_output)
print("êµ¬ì¡°í™”ëœ ì‘ë‹µì˜ í˜•ì‹: ", type(structured_dictionary))
print(structured_dictionary)

í˜„ì¬ ì‘ë‹µì˜ í˜•ì‹:  <class 'str'>
{
  "menu_items": [
    {
      "menu_cnt": 1,
      "menu_name": "FUTAMI 17 GREEN TEA (CLAS",
      "menu_price": 12500
    },
    {
      "menu_cnt": 1,
      "menu_name": "EGG TART",
      "menu_price": 13000
    },
    {
      "menu_cnt": 1,
      "menu_name": "GRAIN CROQUE MONSIEUR",
      "menu_price": 17000
    }
  ],
  "total_price": 42500
}
êµ¬ì¡°í™”ëœ ì‘ë‹µì˜ í˜•ì‹:  <class 'dict'>
{'menu_items': [{'menu_cnt': 1, 'menu_name': 'FUTAMI 17 GREEN TEA (CLAS', 'menu_price': 12500}, {'menu_cnt': 1, 'menu_name': 'EGG TART', 'menu_price': 13000}, {'menu_cnt': 1, 'menu_name': 'GRAIN CROQUE MONSIEUR', 'menu_price': 17000}], 'total_price': 42500}

í™•ì¸í•˜ì‹  ê²ƒì²˜ëŸ¼ JSONìœ¼ë¡œ ë³€í™˜ì´ ê°€ëŠ¥í•œ string íƒ€ì…ì˜ ì‘ë‹µì„ ë°˜í™˜í•©ë‹ˆë‹¤. í•´ë‹¹ ì‘ë‹µì„ `json.loads()`ë¥¼ ì‚¬ìš©í•˜ì—¬ dictionary íƒ€ì…ìœ¼ë¡œ ë³€í™˜í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ë§Œì•½, ëª¨ë¸ì˜ ì„±ëŠ¥ì´ ë–¨ì–´ì§€ê²Œ ë˜ë©´ JSONìœ¼ë¡œ ë³€í™˜ì´ ë¶ˆê°€ëŠ¥í•œ string íƒ€ì…ìœ¼ë¡œ ë°˜í™˜í•  ìˆ˜ ìˆìœ¼ë¯€ë¡œ `try exceptë¬¸`ì„ í†µí•´ ì—ëŸ¬ ì²˜ë¦¬ë¥¼ í•´ì£¼ì‹œë©´ ì¢‹ìŠµë‹ˆë‹¤.

### 3.3. reasoning

#### 1. í•µì‹¬ ê°œë…: "ìƒê°ì˜ ì‹œê°„" (Thinking Budget)

ê¸°ì¡´ LLM(GPT-4, Gemini 1.5 Flash ë“±)ì€ ê¸°ë³¸ì ìœ¼ë¡œ "System 1 (ì§ê´€ì  ì‚¬ê³ )"ì— ê°€ê¹ìŠµë‹ˆë‹¤. ì§ˆë¬¸ì„ ë°›ìœ¼ë©´ ì¦‰ì‹œ ë‹µë³€ í† í°ì„ ìƒì„±í•˜ê¸° ì‹œì‘í•©ë‹ˆë‹¤.

ë°˜ë©´, `reasoning_effort`ê°€ ì ìš©ëœ ëª¨ë¸ì€ "System 2 (ë¶„ì„ì  ì‚¬ê³ )"ë¥¼ ì‹œë®¬ë ˆì´ì…˜í•©ë‹ˆë‹¤. ë‹µë³€ì„ ì¶œë ¥í•˜ê¸° ì „ì— ë³´ì´ì§€ ì•ŠëŠ” ë‚´ë¶€ ì‚¬ê³  ê³¼ì •(Internal Chain of Thought)**ì„ ê±°ì¹©ë‹ˆë‹¤. `reasoning_effort`ëŠ” ë°”ë¡œ ì´ **ë‚´ë¶€ ì‚¬ê³ ì˜ ê¹Šì´ì™€ ì‹œê°„(Budget)ì„ ì¡°ì ˆí•˜ëŠ” ë ˆë²„ì…ë‹ˆë‹¤.

#### 2. ì„¤ì • ê°’ì— ë”°ë¥¸ ì°¨ì´ (Low vs. Medium vs. High)

ë³´í†µ 3ë‹¨ê³„(Low, Medium, High)ë¡œ ë‚˜ë‰˜ë©°, ì—”ì§€ë‹ˆì–´ë§ ê´€ì ì—ì„œëŠ” ë‹¤ìŒê³¼ ê°™ì€ ì°¨ì´ê°€ ìˆìŠµë‹ˆë‹¤.

##### **Low (ë‚®ìŒ/ë¹ ë¦„)**

* **ë™ì‘:** ëª¨ë¸ì´ ë¬¸ì œë¥¼ ë³´ìë§ˆì ê°€ì¥ ë¨¼ì € ë– ì˜¤ë¥¸ ì§ê´€ì ì¸ í•´ê²°ì±…ì„ ì±„íƒí•©ë‹ˆë‹¤. ë‚´ë¶€ ê²€ì¦ ê³¼ì •ì„ ìµœì†Œí™”í•©ë‹ˆë‹¤.
* **íŠ¹ì§•:** ì‘ë‹µ ì†ë„ê°€ ë¹ ë¥´ê³  ë¹„ìš©ì´ ì €ë ´í•©ë‹ˆë‹¤.
* **ìš©ë„:** ë‹¨ìˆœ ë²ˆì—­, ìš”ì•½, ë¬¸ë²• êµì •, ê°ì„± ë¶„ì„ ë“± ë³µì¡í•œ ë…¼ë¦¬ê°€ í•„ìš” ì—†ëŠ” ì‘ì—….

##### **Medium (ì¤‘ê°„/í‘œì¤€)**

* **ë™ì‘:** í‘œì¤€ì ì¸ ì‚¬ê³  ê³¼ì •ì„ ê±°ì¹©ë‹ˆë‹¤. ë¬¸ì œë¥¼ ë¶„í•´í•˜ê³ , ê³„íšì„ ì„¸ìš°ê³ , ë‹µë³€ì„ ìƒì„±í•©ë‹ˆë‹¤.
* **ìš©ë„:** ì¼ë°˜ì ì¸ ì½”ë”© ì§ˆë¬¸, ì´ë©”ì¼ ì‘ì„±, ë§¥ë½ íŒŒì•…ì´ í•„ìš”í•œ ëŒ€í™”.

##### **High (ë†’ìŒ/ê¹ŠìŒ)**

* **ë™ì‘:** ëª¨ë¸ì´ ë‹µë³€ì„ í™•ì •í•˜ê¸° ì „ì— ë‹¤ì–‘í•œ ê²½ë¡œë¥¼ íƒìƒ‰í•˜ê³ , ìŠ¤ìŠ¤ë¡œ ì˜¤ë¥˜ë¥¼ ê²€ì¦(Self-Correction)í•˜ë©°, ì—£ì§€ ì¼€ì´ìŠ¤(Edge Case)ë¥¼ ê³ ë¯¼í•©ë‹ˆë‹¤.
* **íŠ¹ì§•:** ì‘ë‹µ ì†ë„ê°€ í˜„ì €íˆ ëŠë ¤ì§ˆ ìˆ˜ ìˆê³ (ìˆ˜ ì´ˆ~ìˆ˜ì‹­ ì´ˆ ìƒê°), í† í° ë¹„ìš©ì´ ë¹„ìŒ‰ë‹ˆë‹¤.
* **ìš©ë„:**
  * ë³µì¡í•œ ìˆ˜í•™ ì¦ëª…
  * ê³ ë‚œì´ë„ ì•Œê³ ë¦¬ì¦˜ ì½”ë”© (ì˜ˆ: "ì´ ì½”ë“œë¥¼ O(n) ë³µì¡ë„ë¡œ ìµœì í™”í•´ì¤˜")
  * ë³µì¡í•œ ìŠ¤í‚¤ë§ˆë¥¼ ê°€ì§„ Text-to-SQL (ìš°ë¦¬ì˜ í˜„ì¬ íƒ€ê²Ÿ)
  * ê³¼í•™ì  ì¶”ë¡ 

#### 3. Text-to-SQL ì‘ì—…ì—ì„œì˜ ì ìš©

* **ì–¸ì œ `High`ë¥¼ ì¨ì•¼ í• ê¹Œìš”?**
  * í…Œì´ë¸”ì´ 5ê°œ ì´ìƒ ì¡°ì¸(Join)ë˜ì–´ì•¼ í•  ë•Œ.
  * `HAVING`, ì„œë¸Œì¿¼ë¦¬(Subquery), `Self-Join` ê°™ì€ ë³µì¡í•œ ë…¼ë¦¬ê°€ í•„ìš”í•  ë•Œ.
  * ì§ˆë¬¸ì´ ëª¨í˜¸í•´ì„œ ìŠ¤í‚¤ë§ˆì˜ ì—¬ëŸ¬ ì»¬ëŸ¼ ì¤‘ ë¬´ì—‡ì„ ë§¤í•‘í•´ì•¼ í• ì§€ ê¹Šì€ ì¶”ë¡ ì´ í•„ìš”í•  ë•Œ.
  * *ì˜ˆ: "ì§€ë‚œ 3ë…„ ë™ì•ˆ ë¶„ê¸°ë³„ ë§¤ì¶œ ì„±ì¥ë¥ ì´ ê°€ì¥ ë†’ì•˜ë˜ ë¶€ì„œì˜ ë§¤ë‹ˆì € ì´ë¦„ì€?"*


* **ì–¸ì œ `Low/Medium`ì´ ìœ ë¦¬í• ê¹Œìš”?**
  * ë‹¨ìˆœí•œ `SELECT * FROM table WHERE ...` ìˆ˜ì¤€ì˜ ì¿¼ë¦¬ì¼ ë•Œ.
  * ëŒ€ëŸ‰ì˜ ë°ì´í„°ë¥¼ ë¹ ë¥´ê²Œ ë¼ë²¨ë§í•´ì•¼ í•˜ëŠ”ë° ì˜ˆì‚°(API Cost)ì´ ì œí•œì ì¼ ë•Œ.

ë”°ë¼ì„œ ì¼ë°˜ì ì¸ LLMë³´ë‹¤ reasoning ëª¨ë¸ì´ ì¢€ë” ì¢‹ì€ ì„±ëŠ¥ì„ ê°€ì ¸ì˜µë‹ˆë‹¤. ì´ëŸ¬í•œ reasoning modelì€ ì‘ì€ ì‚¬ì´ì¦ˆì˜ ëª¨ë¸ì€ ì˜ ì—†ê¸° ë•Œë¬¸ì— Teacher ëª¨ë¸ë¡œ ì ì ˆí•˜ê²Œ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ì•„ë˜ reasoning ì˜ˆì‹œë¥¼ ë³´ë©´ì„œ ì´í•´í•´ë´…ë‹ˆë‹¤.

In [ ]:
stream = client.chat.completions.create(
    model="solar-pro3",
    messages=[
        {
            "role": "user",
            "content": "What is 15% of 80?"
        }
    ],
    reasoning_effort="high", 
    stream=True,
)
 
reasoning_started = False
content_started = False
 
for chunk in stream:
    delta = chunk.choices[0].delta
    
    # Handle reasoning output (thinking process)
    if hasattr(delta, 'reasoning') and delta.reasoning:
        if not reasoning_started:
            print("[Reasoning]")
            reasoning_started = True
        print(delta.reasoning, end='')
    
    # Handle content output (final answer)
    if hasattr(delta, 'content') and delta.content:
        if not content_started:
            print("\n[Answer]")
            content_started = True
        print(delta.content, end='')

[Reasoning]
We need to answer: 15% of 80. Compute: 0.15 * 80 = 12. So answer: 12. We can also explain steps.

The system prompt says we are Solar Pro 3, large language model trained by Upstage AI, Korean startup, knowledge cutoff 2025-07, current date 2026-01-31. The user asks: "What is 15% of 80?" Simple.

We should respond in Korean? The user wrote in English. Could answer in English. Upstage likely wants Korean answer. The model may respond in English but also Korean. The system prompt is Korean, but doesn't specify language. The user wrote in English. We can answer in English. Provide simple explanation: 15% of 80 = 80 * 15/100 = 12.

Could also show calculation: 80 * 0.15 = 12.

We can respond with a brief answer.

We need to consider the context: The user is asking a simple math question. So answer: 12.

Also note that we need to be careful with any policy issues: none.

We'll answer accordingly.

Potential additional details: show that 15% = 0.15, multiply. Provide maybe a quick tip: 10% of 80 is 8, 5% is 4, sum = 12.

We'll answer in English.

Thus final answer: 12.

We'll include the reasoning.

Let's produce final answer.
[Answer]
**15â€¯% of 80**

\[
15\% = \frac{15}{100}=0.15
\]

\[
0.15 \times 80 = 12
\]

So, **15â€¯% of 80 is 12**.

(Another quick way: 10â€¯% of 80 is 8, and 5â€¯% is half of that â†’ 4; 8â€¯+â€¯4â€¯=â€¯12.)

- delta.reasoning : LLMì´ ìƒê°í•œ ì‚¬ê³  ê³¼ì •(CoT)ë¥¼ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤.
- delta.content : LLMì´ ìƒê°í•œ ì‚¬ê³ ë¥¼ ë°”íƒ•ìœ¼ë¡œ ë§Œë“¤ì–´ë‚¸ ì‘ë‹µ

ê·¸ëŸ¬ë©´ ì‹¤ì œë¡œ ì‹œìŠ¤í…œ í”„ë¡¬í”„íŠ¸ë¥¼ ë‹¤ë¥´ê²Œ ì‘ì„±í–ˆì„ë•Œ ì–´ë–»ê²Œ ë‹µë³€ í€„ë¦¬í‹°ê°€ ë‹¬ë¼ì§€ëŠ”ì§€ í™•ì¸í•´ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
GENERATOR_SYSTEM_PROMPT = """### 1. ROLE
You are a World-Class SQL Architect and Data Scientist specialized in translating natural language questions into complex SQLite queries. You have a deep understanding of database normalization, join operations, and logical filtering. You are meticulous about adhering strictly to provided database schemas.

### 2. TASK
Your task is to generate a syntactically correct and semantically accurate SQLite query based on the provided user question and database schema. 
You must analyze the relationship between tables, identify the correct columns for SELECT, WHERE, GROUP BY, and ORDER BY clauses, and construct a query that exactly answers the question.

### 3. CONSTRAINTS
- **Dialect:** Use standard SQLite syntax.
- **Schema Adherence:** purely strictly base your query on the provided table names and column names. Do NOT assume the existence of any columns not explicitly mentioned in the schema context.
- **Output Format:** Provide ONLY the SQL query code. Do not include any explanations, markdown formatting (like ```sql), or conversational text.
- **Table Aliasing:** Use clear aliases (e.g., T1, T2) for tables when performing JOIN operations to avoid ambiguity.
- **Reasoning:** Ensure the logic handles aggregation (COUNT, MAX, MIN, AVG) and conditional logic (AND, OR, NOT) correctly as implied by the natural language question.

### 4. EXAMPLES (Few-shot Prompting)

Input:
Question: What are the names of the heads who are born in California?

Output:
SELECT name FROM head WHERE born_state = 'California'

Input:
Question: Find the first name and age of students who are enrolled in 'Data Structures'.

Output:
SELECT T1.FName, T1.Age FROM student AS T1 JOIN enroll AS T2 ON T1.St_ID = T2.St_ID JOIN class AS T3 ON T2.Class_Code = T3.Class_Code WHERE T3.Class_Name = 'Data Structures'

Input:
Question: Show the name and theme of all concerts and the number of singers in each concert.

Output:
SELECT T2.Concert_Name, T2.Theme, COUNT(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.Concert_ID = T2.Concert_ID GROUP BY T2.Concert_ID
"""

stream = client.chat.completions.create(
    model="solar-pro3",
    messages=[
        {
            "role": "system",
            "content": GENERATOR_SYSTEM_PROMPT
        },
        {
            "role": "user",
            "content": data[0]["question"]
        }
    ],
    reasoning_effort="high", 
    stream=True,
)
 
reasoning_started = False
content_started = False
 
for chunk in stream:
    delta = chunk.choices[0].delta
    
    # Handle reasoning output (thinking process)
    if hasattr(delta, 'reasoning') and delta.reasoning:
        if not reasoning_started:
            print("[Reasoning]")
            reasoning_started = True
        print(delta.reasoning, end='')
    
    # Handle content output (final answer)
    if hasattr(delta, 'content') and delta.content:
        if not content_started:
            print("\n[Answer]")
            content_started = True
        print(delta.content, end='')

[Reasoning]
We need to answer: "How many heads of the departments are older than 56 ?" The question: count number of heads of the departments who are older than 56. We need to assume schema. Not provided explicitly in prompt but we have context from earlier examples: tables: head, department? Possibly there is a table "head" with columns: head_id, name, age, born_state, etc. There may be a table "department" linking heads to departments. The question: "heads of the departments" means heads who are department heads. So we need to count distinct heads that are heads of departments and age > 56. So we need to join head table with department table (maybe head_id foreign key). Possibly there is a table "department" with columns: Dept_ID, Dept_Name, Head_ID. Or maybe there is a table "dept_head" linking heads to departments. But we need to be careful: we must adhere strictly to provided schema. However we have not been given schema in this conversation. The system prompt says we must base query purely on provided table names and column names. But we have no explicit schema. Possibly there is a known schema from Upstage AI's context? The system prompt says we have knowledge cutoff 2025-07, current date 2026-01-31. The user asks a question about heads of departments older than 56. In prior examples, they used "head" table with columns: name, born_state, etc. So we can assume "head" table has columns: name, age, maybe Dept_ID? But we need to count heads of departments older than 56. If there is a "department" table with a column linking to head (maybe Head_ID). So we need to join head and department on head_id.

Alternatively, there could be a table "dept_head" that contains head_id and department_id. But we need to guess.

We need to produce a query that counts heads older than 56 who are heads of departments. The simplest: SELECT COUNT(*) FROM head WHERE age > 56 AND ??? But we need to ensure they are heads of departments. If head table has a column indicating department head status, maybe "Dept_Head" boolean. Or maybe there is a table "department" with column "Head_ID". So we need to join head and department to ensure head appears as head of a department.

Thus we need to produce something like:

SELECT COUNT(*) AS count FROM head AS H JOIN department AS D ON H.head_id = D.head_id WHERE H.age > 56;

But we need to use appropriate column names. The schema context might include "head" table with columns: head_id, name, age, born_state, etc. "department" table with columns: dept_id, dept_name, head_id. Or "dept_head" table with columns: dept_id, head_id.

We need to be safe: we can produce a query that uses a join between head and dept_head (or department). However if we guess incorrectly, we might violate constraints. But we have no schema. The system says we must base purely on provided table names and column names. Possibly the user expects a simple answer: "SELECT COUNT(*) FROM head WHERE age > 56". But that would count all heads older than 56, not necessarily heads of departments. But the phrase "heads of the departments" implies heads who are department heads. If head table includes a column indicating they are head of a department, maybe "Dept_Head" boolean. Or maybe there is a separate table "dept_head" linking heads to departments. The safest is to join head with dept_head or department table.

Given typical schema: head (Head_ID, Name, Age, Born_State), department (Dept_ID, Dept_Name, Head_ID). So we need to count heads where head.age > 56 and head.head_id matches department.head_id. That ensures they are heads of departments. So query:

SELECT COUNT(*) FROM head AS H JOIN department AS D ON H.head_id = D.head_id WHERE H.age > 56;

Alternatively, if department table has column "Head_ID" referencing head. Or maybe "Dept_Head" column. Could also be "dept_head" table with columns "Dept_ID", "Head_ID". So we could use:

SELECT COUNT(*) FROM head AS H JOIN dept_head AS DH ON H.head_id = DH.head_id WHERE H.age > 56;

Which one? We need to decide.

Given typical naming, "department" is plausible. However the user phrase "heads of the departments" could be ambiguous. The question: "How many heads of the departments are older than 56 ?" It could be interpreted as "How many heads (people) are older than 56 and are heads of departments?" So we need to count heads that are department heads. The schema might have a table "department" with column "Head_ID". So join head and department. That seems plausible.

Thus we produce query:

SELECT COUNT(*) AS count FROM head AS H JOIN department AS D ON H.head_id = D.head_id WHERE H.age > 56;

But we need to ensure we use alias T1, T2? The constraints say use clear aliases (e.g., T1, T2) for tables when performing JOIN operations to avoid ambiguity. So we must alias. Use H and D or T1 and T2. Use T1 and T2 as per examples. In examples, they used T1 for student, T2 for enroll, T3 for class. So we can use T1 for head, T2 for department. So:

SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.head_id = T2.head_id WHERE T1.age > 56;

But we also need to output only SQL query code, no explanations.

Thus final answer: just the SQL.

But we need to consider column names: head table might have column "age". department table might have column "head_id". Or "dept_head". But we need to be consistent. In examples, they used "St_ID" and "Class_Code". So they used column names exactly as they appear. So we must guess correct column names. The phrase "heads of the departments" implies there is a relationship linking heads to departments. Usually a table "department" would have a column "Head_ID". So we can assume that.

Thus final query:

SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.head_id = T2.head_id WHERE T1.age > 56;

But we might need to alias count column? Not required.

Alternatively, if there is a table "dept_head" linking head to department, we could join that. But we don't know.

Better to include both possibilities? But we must produce a single query. The safest is to join head with department if department has head_id. If not, the join would be invalid. However constraints say we must base purely on provided schema. Since we have no schema, we must infer from typical. However the system might have a hidden schema for the user context that includes head and department tables. The user likely expects a join.

Thus we produce:

SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.head_id = T2.head_id WHERE T1.age > 56;

Alternatively, maybe head table has column "Dept_ID" indicating the department they head. Then we could join head with department on head.Dept_ID = department.Dept_ID. But we don't know.

Given typical, "department" table has head_id foreign key. So we use that.

Thus final answer: just the SQL code.

But we need to ensure we adhere to constraints: no markdown, no explanation. So output just the query.

Thus final answer:

SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.head_id = T2.head_id WHERE T1.age > 56;

But we might need to alias count column? Not needed.

Thus final.


[Answer]
SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.head_id = T2.head_id WHERE T1.age > 56;

### 4.1. Pseudo Labeling

<blockquote>
<b>ğŸ§  ìˆ˜ë„ ë¼ë²¨ë§(Pseudo Labeling)ë€?</b><br>
ìˆ˜ë„ ë¼ë²¨ë§ì€ ì‚¬ëŒì´ ì•„ë‹Œ ëª¨ë¸ í˜¹ì€ ì•Œê³ ë¦¬ì¦˜ìœ¼ë¡œ ìƒì„±í•œ ì •ë‹µ ë°ì´í„°ì…ë‹ˆë‹¤.
</blockquote>

ìˆ˜ë„ ë¼ë²¨ë§ì„ ì´ìš©í•œ KDëŠ” ì•„ë˜ì™€ ê°™ì€ ëª©ì ìœ¼ë¡œ ì‚¬ìš©ë  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

1.  ì •ë‹µ ì¼ê´€ì„±
	- Teacher ëª¨ë¸ì˜ ì‘ë‹µì€ ë‹¤ì–‘í•œ ì‚¬ëŒë“¤ë³´ë‹¤ëŠ” ì–´ëŠì •ë„ ì¼ê´€ì„±ì„ ê°€ì§€ê³  ì •ë‹µì„ ë¼ë²¨ë§í•˜ê²Œ ë˜ì–´ ìˆ˜ë§ì€ ì‚¬ëŒë“¤ì˜ ë°ì´í„°ë¥¼ ëª¨ì•„ ì •ê·œë¶„í¬ë¥¼ ë§Œë“¤ í•„ìš” ì—†ì´ í•œ ëª¨ë¸ë¡œ ì¼ê´€ì„±ì„ ê°–ì¶œ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
	- ì‹¬ì§€ì–´ëŠ” ì‚¬ëŒë³´ë‹¤ ë” ë‚˜ì€ ê²°ê³¼ë¬¼ì„ ë³´ì´ëŠ” ê²½ìš°ê°€ ìˆê¸° ë•Œë¬¸ì— ì¼ë°˜ ë¼ë²¨ëŸ¬ë³´ë‹¤ ë” ì¢‹ì€ ì„±ëŠ¥ì„ ë³´ì—¬ì¤„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

2.  ë¹„ìš© ì ˆê°
	- ì´ˆê±°ëŒ€ LLMì„ í•™ìŠµí•˜ê¸° ìœ„í•´ì„œëŠ” Google, OpenAI ë“± ì²œë¬¸í•™ì ì¸ ë¹„ìš©ì´ ë“¤ê²Œ ë©ë‹ˆë‹¤.
	- ì²œë¬¸í•™ì ì¸ ëˆì„ ë“¤ì—¬ì„œ ë§Œë“  ëª¨ë¸ì˜ ì •ë‹µ ë°ì´í„°ë¥¼ í•™ìŠµì‹œí‚¬ ìˆ˜ ìˆìœ¼ë¯€ë¡œ ë¹„ìš©ì„ ë§¤ìš° ì ˆê°í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
	- ex : deepseek-R1 ëª¨ë¸ì„ í•™ìŠµì‹œí‚¬ë•Œ GPTì˜ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ í•™ìŠµì‹œì¼°ë‹¤ëŠ” ë…¼ë€ì´ ìˆì—ˆìŠµë‹ˆë‹¤. ì´ì²˜ëŸ¼ Teacher ëª¨ë¸ì˜ ì§€ì‹ì„ í•™ìŠµì‹œí‚¤ëŠ” ë°©ë²•ë¡ ì€ ì¼ë°˜ì ìœ¼ë¡œ ë§ì´ ìˆ˜í–‰í•˜ëŠ” ë°©ë²•ë¡ ì…ë‹ˆë‹¤.
  
ê·¸ëŸ¬ë©´ ì‹¤ì œë¡œ ìˆ˜ë„ ë¼ë²¨ë§ì„ í•˜ì—¬ ì •ë‹µ ë°ì´í„°ë¥¼ ê°€ì ¸ì˜¤ë„ë¡ í•©ë‹ˆë‹¤.

In [ ]:
def chat_completion(user_prompt: str, system_prompt: str | None = None, model: str = "solar-pro3") -> tuple[str, str]:
    messages = []
    if system_prompt:
        messages.append({
            "role": "system",
            "content": system_prompt
        })
    messages.append({
        "role": "user",
        "content": user_prompt
    })

    response = client.chat.completions.create(
        model=model,
        messages=messages,
        reasoning_effort="high",
        stream=False,
    )
    return response.choices[0].message.content, response.choices[0].message.reasoning # [answer, reasoning]

ìœ„ì™€ ê°™ì´ í•¨ìˆ˜ë¥¼ ì •ì˜í–ˆì„ ë•Œ, ë°˜í™˜ê°’ì€ 2ê°€ì§€ ì…ë‹ˆë‹¤.

1. ì‘ë‹µê°’ : response.choices[0].message.content
2. ìƒê° ê³¼ì • : response.choices[0].message.reasoning

ì´ ê²½ìš° 2. ìƒê° ê³¼ì •ì„ ê²€ì¦í•˜ì—¬ ì‘ë‹µê°’ì´ ì ì ˆí•œì§€ ë‹¤ì‹œ íŒë‹¨í•˜ëŠ” LLM as a Judgeì— í™œìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

í•´ë‹¹ ê°’ë“¤ì„ í¬í•¨í•˜ì—¬ ë°ì´í„°ë¥¼ ë§Œë“¤ì–´ë´…ë‹ˆë‹¤.

ì¶”ë¡  ê³¼ì •ì´ ë§¤ìš° ê¸¸ê¸° ë•Œë¬¸ì— ì‹œê°„ì´ ì˜¤ë˜ ê±¸ë¦½ë‹ˆë‹¤.

In [ ]:
from tqdm.auto import tqdm

labeled_data = []
for i in tqdm(range(len(data))):
    record = {**data[i]}
    question = data[i]["question"]
    answer, reasoning = chat_completion(question, GENERATOR_SYSTEM_PROMPT, "solar-pro3")
    record["answer"] = answer
    record["reasoning"] = reasoning
    labeled_data.append(record)

print(labeled_data)

  0%|          | 0/10 [00:00<?, ?it/s]

[{'db_id': 'department_management', 'question': 'How many heads of the departments are older than 56 ?', 'answer': 'SELECT COUNT(DISTINCT T1.Head_ID) FROM head AS T1 JOIN department AS T2 ON T1.Dept_ID = T2.Dept_ID WHERE T1.Age > 56;', 'reasoning': 'The user asks: "How many heads of the departments are older than 56 ?" We need to generate a SQLite query based on the provided schema context. However, the user hasn\'t provided a schema. The system says we must base strictly on provided table names and column names. In the prompt, there is no explicit schema given in this particular conversation. However, we have the overall system context: "You are Solar Open 100B, a large language model trained by Upstage AI... specialized in translating natural language questions into complex SQLite queries." The user asks a question about "heads of the departments". We need to infer likely tables: maybe there is a table called head, department, or something like head_of_department. The example earlier: there was a table head with columns name, born_state. So perhaps there is a table head with columns head_id, name, age, department_id? Or maybe there is a table department with head_id? The question: "How many heads of the departments are older than 56 ?" This is ambiguous: count the number of heads (people) whose age > 56. Possibly we need to count distinct heads who meet the condition. There may be a head table with age column. Or maybe we need to join head and department tables to ensure they are heads of departments (i.e., head rows that have a department relationship). If there is a head table with columns head_id, name, age, department_id (or maybe there is a table department_head linking head to department). Or there might be a table department with head_id referencing head.\n\nGiven typical schema: head table with columns Head_ID, Name, Age, Department_ID (or maybe Department_Name). Or there could be a table department with columns Department_ID, Department_Name, Head_ID. Or a linking table head_of_department.\n\nWe need to produce a query that counts heads older than 56, but only those who are heads of departments. If the head table includes a column indicating whether they are a head (maybe role column). Or if there is a table department with a column Head_ID that references head. So we need to join head to department on head.id = department.head_id. Then filter age > 56, count distinct heads.\n\nThus query: SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.head_id = T2.head_id WHERE T1.age > 56;\n\nBut we need to know column names. The head table might have columns like head_id, name, age, department_id. The department table might have department_id, department_name, head_id. The user didn\'t provide schema, but we can assume typical naming. However, we must be careful: "strictly base your query on the provided table names and column names". There is no explicit schema in this conversation. Possibly the system expects that we have some implicit knowledge of the dataset? The earlier examples used tables: head, student, enroll, class. So maybe the dataset includes head and department tables. The question: "How many heads of the departments are older than 56 ?" Could be answered by SELECT COUNT(*) FROM head WHERE age > 56; but we need to ensure they are heads of departments. If head table only contains heads, then it\'s trivial. But phrase "heads of the departments" suggests maybe there is a separate table for heads that includes a column indicating department. Or there is a table department with head_id. So we need to join.\n\nGiven typical relational design: head table: Head_ID, Name, Age, Department_ID. department table: Department_ID, Department_Name. If head.Department_ID references department.Department_ID, then head rows are heads of departments. So we can join head to department to ensure they are heads. Or maybe there is a table department_head linking head and department.\n\nThus we need to produce a query that counts distinct head IDs where age > 56 and there is a relationship to department.\n\nWe need to use table aliasing: T1 for head, T2 for department.\n\nThus query: SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.Department_ID = T2.Department_ID WHERE T1.Age > 56;\n\nAlternatively, if head table has a column Age, else maybe Age column is Age. Might be Age column. Could also be Age (maybe Age integer). Or Age column could be Age. The column names may be Age, Age_of_head, Age? We need to decide.\n\nWe need to output only the SQL query code, no explanations, no markdown.\n\nThus final answer: SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.Dept_ID = T2.Dept_ID WHERE T1.Age > 56;\n\nBut we need to be precise: use exact column names from schema. Since we don\'t have schema, we need to guess typical naming. But we must be careful: The system says "purely strictly base your query on the provided table names and column names". If we guess incorrectly, we might violate constraints. However, there is no explicit schema, so we need to assume typical names.\n\nWe could ask clarifying question, but the instruction says we must produce query only.\n\nGiven typical naming: head table might have columns: Head_ID, Name, Age, Department_ID. department table might have columns: Department_ID, Department_Name. So join on head.Department_ID = department.Department_ID.\n\nThus query: SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.Department_ID = T2.Department_ID WHERE T1.Age > 56;\n\nIf the head table has column Age, else maybe column Age_of_head. But we can\'t know. The phrase "older than 56" suggests column Age (or Age). So we will use Age.\n\nAlternatively, if head table has column Age and department table has column Dept_ID, maybe join on head.Dept_ID = department.Dept_ID.\n\nThus answer: SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.Department_ID = T2.Department_ID WHERE T1.Age > 56;\n\nIf there is a linking table head_of_department: head_of_department (Head_ID, Department_ID). Then we would join head to head_of_department on head.Head_ID = head_of_department.Head_ID, then join department on head_of_department.Department_ID = department.Department_ID.\n\nThus query: SELECT COUNT(*) FROM head AS T1 JOIN head_of_department AS T2 ON T1.Head_ID = T2.Head_ID JOIN department AS T3 ON T2.Department_ID = T3.Department_ID WHERE T1.Age > 56;\n\nBut we don\'t know if such table exists.\n\nWe need to produce something that is plausible given typical schema. Since we have no explicit schema, we need to infer from examples: The examples used tables head, student, enroll, class. So perhaps the dataset includes head and department tables. The question: "How many heads of the departments are older than 56 ?" Likely they have a head table with Age column, and a department table linking heads. The simplest query: SELECT COUNT(*) FROM head WHERE Age > 56; But that doesn\'t ensure they are heads of departments. However, if head table only contains heads, then that is fine. But phrase "heads of the departments" could be redundant.\n\nGiven typical dataset, head table might have columns: Head_ID, Name, Age, Department_ID. So we need to join with department to ensure they are heads of departments (i.e., head rows have a department ID). So query: SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.Department_ID = T2.Department_ID WHERE T1.Age > 56;\n\nThus final answer: SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.Department_ID = T2.Department_ID WHERE T1.Age > 56;\n\nBut we need to be sure about column naming: Could be "Dept_ID" or "Department_ID". The example used "St_ID" for student ID, "Class_Code". So they use underscores and maybe abbreviations. For department, maybe "Dept_ID". For head, maybe "Head_ID". Age column maybe "Age". So we could use "Dept_ID". Let\'s think.\n\nIf head table has "Dept_ID" column referencing department table\'s "Dept_ID". Then query: SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.Dept_ID = T2.Dept_ID WHERE T1.Age > 56;\n\nIf department table has "Dept_ID" column. That seems plausible.\n\nThus final answer: SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.Dept_ID = T2.Dept_ID WHERE T1.Age > 56;\n\nAlternatively, if there is a linking table "head_of_department", we could join that.\n\nGiven the constraints, we need to produce a query that uses only tables and columns that exist in the schema. Since we don\'t have explicit schema, we must assume typical naming. The safe approach: Use head and department tables with join on appropriate ID column. The column names might be "Dept_ID" or "Department_ID". We can include both? No, we need one.\n\nWe could ask clarifying question, but the instruction says we must produce query.\n\nGiven typical naming from earlier examples: "St_ID" for student ID, "Class_Code". For department, they might use "Dept_ID". For head, maybe "Head_ID". Age column is "Age". So we will use "Dept_ID".\n\nThus answer: SELECT COUNT(*) FROM head AS T1 JOIN department AS T2 ON T1.Dept_ID = T2.Dept_ID WHERE T1.Age > 56;\n\nAlternatively, if head table has "Dept_ID" and department table has "Dept_ID". That works.\n\nThus final output: just the SQL query.\n\nBut we might also need to handle distinct heads (if a head could be head of multiple departments). Counting each head only once. So we could use COUNT(DISTINCT T1.Head_ID). But we don\'t know column name for head ID. Might be "Head_ID". So we could do SELECT COUNT(DISTINCT T1.Head_ID) FROM head AS T1 JOIN department AS T2 ON T1.Dept_ID = T2.Dept_ID WHERE T1.Age > 56;\n\nBetter to include distinct to avoid double counting if a head is head of multiple departments.\n\nThus final query: SELECT COUNT(DISTINCT T1.Head_ID) FROM head AS T1 JOIN department AS T2 ON T1.Dept_ID = T2.Dept_ID WHERE T1.Age > 56;\n\nBut we need to confirm column names: head table may have "Head_ID". Age column "Age". Department table may have "Dept_ID". So join on head.Dept_ID = department.Dept_ID.\n\nThus final answer: SELECT COUNT(DISTINCT T1.Head_ID) FROM head AS T1 JOIN department AS T2 ON T1.Dept_ID = T2.Dept_ID WHERE T1.Age > 56;\n\nWe can also include alias for department table "dept". But it\'s okay.\n\nThus output only the SQL query.\n\nWe\'ll output:\n\nSELECT COUNT(DISTINCT T1.Head_ID) FROM head AS T1 JOIN department AS T2 ON T1.Dept_ID = T2.Dept_ID WHERE T1.Age > 56;\n\nIf the head table has "Head_ID", "Age", "Dept_ID". That seems plausible.\n\nAlternatively, if the head table has "ID", "Age", "Dept_ID". But we need to be consistent.\n\nGiven no schema, we might need to ask clarifying question. However, the instruction says we must produce query only.\n\nThus final answer: just the SQL.\n\nWe\'ll output:\n\nSELECT COUNT(DISTINCT T1.Head_ID) FROM head AS T1 JOIN department AS T2 ON T1.Dept_ID = T2.Dept_ID WHERE T1.Age > 56;\n\n'}, {'db_id': 'department_management', 'question': 'List the name, born state and age of the heads of departments ordered by age.', 'answer': 'SELECT name, born_state, age FROM head ORDER BY age;', 'reasoning': 'The user asks: "List the name, born state and age of the heads of departments ordered by age."\n\nWe need to generate a SQLite query based on the provided database schema. However, we haven\'t been given the schema in this conversation. In the system prompt, we have constraints: we must base query strictly on provided table names and column names, but we haven\'t been given any schema context. In typical Upstage Solar tasks, the schema is provided in the conversation context. However, here we have no schema. Possibly the system expects that we have knowledge of a typical schema for a "heads of departments" scenario. But we must not assume any columns not mentioned in the schema context. However, we don\'t have any schema context. Perhaps the system expects that we have a known schema from prior context? But we only have this one user message. The system prompt says we must adhere strictly to provided table names and column names. If we don\'t have them, we cannot guess. However, typical Upstage tasks include a schema like:\n\n- Table: head (maybe called "department_head" or "head")\n- Columns: name, born_state, age\n- Possibly other tables: department, etc.\n\nBut we need to be careful: we cannot assume column names that are not given. However, the user question is generic: "List the name, born state and age of the heads of departments ordered by age." This suggests there is a table that contains heads of departments with columns name, born_state, age. The question: we need to produce SELECT name, born_state, age FROM head ORDER BY age. Possibly alias needed? The question says "heads of departments". Could be table "head" or "department_head". Without schema, we can assume table name "head". The columns: name, born_state, age. The order by age.\n\nThus answer: SELECT name, born_state, age FROM head ORDER BY age.\n\nBut we need to consider maybe there are multiple tables: head, department, join. But the question only asks for heads of departments, which likely is a table that directly contains heads. So SELECT name, born_state, age FROM head ORDER BY age.\n\nBut we need to ensure we follow constraints: Use standard SQLite syntax, alias if needed. Since only one table, no alias needed. Provide only SQL query code, no explanation.\n\nThus final output: SELECT name, born_state, age FROM head ORDER BY age;\n\nBut we must consider if column names are case-sensitive? In SQLite, column names are case-insensitive but we can keep as given.\n\nThus final answer: SELECT name, born_state, age FROM head ORDER BY age;\n\nBut we need to consider if there is a column "Age" or "age"? The user says "age". So we follow that.\n\nThus final answer: SELECT name, born_state, age FROM head ORDER BY age;\n\nWe\'ll output exactly that.\n\nCheck constraints: Output only SQL query code. No formatting. So just the query.\n\nThus final.'}, {'db_id': 'department_management', 'question': 'List the creation year, name and budget of each department.', 'answer': 'SELECT T1.Creation_Year, T1.Name, T1.Budget FROM department AS T1', 'reasoning': 'We need to produce a SQL query based on user question: "List the creation year, name and budget of each department."\n\nWe need to consider the provided database schema. The system didn\'t provide any schema explicitly in this prompt. We need to infer typical schema for departments? The question is generic: "creation year, name and budget of each department". Likely there is a table called "department" with columns: dept_name, budget, creation_year (or maybe "created_year"). Or there could be separate tables like "dept" and "budget". But we need to be consistent with constraints: we must use only columns explicitly mentioned in the schema context. However, we have no schema context. In such cases, we need to assume typical naming. The examples show table names like "head", "student", "enroll", "class". For this question, maybe there is a table "department" with columns "dept_name", "budget", "creation_year". Or "dept" with "name", "budget", "created_year". The question says "creation year, name and budget of each department". So we need SELECT creation_year, name, budget FROM department. Use alias T1.\n\nThus output:\n\nSELECT T1.Creation_Year, T1.Name, T1.Budget FROM department AS T1\n\nBut we need to consider column naming conventions: In SQLite, snake_case or camelCase. The question uses "creation year, name and budget". Could be "creation_year", "name", "budget". Or "dept_name". We\'ll assume "dept_name". However, we need to be safe: Use generic names that likely exist. If we guess wrong, the answer might be considered incorrect. But we have no schema. The instruction says we must adhere strictly to provided schema context. Since no schema is provided, we need to assume typical naming. Possibly the schema includes tables: "department", columns: "dept_name", "budget", "creation_year". The question uses "name" not "dept_name". So column name "name". Could be "dept_name". Let\'s decide.\n\nBetter to produce query that selects "creation_year, name, budget" from "department". Use alias T1. That matches the question exactly.\n\nThus output:\n\nSELECT T1.Creation_Year, T1.Name, T1.Budget FROM department AS T1\n\nBut maybe the column is "created_year". Or "dept_creation_year". The question: "creation year". Could be "dept_created_year". But we need to guess.\n\nGiven typical naming: "dept_name", "budget", "dept_creation_year". But the question uses "creation year". Might be "dept_created_year". However, we can also alias as "dept_creation_year". The safest is to use generic placeholders: "Creation_Year", "Name", "Budget". If actual column names differ, the answer might be considered wrong. But given constraints, we must produce something.\n\nThe system expects we output only the SQL query code. So we output:\n\nSELECT T1.Creation_Year, T1.Name, T1.Budget FROM department AS T1\n\nAlternatively, if we need to order? No.\n\nThus final answer: just that line.\n\n'}, {'db_id': 'department_management', 'question': 'What are the maximum and minimum budget of the departments?', 'answer': 'SELECT MAX(budget) AS max_budget, MIN(budget) AS min_budget FROM department;', 'reasoning': 'The user asks: "What are the maximum and minimum budget of the departments?" The schema is not explicitly provided in this prompt. However, we need to infer from typical Upstage AI dataset? The prompt says: "You must analyze the relationship between tables, identify the correct columns for SELECT, WHERE, GROUP BY, and ORDER BY clauses, and construct a query that exactly answers the question." The question: maximum and minimum budget of the departments. Likely we have a table "department" with column "budget". The user wants maximum and minimum budget of the departments. That could be answered with two separate queries: one for max, one for min. Or combine into a single query returning max and min. Could use subqueries or aggregate functions. The simplest: SELECT MAX(budget) AS max_budget, MIN(budget) AS min_budget FROM department; That returns both max and min. If they want separate rows maybe two queries. But the question says "What are the maximum and minimum budget of the departments?" Usually you would produce a single query returning both values. So answer: SELECT MAX(budget) AS max_budget, MIN(budget) AS min_budget FROM department; Use alias. Use standard SQLite syntax. That\'s it.\n\nBut we need to be careful: The constraints say: "Provide ONLY the SQL query code. Do not include any explanations, markdown formatting, or conversational text." So just output the query.\n\nThus final answer: SELECT MAX(budget) AS max_budget, MIN(budget) AS min_budget FROM department; That\'s correct.\n\nBut we must consider if there is a table named "department" or "departments"? The question says "departments". Could be plural. The schema could have "department" table. Usually in Upstage examples, they have "department" table. We\'ll assume "department". If the schema had "departments" table, they\'d have column "budget". We\'ll go with "department". If the column is "budget" maybe "budget" is correct. Or "department_budget"? But typical.\n\nThus final.'}, {'db_id': 'department_management', 'question': 'What is the average number of employees of the departments whose rank is between 10 and 15?', 'answer': 'SELECT AVG(emp_cnt) AS avg_employee_count\nFROM (\n    SELECT COUNT(*) AS emp_cnt\n    FROM department AS T1\n    JOIN employee AS T2 ON T1.Department_ID = T2.Department_ID\n    WHERE T1.Rank BETWEEN 10 AND 15\n    GROUP BY T1.Department_ID\n);', 'reasoning': 'The user asks: "What is the average number of employees of the departments whose rank is between 10 and 15?" We need to generate a SQLite query based on the provided schema. However, the user hasn\'t provided any schema. The system prompt says we must strictly adhere to provided database schemas, but we have none in this conv

### 4.2. LLM as a Judge

<blockquote>
<b>ğŸ§  LLM as a Judgeë€?</b><br>
ì‚¬ëŒ ëŒ€ì‹  LLM ëª¨ë¸ì„ ì´ìš©í•˜ì—¬ ì •ì„±ì ì¸ ê²°ê³¼ë¬¼ì„ í‰ê°€í•˜ëŠ” ê²ƒì„ ì˜ë¯¸í•©ë‹ˆë‹¤.
</blockquote>

1. LLM as a Judgeë¼ëŠ” ë§ì€ LLMì´ íŒì‚¬ì²˜ëŸ¼ ë‹¤ë¥¸ ë‹µë³€ì„ í‰ê°€í•œë‹¤ëŠ” ëœ»ì…ë‹ˆë‹¤.
- ì–´ë–¤ ì§ˆë¬¸ì— ëŒ€í•´ ì—¬ëŸ¬ í•™ìƒì´ ë‹µì„ í–ˆë‹¤ê³  í•´ë³¸ë‹¤ê³  í•˜ëŠ” ê²½ìš°ì—
- ê·¸ëŸ¬ë©´ LLMì´ ê° ë‹µì„ ì½ê³ , â€œì´ ë‹µì€ ì •í™•í•œê°€?â€, â€œë…¼ë¦¬ê°€ ë§ëŠ”ê°€?â€, â€œì„¤ëª…ì´ ì¶©ë¶„í•œê°€?â€ ê°™ì€ ê¸°ì¤€ìœ¼ë¡œ ì ìˆ˜ë¥¼ ë§¤ê¹ë‹ˆë‹¤.

2. ì‚¬ìš© ì´ìœ 
- ìë™ ì±„ì : ì‹œí—˜ ë¬¸ì œë‚˜ ê³¼ì œë¥¼ ì‚¬ëŒì´ ì¼ì¼ì´ ì±„ì í•˜ëŠ” ëŒ€ì‹ , LLMì´ ë¨¼ì € í‰ê°€ë¥¼ ë„ì™€ì¤„ ìˆ˜ ìˆìŠµë‹ˆë‹¤. (ë¹„ìš© íš¨ìœ¨ì )
- í”¼ë“œë°± ì œê³µ: ë‹¨ìˆœíˆ ì ìˆ˜ë§Œ ì£¼ëŠ” ê²Œ ì•„ë‹ˆë¼, ì–´ë–¤ ë¶€ë¶„ì´ ì¢‹ê³  ì–´ë–¤ ë¶€ë¶„ì´ ë¶€ì¡±í•œì§€ ì„¤ëª…ê¹Œì§€ ë§ë¶™ì¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

3. ì¥ì ê³¼ í•œê³„
- ì¥ì : ë¹ ë¥´ê³ , ì¼ê´€ì„± ìˆê²Œ ë§ì€ ë‹µì„ í‰ê°€í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- í•œê³„: LLMì€ í¸í–¥ì´ ì¡´ì¬í•˜ê¸° ë•Œë¬¸ì— ì™„ë²½í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤. SQLë¬¸ ì²˜ëŸ¼ ì–´ëŠì •ë„ ì •ë‹µêµ°ì´ ì¡´ì¬í•  ê²½ìš° LLM as a Judgeë³´ë‹¤ ì½”ë“œ ì‹¤í–‰ í‰ê°€ê°€ ë”ìš± íš¨ê³¼ê°€ í´ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

4. ì‚¬ìš© ì›ì¹™
- í‰ê°€ ê²°ê³¼ë¬¼ì€ ì ìˆ˜(score)ì™€ ì´ìœ (reason)ë¡œ êµ¬ì„±ë©ë‹ˆë‹¤. reasonì„ ìƒì„±í•˜ê²Œ í•¨ìœ¼ë¡œì¨ ëª¨ë¸ì´ ì¢€ë” ì •í™•í•œ í‰ê°€ë¥¼ í•˜ê²Œ ë§Œë“­ë‹ˆë‹¤.
- í‰ê°€ ê²°ê³¼ë¬¼ì´ ì¼ê´€ë˜ë„ë¡ seed ì„¤ì •ê³¼ temperatureë¥¼ 0ìœ¼ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.

ì—¬ê¸°ì„œëŠ” ë‹¤ë¥¸ ë°ì´í„°ì…‹ì—ì„œë„ í™œìš©ì´ ê°€ëŠ¥í•œ LLM as a Judge ë°©ë²•ë¡ ì„ ê²½í—˜í•´ë´…ë‹ˆë‹¤.

ê·¸ëŸ¬ë©´ LLM as a Judgeë¥¼ ì´ìš©í•˜ì—¬ ì´ì „ì— ìƒì„±í•œ í•©ì„± ë°ì´í„° ê²°ê³¼ë¬¼ì„ í‰ê°€í•´ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
evaluation_response_format = {
    "type": "json_schema",
    "json_schema": {
        "name": "evaluation_result",
        "strict": True, # ëª¨ë¸ì´ ìŠ¤í‚¤ë§ˆë¥¼ ê°•ì œë¡œ ë”°ë¥´ë„ë¡ ì„¤ì •
        "schema": {
            "type": "object",
            "properties": {
                "score": {
                    "type": "integer",
                    "description": "An integer score between 1 and 5 indicating the quality of reasoning.",
                    # 1~5 ë²”ìœ„ ê°•ì œ (ì§€ì› ëª¨ë¸ì˜ ê²½ìš°)
                    "minimum": 1, 
                    "maximum": 5
                },
                "critique": {
                    "type": "string",
                    "description": "A detailed explanation of the score, focusing on logical consistency and correctness."
                }
            },
            "required": ["score", "critique"],
            "additionalProperties": False
        }
    }
}

JUDGE_SYSTEM_PROMPT= """# Role
You are an Expert Logic Verifier and AI Evaluator. Your goal is to critically assess a model's performance based on its "Reasoning Process" (Chain of Thought) and "Final Response".

# Evaluation Criteria
You must evaluate the submission based on the following strict criteria:

1. **Logical Consistency**: Does the reasoning flow logically from step to step? Are there any gaps, jumps, or contradictions?
2. **Correctness**: Is the final answer factually and mathematically correct?
3. **Alignment**: Does the final answer directly result from the reasoning process provided? (Penalize if the reasoning is wrong but the answer is luckily correct).
4. **Efficiency**: Does the model avoid unnecessary verbosity and repetition? (Do not give higher scores just for longer text).

# Scoring Scale (1-5)
- **5 (Perfect)**: Flawless reasoning, correct answer, efficient explanation.
- **4 (Good)**: Correct answer with valid reasoning, but contains minor inefficiencies or redundant steps.
- **3 (Acceptable)**: Correct answer, but the reasoning is shaky, incomplete, or contains minor logical slips that don't affect the final outcome.
- **2 (Flawed)**: Wrong answer due to logical errors, OR correct answer derived from completely incorrect reasoning (Hallucinated Logic).
- **1 (Failure)**: Completely incorrect reasoning and incorrect answer, or irrelevant content.

# Input Format
- Reasoning Process: {reasoning}
- Final Response: {answer}

# Output Format
Provide your assessment in the following JSON format strictly:
{
  "score": "<integer_between_1_and_5>",
  "critique": "<string_explanation_of_the_score_focusing_on_logical_flaws>"
}
"""
user_prompt = "- Reasoning Process:" + labeled_data[0]["reasoning"] + "\n" + "- Final Response:" + labeled_data[0]["answer"]

response = client.chat.completions.create(
    model="solar-pro3",
    messages=[
        {
            "role": "system",
            "content": JUDGE_SYSTEM_PROMPT
        },
        {
            "role": "user",
            "content": user_prompt
        }
    ],
    response_format=evaluation_response_format,
    seed=42,
    temperature=0
)

llm_as_judge_output = response.choices[0].message.content
json.loads(llm_as_judge_output)

{'score': 3,
 'critique': 'The reasoning correctly identifies the need to count heads older than 56 and uses a join to ensure they are department heads, but it relies on speculative column names (e.g., Head_ID, Dept_ID, Age) without confirming they exist in the actual schema. The justification for using COUNT(DISTINCT) is not clearly explained, and the query assumes a direct relationship between head and department tables that may not be present. While the final SQL is plausible and efficient, the lack of concrete schema verification introduces logical gaps that could lead to incorrect results if column names differ.'}

ì´ì œ ê²€ìˆ˜í•˜ê¸° ìœ„í•´ì„œ LLM as a Judge ê²°ê³¼ë¬¼ì„ ë³´ê³  ë¹„êµ í‰ê°€ë¥¼ ì§„í–‰í•©ë‹ˆë‹¤.

ì•„ë¬´ë¦¬ LLMì˜ ì„±ëŠ¥ì´ ì¢‹ë”ë¼ê³  ì–´ëŠì •ë„ ì‚¬ëŒì˜ ê²€ìˆ˜ê°€ í•„ìš”í•œ ë¶€ë¶„ì´ ìˆìŠµë‹ˆë‹¤.

íŠ¹íˆ, í•´ë‹¹ ì˜ì—­ì— ì „ë¬¸ê°€ë¼ë©´ LLMë³´ë‹¤ ë” ë†’ì€ ìˆ˜ì¤€ì˜ ì§€ì‹ì„ ì•Œê±°ë‚˜ ë¼ë²¨ë§ì„ ë§ì´ í•´ë³¸ ë¼ë²¨ëŸ¬ë¼ë©´ ë§Œë“  ë°ì´í„°ì˜ íŠ¹ì„±ì´ ì´ìƒí•˜ë‹¤ëŠ” ê²ƒì„ íŒë‹¨í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ê·¸ë ‡ê¸°ì— LLM as a JudgeëŠ” ì–´ëŠì •ë„ íŒë‹¨ì˜ ê¸°ì¤€ìœ¼ë¡œë§Œ ì‚¬ìš©í•˜ê³  ì‚¬ëŒì˜ ê²€ìˆ˜ë¥¼ í•˜ëŠ” ê²ƒì´ ê°€ì¥ ê³ í€„ë¦¬í‹°ë¡œ ë§ì¶œ ìˆ˜ ìˆëŠ” ë°©ë²•ì…ë‹ˆë‹¤.

ê·¸ëŸ¬ë©´ ì´ì œ LLM as a Judge ê²°ê³¼ë¬¼ì„ ë‹´ê³  íŒŒì¼ë¡œ ë§Œë“¤ì–´ì„œ ì§ì ‘ ê²€ìˆ˜ë¥¼ ì§„í–‰í•´ë³´ì‹œê¸¸ ë°”ëë‹ˆë‹¤.

In [ ]:
labeled_data_with_judge = []
for i in tqdm(range(len(labeled_data))):
    user_prompt = (
        "- Reasoning Process:"
        + labeled_data[i]["reasoning"]
        + "\n"
        + "- Final Response:"
        + labeled_data[i]["answer"]
    )

    response = client.chat.completions.create(
        model="solar-pro3",
        messages=[
            {"role": "system", "content": JUDGE_SYSTEM_PROMPT},
            {"role": "user", "content": user_prompt},
        ],
        response_format=evaluation_response_format,
        seed=42,
        temperature=0,
    )

    llm_as_judge_output = response.choices[0].message.content
    labeled_data_with_judge.append({
        **labeled_data[i],
        **json.loads(llm_as_judge_output),
    })

print(labeled_data_with_judge)

  0%|          | 0/10 [00:00<?, ?it/s]

In [ ]:
with open("labeled_data_with_judge.json", "w", encoding="utf-8-sig") as f:
    json.dump(labeled_data_with_judge, f, indent=4, ensure_ascii=False)

{'score': 5,
 'critique': 'The reasoning correctly identifies the need to join the head and department tables to ensure we count only heads of departments, uses appropriate column names (Head_ID, Age, Dept_ID), filters for age > 56, and applies COUNT(DISTINCT) to avoid double-counting heads who may head multiple departments. The final SQL query directly implements this logic without unnecessary steps, is logically consistent, and aligns perfectly with the question.'}

ì§€ê¸ˆê¹Œì§€ Knowledge Distillationì„ ìœ„í•´ì„œ ê¸°ë³¸ í™˜ê²½ ì„¤ì •ê³¼ í”„ë¡¬í”„íŠ¸ ì—”ì§€ë‹ˆì–´ë§, LLM as a Judge ë°©ì‹ì„ ë°°ì›Œë³´ì•˜ìŠµë‹ˆë‹¤.

ëª¨ë¸ì˜ ì„±ëŠ¥ì— ë”°ë¼ì„œ ë¹„ìš©ë„ ì¦ê°€í•˜ê³  ì‹œê°„ë„ ì¦ê°€í•˜ê¸° ë•Œë¬¸ì— ì–´ë–»ê²Œ í•˜ë©´ ë¹„ìš©ê³¼ ì‹œê°„ì„ ìµœì í™”í•˜ì—¬ ë°ì´í„°ë¥¼ ë§Œë“¤ ìˆ˜ ìˆì„ì§€ ê³ ë¯¼í•´ë³´ì‹œê¸¸ ë°”ëë‹ˆë‹¤.